- Importing the libraries here...

In [1]:
# !python -m spacy download en

# !python -m spacy download en_core_web_lg

In [2]:
# !pip install truecase

In [1]:
import nltk
# nltk.download()
import pandas as pd
import spacy
# from spacy import displacy
# from collections import Counter
import en_core_web_lg
nlp = en_core_web_lg.load()
import re
import truecase

In [2]:
import numpy as np
import ast
import json
# from operator import add 
# from operator import truediv

In [3]:
# !python -m spacy download en_core_web_lg
# python -m spacy download en_core_web_lg

In [4]:
  # tech = pd.read_csv("/content/Technology Summary Matching Project - technologies.csv")
  # summary = pd.read_csv("/content/c22b731c-cff3-4c60-b880-9f42f2fe45cb.csv")
  # output = pd.read_csv("/content/output - output.csv")

In [5]:
# tech = pd.read_csv("Dataset/Technology Summary Matching Project - technologies.csv")
tech = pd.read_csv("Eng_pydictionary_2.csv")

# summary = pd.read_csv("a4f32761-65b8-45e8-99ed-fb8ad4a63f8d.csv")
# summary = pd.read_csv("train_data_original_untagged.csv")
summary = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/tagged_simanchala_100.csv")

# summary = pd.read_csv("Train_Data/String_Match_non_duplicates - String_Match_non_duplicates.csv")
output = pd.read_csv("Dataset/output - output.csv")

In [12]:
tech.head()

                      title
0                   Lattice
1  EMERGE Background Checks
2                   Tenfold
3           Friday Feedback
4                Data Dwell

In [10]:
len(tech)

5291

In [8]:

tech.columns = ["index", "title"]
tech.drop(columns = ["index"], axis = 1, inplace=True)

In [11]:
tech.reset_index(inplace = True, drop = True)

In [13]:
for i in range(0, len(summary)):
    if summary["summaries"][i] is not np.nan:
        demo = summary["summaries"][i]
        res = demo.strip('][')
        resl = []
        resl.append(res)
        summary["summaries"][i] = resl
        
    else:
        summary["summaries"][i] = '[]'
        demo = summary["summaries"][i]
        res = demo.strip('][')
        resl = []
        resl.append(res)
        summary["summaries"][i] = resl

<ipython-input-13-fd59b7ba5a93>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary["summaries"][i] = resl

In [14]:
# # Count no of lowercase and uppercase in the whole data

# # Python3 program to count upper and 
# # lower case characters without using 
# # inbuilt functions 
# def count_upperlower(df):
#     upper = 0
#     lower = 0
#     lower_list = []
#     upper_list = []
    
#     for ind in df.index:
#         print(ind)
        
#         if df["summaries"][ind][0].islower():
#             lower_list.append(ind)
#             lower+=1
            
#         elif df["summaries"][ind][0].isupper():
#             upper_list.append(ind)
            
#             upper+=1
#     return lower, upper, lower_list, upper_list

In [15]:
# lower_count, upper_count, lower_list, upper_list = count_upperlower(summary)

# Truecasing

In [16]:
for ind in summary.index:
    summary["summaries"][ind][0] = truecase.get_true_case(summary["summaries"][ind][0])

In [17]:
# # h = nlp('Bachelor of science( B. S) degree in" telecommunications networks and software" program at Politehnica University- electronics, telecommunications and information technology faculty master of science( M. S.) degree in" management of networks and services" program at Politehnica University- electronics, telecommunications and information technology faculty routing and switching skills Cisco Ccna( 640-802 certification) Cisco Ccnp route( 642-902 certification: implementing Cisco IP routing) Cisco Ccnp switch( 642-813 certification: implementing Cisco IP switched networks) Cisco Ccnp Tshoot( 642-832 certification: Troubleshooting and maintaining Cisco IP networks) experience in Troubleshooting and deploying networks using major L2/ L3 protocols and platforms:- routing protocols( rip, Ospf, Eigrp, Is-Is, Bgp)- data link protocols( Stp, Rstp, Mstp)- first hop redundancy protocols: Hsrp, Vrrp, Glbp- Mpls fundamentals- Cisco, nexus, Juniper, Alcatel SR platforms- Unix/ Linux- basic, master of science( M. S.) degree in" management of networks and services"- Politehnica University- electronics, telecommunications and information technology faculty bachelor of science( B. S) in" telecommunications networks and software"- Politehnica University- electronics, telecommunications and information technology faculty experience in operation and maintenance, planning and deploying large scale networks using high availability/ routing and switching Technologies in the likes of: Hsrp/ Vrrp, Ospf, Bgp, Mpls, LDP experience in working with network automation and deployment tools and scripts using Versioned repositories( git), Jinja Templates, Bash/ python scripts. Cisco certified network professional routing and switching( Ccnp routing and switching),\' Politehnica\' University of Bucharest graduate in 2011, electronics, telecommunications and information technology faculty master in networks and services management at the same faculty, diploma obtained in July 2013. bachelor degree in telecommunications software and networks- routing protocols( rip, Ospf, Eigrp, Is-Is, Bgp)- data link protocols( Stp, Rstp, Mstp, Cdp, Ppp)- first hop redundancy protocols: Hsrp, Vrrp, Glbp- Mpls fundamentals- Cisco, nexus, Juniper, Alcatel SR platforms- Unix/ Linux- basic- good knowledge of Microsoft office suite: word, excel, power point, Visio specialties- Cisco routing and switching- Cisco Ccna certified- Cisco Ccnp route diploma- Sdh/ Dwdm- basic level, Mihnea Tudor. network development engineer- Internet services at Amazon ... bachelor of science( B. S) degree in" telecommunications networks and software" program at Politehnica University- electronics ... Cisco, nexus, Juniper, Alcatel SR platforms ... network engineer at workday ... Linkedin members in Ireland:., senior network analyst at continent 8 technologies, network specialist at Asavie')
# # h = nlp("Linux")
# [(ent.text, ent.label_) for ent in h.ents]

In [18]:

def dictionary_with_title_description(df):
    company_names_description = {}
    
    for i in range(0, len(df)):
        
        doc = nlp(df.loc[i, "summaries"][0])
        
        for X in doc.ents:
            if (X.label_ == 'ORG'):
                
                company_names_description.setdefault(df.loc[i, "id"], [])
                company_names_description[df.loc[i, "id"]].append(X.text)
                
    print("Company names extracted from Summaries : \n",company_names_description)

    return company_names_description

In [19]:
# function call
company_names_description = dictionary_with_title_description(summary)

Company names extracted from Summaries :

In [20]:
# adding More Entities and removing duplicates in the company_names_description dictionary

In [21]:
# df_entity = pd.read_csv("entity_other_from_ner.csv")

In [22]:
# # Converting dumped data into proper format i.e string into list

# # Pass the matched technology column that we got
# def convert_data_format(df,column_name):
    
#     for i in range(0, len(df)):
        
#         if df[column_name][i][0] == '[':
#             res = ast.literal_eval(df[column_name][i])
#             df[column_name][i] = res
            
#         else:
#             x = []
#             x.insert(0, df[column_name][i])
#             df[column_name][i] = x
            
#     return df

In [23]:
# df_entity = convert_data_format(df_entity, "combined_list_unique")

In [24]:
#     k = df_entity[df_entity["id"]=="zPnnWGWHb2gSYnd98GKaag_0000"].index.values
#     list_final = df_entity["combined_list_unique"][k[0]]
#     list_final

In [25]:
# # adding more ents in list
# for key, value in company_names_description.items():
#     k = df_entity[df_entity["id"]==key].index.values
#     list_final = df_entity["combined_list_unique"][k[0]]

#     company_names_description[key] = company_names_description[key]+list_final

In [26]:
company_names_description

{'zPnnWGWHb2gSYnd98GKaag_0000': ['Unicorn Wrangler&',
  'Hewlett Packard',
  'Unicorn Wrangler&',
  'Microsoft'],
 'z5LcE0BcZevf5WmwL8nunQ_0000': ['Cisco Ccna',
  'Cisco Ccnp',
  'Cisco IP',
  'Cisco Ccnp',
  'Cisco IP',
  'Cisco Ccnp Tshoot',
  'Cisco IP',
  'Ospf',
  'Stp',
  'Rstp',
  'Juniper',
  'Alcatel SR platforms-',
  'software"- Politehnica University-',
  'Technologies',
  'Ospf',
  'LDP',
  'Versioned',
  'Bash/',
  'Cisco',
  'Ccnp',
  'Ospf',
  'Stp',
  'Rstp',
  'Juniper',
  'Alcatel SR platforms-',
  'Microsoft',
  'Visio',
  'Cisco',
  'Amazon',
  'Cisco',
  'Juniper',
  'Alcatel SR'],
 'xi8skZhrJpM4GVvKfqmuiQ_0000': ['Icandydesigns',
  'Nordstrom',
  'Nordstrom',
  'Nordstrom',
  'Icandydesigns',
  'Nordstrom',
  'Nordstrom',
  'Nordstrom',
  'Icandydesigns',
  'Turner',
  'Nordstrom',
  'Fnl',
  'Nordstrom'],
 'xemFTL4WGIObJBz0VZv0gg_0000': ['Life-Cycle',
  'Technology',
  'Life-Cycle',
  'Technology',
  'Life-Cycle',
  'Technology',
  'SR',
  'Olympus',
  'Olympus'],
 'wGX7QmVHBijxQrH-U3ncbA_0000': ['Steelworks',
  'Leea',
  'Multi-Cultural',
  'Multi-Cultural',
  'Leea',
  'Leea',
  'Multi-Cultural',
  'Multi-Cultural',
  'Multi-Cultural',
  'Brookfield Multiplex',
  'Multiplex'],
 'udzSvEueVZeZraRcjx0Uvw_0000': ['Catia',
  'CNC',
  'Spar',
  'Boeing',
  'Spacex',
  'Lockheedmartin,',
  'Mastercam',
  'Topsolid',
  'Offline Catia NC',
  'Shop-Data',
  'Catia V5 V6',
  'Nx',
  'IMS',
  'Vb',
  'Assembly',
  'Spar',
  'Boeing',
  'Spacex',
  'Lockheedmartin,',
  'Offline Catia NC',
  'Shop-Data',
  'Catia V5 V6',
  'Nx',
  'IMS',
  'Vb',
  'Assembly',
  'Spar',
  'Boeing',
  'Spacex',
  'Lockheedmartin,',
  'Catia V5 V612',
  'Assembly',
  'Mazak 5',
  'Hmc',
  'Fidia 5 axis',
  'Cincinnati Gantry Millpost',
  'Mazak 5',
  'Hmc',
  'Catia',
  'Nx NC',
  'Catia& Nx',
  'Javelin'],
 'uWBB4Pvsoy2jFD-7tGKUbA_0000': ['SME', 'SME', 'Aswell'],
 'u8BBNB4He8NQMMyWTUfjQA_0000': ['Lawrence University',
  'Macroeconomics',
  'Lawrence University',
  'Appleton',
  'LLC',
  'Lawrence University',
  'Lawrence University',
  'Lawrence University',
  'Admitad GmbH',
  'Appleton',
  'LLC'],
 'tth0oBANkcyQgJRn1q6LBg_0000': ['Multi-Tasking',
  'Online/',
  'Multi-Tasking',
  'Online/',
  'Multi-Tasking',
  'Online/',
  'Digital',
  'Activewin media',
  'Activewin'],
 'tbDgkk1SsTToUedHcsllYA_0000': ['Recruiters of Detroit& Farmington hills',
  'Herreshoff cat Ketch',
  '& Mizzen',
  'Oak interiors& 1/2 Wishbone Teak',
  'Recruiters of Detroit& Farmington hills',
  'Herreshoff cat Ketch',
  '& Mizzen',
  'Oak interiors& 1/2 Wishbone Teak',
  'Recruiters of Detroit& Farmington hills',
  'Herreshoff cat Ketch',
  '& Mizzen',
  'Oak interiors& 1/2 Wishbone Teak',
  'Linkedin',
  'Linkedin',
  'Recruiters of Detroit'],
 't7aOtStFnu3uo315iAAr-Q_0000': ['Dev',
  'Oracle Database and Erp',
  'SQL',
  'Nist',
  'ISO 27001',
  'Saas',
  'environments.-',
  'Dev',
  'Oracle Database and Erp',
  'Atlassian Jira& Confluence',
  'Salesforce',
  'SQL',
  'Nist',
  'CIS',
  'Disa-Stig',
  'ISO 27001',
  'Saas',
  'environments.-',
  'Dev',
  'Oracle Database and Erp',
  'Atlassian Jira& Confluence',
  'Salesforce',
  'SQL',
  'Nist',
  'CIS',
  'Disa-Stig',
  'ISO 27001',
  'Facebook'],
 'sZtUwywexqP7-9UH4LxZvg_0000': ['SR',
  'T-Mobile',
  'SR',
  'SR',
  'SR',
  'Pacific Northwest',
  'Council',
  '& Corpdev'],
 'sQDmPUvJBPi0Sqv0lSESbQ_0000': ['Tiaa Bank',
  'Everbank',
  'Tiaa Bank',
  'Everbank',
  'STE 109 Coral Gables',
  'FHA',
  'Home-Buyer',
  'FHA',
  'Home-Buyer',
  'Everbank/ Nmls',
  'American Bancshares'],
 'r-cTUKsWGhVxwdge82Yu-w_0000': ['University',
  'Pre-Sales/ Post-Sales',
  'Architecting',
  '& Hyper-Converged',
  'University',
  'Pre-Sales/ Post-Sales',
  'Architecting',
  '& Hyper-Converged',
  'University',
  'Pre-Sales/ Post-Sales',
  'Architecting',
  'Emc Certfied San',
  'Vmware',
  'University',
  'Pre-Sales/ Post-Sales',
  '& Hyper-Converged',
  'Pre-Sales/ Post-Sales',
  '& Hyper-Converged',
  'Sanovi Technologies',
  'Governance',
  'Thomson Reuters',
  'Sanovi',
  'IBM'],
 'qJqT0aT-Fb0NbZYj4p1wLg_0000': ['Mentorship/',
  '& Re-Positioning',
  'Xerox',
  '& Re-Positioning',
  'Pro-Active',
  'Analytical',
  '& Re-Positioning',
  'Xerox Canada Ltd.',
  'Xerox'],
 'q3PVYm0QBQYvDAQ1SU2jTQ_0000': ['Amazon',
  'Salesforce',
  'Vodafone',
  'BA Hons',
  'Vodafone',
  'Vodafone',
  'Amazon',
  'Salesforce',
  'Peoplesoft',
  'Uat',
  'Vodafone',
  'Prague International',
  'Amazon'],
 'owibSjF2u-sTkdaBgl59xA_0000': ['Northrop GRUMMAN corporation'],
 'oPVWrLTkRwySuVByvgD7YQ_0000': ['Linkiesta',
  "L'Opinione",
  'Linkiesta',
  "L'Opinione",
  'CSR',
  'Linkiesta',
  "L'Opinione",
  'Businesss',
  'House&',
  'Linkiesta',
  "L'Opinione",
  'Linkiesta',
  "L'Opinione",
  "L'Opinione",
  'Radiotelevisione Italiana'],
 'oOTj93pzNfXgOir-roRvOQ_0000': ['Recruiters',
  'Qa',
  'Sharepoint',
  'Biztalk&',
  'Recruiters',
  'Qa',
  'Sharepoint',
  'Biztalk&',
  'Recruiters',
  'Qa',
  'Sharepoint',
  'Biztalk&',
  'Vdart',
  'Vdart Technologies',
  'Vdart Inc',
  'Vdart Inc'],
 'oJgQgxxXMeemR-qKaQ09pw_0000': ['Mikkeller San Diego', 'GM'],
 'oEArApI0BryPgwBwOybKxw_0000': ['Digital',
  'Zigbee',
  'Lte',
  'Cat-M',
  'Digital',
  'IP',
  'Iec 60601-1',
  'ISO 13485',
  'FCC',
  'Ce and Ul',
  'CAD',
  'Digital',
  'Zigbee',
  'Lte',
  'FCC',
  'Ce, IC, Ul',
  'Iec 60601-1',
  'Iec 60601',
  'FDA',
  'FDA',
  'ISO 9001:2015',
  'ISO 13485',
  'Npi',
  'EMS',
  'Qty',
  'CAD',
  'Allegro',
  'Digital',
  'Digital',
  'IP',
  'Iec 60601-1',
  'ISO 13485',
  'CAD',
  'Digital',
  'Digital',
  'IP',
  'Iec 60601-1',
  'ISO 13485',
  'CAD',
  'Digital',
  'Digital',
  'IP',
  'Validationgoal',
  'CAD',
  'Volansys Technologies pvt Ltd',
  'Azoi Inc',
  'Volansys Technologies'],
 'oBpwX7oc0W-Z9DYr0t01Yg_0000': ['Self-Improvement',
  'Process-Oriented',
  'Data',
  'CAD',
  'Dvp& R',
  'Electro-Mechanical',
  'Self-Improvement',
  'CAD',
  'Dfx, Fmea',
  'Dvp& R',
  'Electro-Mechanical',
  'Self-Improvement',
  'CAD',
  'Electro-Mechanical',
  'Keurig',
  'Keurig',
  'Keurig',
  'Keurig',
  'Reliability',
  'Keurig',
  'Reliability',
  'Keurig',
  'Keurig'],
 'lwOeVYCDpGjm1pbFuFM63A_0000': ['Itti blank|+',
  'Re-Located',
  'II',
  'II Inc.',
  'Itti blank|+',
  'Re-Located',
  'II',
  'II Inc.',
  'II Inc.',
  'Itti blank|+',
  'Time-Line',
  'Re-Located',
  'II',
  'II Inc.',
  'II Inc.',
  'II Inc.',
  'II',
  'DBA',
  'II Inc.',
  'II',
  'DBA',
  'Cureiosities'],
 'lsyGs3Wy1kabQgBF4kdtsw_0000': ['Alvarez& Marsal',
  'Implementations',
  'M& a hr Integrations',
  'Analytical',
  'Analytical',
  'Hris&',
  'LLC',
  'Rust-Oleum',
  'LLC'],
 'llvcxHwBgTVIw3PgJawDwg_0000': ['Re-Branded',
  'Digital',
  'Digital',
  'Tech Academy',
  'Ncaa',
  'Adams state university',
  'the San Luis Valley'],
 'lhOzBE79BvYncvzQ2h30tg_0000': ['Bank',
  'Bank/ PNC',
  'Treasury',
  'Treasury',
  'Implementations',
  'Treasury',
  'Treasury',
  'Treasury',
  'Treasury',
  'the Southwest Ohio Association',
  'Bank/ PNC',
  'Implementations',
  'Treasury',
  'Treasury',
  'Dayton',
  'Bank/ PNC',
  'Implementations',
  'Treasury',
  'Treasury',
  'Bank/ PNC',
  'Implementations',
  'Treasury',
  '& Treasury',
  'Treasury',
  'Bank'],
 'jzoGMqvflaw31IOzBFkcEA_0000': ['Gsgs',
  'Citco',
  'AML',
  "Western Union'",
  'AML',
  'Moneta International',
  'AML',
  'AML',
  'Western Union',
  'Gsgs',
  'Citco',
  'AML',
  'Gsi',
  'Western Union',
  'Moneta International UAB'],
 'jytsaXFxY7tX5CGXa7OqsQ_0000': ['Tech',
  'the University of Rhode Island',
  'the University of Rhode Island',
  'the University of Rhode Island',
  'the University of Rhode Island',
  'the University of Rhode Island',
  'the University of Rhode Island',
  'Sdl',
  '& ANALYTICS'],
 'iKco7NV9OC3Ext5FAy2sxw_0000': ['Impactful',
  'Organisational',
  'Multidisciplinary',
  'Cognition',
  'Co-Founder of Outware',
  'Organisational',
  'Multidisciplinary',
  'Cognition',
  'Co-Founder of Outware',
  'Multidisciplinary',
  'Cognition',
  'Organisational',
  'Multidisciplinary',
  'Cognition',
  'Co-Founder/',
  'Outware'],
 'hvUFh1zBD8Wm6knPIMhQCQ_0000': ['Sub-Saharan Africa'],
 'h5n8IuHP9cjm5NB20yJKKA_0000': ['Ff',
  'Ff',
  'Ff',
  'Ff',
  'Goldman Sachs',
  'Nasdaq',
  'Indiegogo',
  'Skycatch',
  'Bottlenose',
  'Ff',
  'Technology-Enabled',
  'Indiegogo',
  'Unikey',
  'Skycatch',
  'Pebblepost',
  'Owlet',
  'NYU Tandon school',
  "Engineering'S",
  'Goldman Sachs',
  'Ff',
  'Technology-Enabled',
  'Cloud-Based',
  'Uavs',
  'Indiegogo',
  'Unikey',
  'Socure',
  'Skycatch',
  'Bottlenose',
  'Goldman Sachs',
  'Goldman Sachs',
  'Finance',
  'Ff',
  'Ff',
  'Estify'],
 'grpB85GrZaIcq-HRhcNj6Q_0000': ['Dmz',
  'Security Technologies',
  'Sonicwall Gms',
  'Nessus',
  'Splunk',
  'Digital Gaurdian',
  'Meraki',
  'DOT',
  'Cisco Routers',
  'Ipsec Vpn&',
  'Vpn',
  'IMC',
  'Solarwinds',
  'Mrtg, Prtg',
  'Visio',
  'Vpn& Bgp',
  'Dmz',
  'Security Technologies',
  'Dell Sonicwall Gms',
  'Nessus',
  'DOT',
  'Cisco Routers',
  'Fwsm/ Checkpoint/ Juniper/ Dell Sonicwall/ Fortigate',
  'Ipsec Vpn&',
  'Vpn',
  'IMC',
  'Solarwinds',
  'Mrtg, Prtg',
  'Visio',
  'Vpn& Bgp',
  'Dmz',
  'Centers',
  'Cisco Routers',
  'Cisco ASA/ IDS/',
  'Fwsm/ Checkpoint/ Juniper/ Dell Sonicwall/ Fortigate',
  'Ipsec Vpn&',
  'Vpn',
  'IMC',
  'Solarwinds',
  'Mrtg, Prtg',
  'Toolssecurity Technologies',
  'Dell Sonicwall Gms',
  'Nessus',
  'DOT',
  'Visio',
  'Vpn& Bgp',
  '& PCI',
  'Splunk',
  'Sitel'],
 'gkTKXZqBImbZp26gNPYFEQ_0000': ['Everchanging Wireless',
  'the Un-Carrier',
  'Everchanging Wireless',
  'Everchanging Wireless',
  'Everchanging Wireless',
  'Everchanging Wireless',
  'Everchanging Wireless',
  'T-Mobile'],
 'gBOCU6AP5kiTqnAsBjH1lQ_0000': ['Impactful Digital',
  'Multi-Tasking',
  'Matrix',
  'Cross-Functional',
  'Testimonials/',
  'Impactful Digital',
  'Multi-Tasking',
  'Cross-Functional',
  'Digital',
  'Ui',
  'Testimonials/',
  'Impactful Digital',
  'Multi-Tasking',
  'Cross-Functional',
  'Digital',
  'Ui',
  'Testimonials/',
  'Tech',
  'Digital'],
 'fypHOrK61HY-XC0RAf-Y5Q_0000': ['Opito level',
  'Ccnsg',
  'Leea',
  'Loler',
  'Oertm',
  'Hda-Ert Nopega Hlo Nopega',
  '& Guilds',
  'Ccnsg',
  'Leea',
  'Loler',
  'Oertm',
  'Hda-Ert Nopega Hlo Nopega',
  '& Guilds',
  'Opito level',
  'Banksman/ Slinger',
  'Ccnsg',
  'Leea',
  'Loler',
  'Oertm',
  'Norwegian Maritime',
  '& Guilds',
  'Opito',
  'Iosh-Working',
  'Ccnsg',
  'Leea',
  'Loler',
  'Hda/ Ert/ Frc&',
  'Coxswain',
  'Apave Ghana'],
 'fnCCUnbQkZEB0WAyzp-syQ_0000': ['CNS',
  'Analytical',
  'Ich-Gcp E6',
  'CFR',
  'Edc',
  'Cross-Functional',
  'Linkedin',
  'CNS',
  'Analytical',
  'Ich-Gcp E6',
  'CFR',
  'Edc',
  'Cross-Functional',
  'Linkedin',
  'Rutgers University',
  'Neuroscience',
  'Research-Based',
  'Ich-Gcp',
  'Linkedin',
  'MGMT',
  'CNS',
  'Rutgers',
  'Neuroscience',
  'Icg-Gcp E6',
  'MGMT',
  'MGMT',
  'Cross-Functional',
  'Linkedin',
  'Rutgers University',
  'Neuroscience',
  'Research-Based',
  'Rutgers University',
  'Neuroscience',
  'Internship',
  'Rutgers',
  'Rutgers',
  'Accenture',
  'Honda R& D America',
  'CNS'],
 'fQ2ZZYOxKpdNYTC6TLFObA_0000': ['Angularjs 1',
  'Reactjs',
  'Phonegap',
  'Javascript',
  'Angularjs 1',
  'Jquery',
  'Xcode',
  'Android',
  'Iphone/ Ipad Apps',
  'environments.-',
  'Angularjs 1',
  'Reactjs',
  'Phonegap',
  'Javascript',
  'Angularjs 1',
  'Jquery',
  'Xcode',
  'Android',
  'Iphone/ Ipad Apps',
  'environments.-',
  'Phonegap',
  'Reactjs',
  'Javascript',
  'Jquery',
  'Xcode',
  'Android',
  'Iphone/ Ipad Apps',
  'environments.-',
  'Javascript',
  'Jquery',
  'Xcode',
  'Iphone/ Ipad Apps',
  'environments.-',
  'Iphone/ Ipad Apps',
  'environments.-',
  'SR',
  'Mobiloitte',
  'Infosys'],
 'eyqZLYXmbI7ukANzz8zgeA_0000': ['Finance',
  'Microsoft',
  'Finance',
  'Microsoft',
  'Finance',
  'Microsoft',
  'Cloud-Based',
  'Cloud-Based',
  'Digital',
  'Finance',
  'Digital',
  'Finance',
  'Hewlett-Packard'],
 'dw-hKLsrQSEUChJDGhWv2g_0000': ['Ultra',
  'Analytical&',
  'Stage-Gate',
  'Ultra',
  'Analytical&',
  'Stage-Gate',
  'Ultra',
  'Analytical&',
  'Stage-Gate',
  'Ultra',
  'Analytical&',
  'Stage-Gate',
  'Scott',
  'Trelleborg',
  'Michelin'],
 'dnImmWK9SCO2YwCe96ojSQ_0000': ['E& P',
  '2d& 3D',
  'E& P',
  '2d& 3D',
  'E& P',
  '2d& 3D',
  'E& P',
  '2d& 3D',
  'Baker Hughes',
  'Geophysicist',
  'Geophysicist at Jb Geosciences'],
 'cgsrEakp1FaqiOAAUD4ipg_0000': ['MSC',
  'Housinganywhere',
  'MSC',
  'Self-Education',
  'Eu',
  'Integritas',
  'Erasmus University',
  'Com',
  'Integritas',
  'Webster University'],
 'cTW7Pqtt7bKT-vR46j0zvA_0000': ['Microelectronics',
  'Synopsys',
  'ICC 2',
  'Shell',
  'GPU',
  'Microelectronics',
  'Synopsys',
  'ICC 2',
  'Shell',
  'GPU',
  'Microelectronics',
  'Synopsys',
  'ICC 2',
  'Redhawk',
  'Shell',
  'Microelectronics',
  'Vlsi/ Asic Digital IC',
  'Finfet',
  'Synopsys',
  'ICC',
  'Star-Rc',
  'Shell',
  'Signoff',
  'Microelectronics',
  'Tsmc Finfet',
  'Synopsys',
  'ICC 2',
  'Redhawk',
  'Shell',
  'Tcl/ TK',
  'Signoff',
  'Smartplay Technologies',
  'Visvesvaraya National Institute',
  'Smartplay Technologies',
  'SR',
  'Qualcomm'],
 'b4KHSrsYZcamh6oXJWld0g_0000': ['Java',
  'COBOL',
  'Cics',
  'Tso',
  'Changeman',
  'Control-M',
  'IBM',
  'Altamira',
  'Module',
  'Module',
  'Self-Organization',
  'Java',
  'COBOL',
  'Cics',
  'Tso',
  'Changeman',
  'Control-M',
  'IBM',
  'Altamira',
  'Module',
  'Module',
  'Self-Organization',
  'Java',
  'COBOL',
  'Cics',
  'Tso',
  'Changeman',
  'Control-M',
  'IBM',
  'Altamira',
  'Module',
  'Module',
  'Self-Organization',
  'COBOL',
  'Cics',
  'Tso',
  'Changeman',
  'Control-M',
  'IBM',
  'Altamira',
  'Module',
  'Module',
  'Self-Organization',
  'COBOL',
  'Cics',
  'Tso',
  'Changeman',
  'Control-M',
  'IBM',
  'Altamira',
  'Module',
  'Module',
  'Self-Organization'],
 'avogC0yF9sNEWxARekacUw_0000': ['GE',
  'Staad',
  'ACI',
  'IBC',
  'Ubc',
  'Beam',
  'GE',
  'GE',
  'SME&',
  'GE',
  'Vadodara Toastmasters',
  'SR',
  'Bridgei 2I ANALYTICS',
  'Hewlett Packard'],
 'aezg7K7YHjEMLWdLmrB9zw_0000': ['Ato',
  'Treasury',
  'Registry',
  'Irise',
  'Balsamic& Html/',
  'Ato',
  'Treasury',
  'Registry',
  'Irise',
  'Balsamic& Html/',
  'GST',
  'Registry',
  'GST',
  'Registry',
  'Irise',
  'ADP'],
 'aJP7XfzHBqMWTNSoOJZeuA_0000': ['Mercedes-Benz HK Ltd.',
  'the University of Ireland',
  'Mercedes-Benz HK Ltd.',
  'the University of Ireland',
  'Mercedes-Benz HK Ltd.',
  'the University of Ireland',
  'HK'],
 'ZtzT0811R-BIyA6wT1qtlQ_0000': ['Renaissance-Man',
  'Multi-Disciplinary',
  'Multi-Disciplinary',
  'Gallatin'],
 'Znp9f-UWby49HRGlCgGHxw_0000': ['Ecommerce',
  'Amazon',
  'Marketplaces',
  'Wal-Mart',
  'Ebay',
  'Google& Amazon',
  'Digital',
  'Upglobal',
  'Leesa Mattress',
  'the Smithsonian Channel',
  'Digital',
  'Navy',
  'Navy',
  'Navy',
  'Quinnipiac University',
  'PPC',
  'Google',
  'Digital',
  'Upglobal',
  'the Smithsonian Channel',
  'Digital',
  'Digital',
  'Seo',
  'Google',
  'Navy',
  'Digital',
  'Checkmate',
  'PPC',
  'Bobsled'],
 'Zip2P5W63v0tYF5jEwbo0w_0000': ['K litigation Paralegal',
  'INTL',
  'Midtwon',
  'Exp',
  'Paralegal',
  'Paralegal',
  'Midtown',
  'Paralegal',
  'Transactional/',
  'K DOE',
  'K DOE',
  'K DOE',
  'Paralegal'],
 'ZgQQyGoSjvLRPSdzE2uSAw_0000': ['Job-Costing',
  'Subcontractor',
  'DOT',
  'Msha',
  'Job-Costing',
  'Subcontractor',
  'DOT',
  'DOT',
  'Job-Costing',
  'Subcontractor',
  'DOT',
  'Eide Bailly Llp'],
 'XfYHqKUckGPJiO8MxZWNrA_0000': ['Digital',
  'Fintech',
  'Productize',
  'Academy',
  'Purpose-Driven',
  'Digital',
  'Academy',
  'Me/1Kq6Xsm',
  'Com',
  'Group>>> Www',
  'Groups/Gethappymakemoney Www',
  'Gethappymakemoney Twitter @Daniellescorp Instagram Https://Instagram',
  'Com',
  'Youtube',
  'Com/',
  'Channel/Ucuhfaovn-89Pe2Yulnajnhw Pinterest',
  'Com',
  'Gethappycourse/',
  'Com',
  'Group>>> Www',
  'Groups/Gethappymakemoney Www',
  'Gethappymakemoney Twitter @Daniellescorp Instagram Https://Instagram',
  'Com',
  'Youtube',
  'Com/',
  'Channel/Ucuhfaovn-89Pe2Yulnajnhw Pinterest',
  'Com',
  'Gethappycourse/',
  '@Huffpost',
  'Academy',
  'Facebook',
  '@Huffpost',
  "Cio'S",
  'Fintech',
  'Blockchain',
  '@Huffpost',
  'Digital',
  '@Huffpost',
  '& contributor@ Huffington'],
 'XDp0qW4NNrPkCOWBOD3Efg_0000': ['Digital',
  'Treasury',
  '4.Workforce',
  'TELECOMS',
  'Sharepoint',
  'Erp',
  'Pki',
  'DC& Dr',
  'Digital',
  'Treasury',
  '4.Workforce',
  'TELECOMS',
  'Sharepoint',
  'Erp',
  'Pki',
  'DC& Dr',
  'Treasury',
  'TELECOMS',
  'Sharepoint',
  'Erp',
  'Pki',
  'DC& Dr',
  'Asia Pacific',
  'Infotech',
  'TELECOMS',
  'Wipro',
  'Asia Pacific',
  'Infotech',
  'Infotech'],
 'WBJ7usAgsvpHWleF7T4liw_0000': ['Herbal',
  'Trainer',
  'Picklifeinc',
  'Theater',
  'Models/',
  'Herbal',
  'Trainer',
  'Picklifeinc',
  'Theater',
  'Models/',
  'Models/',
  'Ferris'],
 'W-5G5QIDwO4Bf0TDwAfwMw_0000': ['& Architecting',
  'Aws, Azure',
  'Li Digital',
  'HCL Technologies',
  'Nextag',
  'Micro-Service',
  'Drools',
  'ESB',
  'Anypoint',
  'HCL Technologies',
  'Apac regions.-',
  'Nextag',
  'Micro-Service',
  'Drools',
  'ESB',
  'Anypoint',
  'Micro-Service',
  'Drools',
  'ESB',
  'Aws',
  'Anypoint',
  'HCL Technologies',
  'Nextag',
  'HCL Technologies',
  'Indian Institute',
  'HCL Technologies'],
 'VfXZF6zM1qN-4QcvltAM3Q_0000': ['Aligning',
  'Competencies',
  'Conf-Irm',
  'Conf-Irm',
  'Aligning',
  'Competencies',
  'Conf-Irm',
  'Conf-Irm',
  'Conf-Irm',
  'Conf-Irm',
  'Aligning',
  'Conf-Irm',
  'Conf-Irm',
  'Aligning',
  'Conf-Irm',
  'Conf-Irm',
  'Conf-Irm',
  'Cisco systems',
  'Canada Co.'],
 'VB5eheB-bmUish86Rt4-CA_0000': ['Grenoble Ecole de',
  'Finance',
  'Philanthropy',
  'the Interfraternity Council',
  'Corporation',
  'Columbia',
  'ADP',
  'ADP',
  'Straube Associates',
  'Grenoble Ecole de',
  'NU',
  'Sigma Pi',
  'NU',
  'Straube Associates'],
 'TqNhY7OoUReJHxLQyjmKjQ_0000': ['ETL',
  'ETL',
  'Baxter Inc.',
  'Royal Bank of Scotland',
  'ETL',
  'ETL',
  'Baxter Inc.',
  'Royal Bank of Scotland',
  'ETL',
  'ETL',
  'Baxter Inc.',
  'Royal Bank of Scotland',
  'Techno-Functional&',
  'ETL',
  'Healthcare Domain',
  'ETL',
  'ETL'],
 'SJxstPFCfBReghsjZzFooQ_0000': ['Start-Ups',
  'Start-Ups',
  'Start-Ups',
  'Start-Ups',
  'Cfo',
  'Ift International',
  'CB&'],
 'Rs34efbZ0OFyodTxqIczZA_0000': ['Linkedin',
  'Micro',
  'Hfc',
  'CAD',
  'Hfc',
  'Matrix',
  'Jacobs',
  'Linkedin',
  'Micro',
  'Hfc',
  'CAD',
  'Hfc',
  'Matrix',
  'Linkedin',
  'Micro',
  'Hfc',
  'CAD',
  'Hfc',
  'Matrix',
  'Inc'],
 'R7OBFWMZfjieFf1aGBehsw_0000': ['Smartform',
  'ADT/',
  'Smartsets',
  'Smarttools',
  'Smartform',
  'ADT/',
  'Smartsets',
  'Smarttools',
  'Smartform',
  'ADT/',
  'Smartsets',
  'Smarttools',
  'University of Chicago',
  'University of Chicago'],
 'OZO7g2R5RUt6cSSaRvriTw_0000': ['Governance',
  'Ics',
  'Encryption/ Cryptography',
  'Outsourcing',
  'Pre-Screening',
  "Dpo'S",
  'Encryption/ Cryptography',
  'Industries',
  'Outsourcing',
  'Pre-Screening',
  'Encryption/ Cryptography',
  'Industries',
  'Outsourcing',
  'Pre-Screening',
  'Encryption/ Cryptography',
  'Industries',
  'Outsourcing',
  'Pre-Screening',
  'Digital',
  'Governance',
  'Encryption/ Cryptography',
  'Outsourcing',
  'Pre-Screening',
  'TDS Cybersecurity',
  'Cybersecurity',
  'Cybersecurity',
  'Trinity',
  'United',
  'Trinity Digital'],
 'NLy4tYgUGblozQXOCgUtaA_0000': ['Organisational',
  'Audio',
  'Digital Download',
  'Borrowbox',
  'Eaudiobooks, Ebooks',
  'New Zealand&',
  'Audio',
  'Digital Download',
  'Organisation',
  'Organisational',
  'Oracle',
  'Organisational',
  'Kicktek',
  'Admin/'],
 'NByjQpBjL8SLsmlq6Rp2hA_0000': ['Workflows',
  'Workflows',
  "G-Sib'S Enterprise-Wide Bcbs",
  'CFA',
  "Accenture'S Finance&",
  'Data-Driven',
  'Customer-Centric',

In [27]:
# taking unique and removing duplicate names
for key_3, value_3 in company_names_description.items():
    company_names_description[key_3] = list(set(company_names_description[key_3]))

In [28]:
company_names_description["fQ2ZZYOxKpdNYTC6TLFObA_0000"]

['Angularjs 1',
 'Reactjs',
 'Infosys',
 'Jquery',
 'Iphone/ Ipad Apps',
 'SR',
 'Mobiloitte',
 'Android',
 'Javascript',
 'environments.-',
 'Phonegap',
 'Xcode']

In [29]:
# def new_swapped_dict(df, company_names_description):

#     company_names_description_new = {}
    
#     for key, value in company_names_description.items():
#         for j in range(0, len(value)):
#             company_names_description_new[value[j]] = key
    
#     final_dictionary = {}
    
#     for key_2, val in company_names_description_new.items():
        
#         for i in range(0 , len(tech)):
#             b = tech.loc[i, "title"]
#             b=b.lower()
#             key_2 = key_2.lower()
                            
# #             if fuzz.ratio(key_2, b) > 85:
#             if key_2 == b:
#                 final_dictionary.setdefault(val,[])
#                 final_dictionary[val].append(b)
                
#     return company_names_description_new, final_dictionary







# def new_swapped_dict(df, company_names_description):

#     company_names_description_new = {}
    
#     for key, value in company_names_description.items():
#         for l in range(0, len(value)):
#             company_names_description_new[value[l]] = key
    
#     final_dictionary = {}
    
#     for key_2, val in company_names_description_new.items():
        
#         for m in range(0 , len(tech)):
#             b = tech.loc[m, "title"]
#             b=b.lower()
#             key_2 = key_2.lower()
                            
#             if key_2 == b:
#                 final_dictionary.setdefault(val,[])
#                 final_dictionary[val].append(b)
                
#     return company_names_description_new, final_dictionary








def new_swapped_dict(df, company_names_description):

#     company_names_description_new = {}
    
#     for key, value in company_names_description.items():
#         for l in range(0, len(value)):
#             company_names_description_new[value[l]] = key
    
    final_dictionary = {}
    
    for key_2, val_2 in company_names_description.items():
        
        for m in range(0 , len(tech)):
            for o in range(0, len(val_2)):
                b = tech.loc[m, "title"]
                b=b.lower()
                company_names_description[key_2][o] = company_names_description[key_2][o].lower()
                
                if company_names_description[key_2][o] == b:
                    final_dictionary.setdefault(key_2,[])
                    final_dictionary[key_2].append(b)
                
    return final_dictionary

In [30]:
# function call
final_dictionary = new_swapped_dict(summary, company_names_description)

In [31]:
# company_names_description_new

In [32]:
final_dictionary

{'z5LcE0BcZevf5WmwL8nunQ_0000': ['juniper'],
 'udzSvEueVZeZraRcjx0Uvw_0000': ['assembly'],
 'h5n8IuHP9cjm5NB20yJKKA_0000': ['bottlenose'],
 'grpB85GrZaIcq-HRhcNj6Q_0000': ['dot', 'cisco routers'],
 'fQ2ZZYOxKpdNYTC6TLFObA_0000': ['android'],
 'b4KHSrsYZcamh6oXJWld0g_0000': ['cobol', 'java'],
 'avogC0yF9sNEWxARekacUw_0000': ['beam'],
 'aezg7K7YHjEMLWdLmrB9zw_0000': ['adp'],
 'Znp9f-UWby49HRGlCgGHxw_0000': ['checkmate'],
 'ZgQQyGoSjvLRPSdzE2uSAw_0000': ['dot'],
 'VB5eheB-bmUish86Rt4-CA_0000': ['adp'],
 'D2-V0HxR1Fuy8YftZIvjQA_0000': ['azure'],
 '9ChJeoLQdcnqKSzQ-afBZw_0000': ['sourcing'],
 '0YjTZXpDZyt6BryJBxYVnQ_0000': ['nielsen'],
 '04dK5T2y78a27gewYZxfEA_0000': ['adobe']}

In [33]:
tech["id"] = tech.index
tech.head()

                      title  id
0                   Lattice   0
1  EMERGE Background Checks   1
2                   Tenfold   2
3           Friday Feedback   3
4                Data Dwell   4

In [34]:
try:
  
  for k, v in final_dictionary.items():
    # x = summary["summaries"].loc(summary["id"] == k)
    # print(x)
    new_row = {'id':k,'Technology_Names': final_dictionary[k]}
    output = output.append(new_row, ignore_index=True)

except Exception as e :
    print("\n\n", e)

In [35]:
# try:
#   for i in range(0, len(summary)):
#     new_row_2 = {'id':summary["id"][i], 'summaries':summary["summaries"][i], 'Technology_Names':final_dictionary[summary["id"][i]]}
#     output_2 = output.append(new_row, ignore_index=True)

# except Exception as e :
#   print("\n\n", e)
output.head()

                            id summaries      Technology_Names
0  z5LcE0BcZevf5WmwL8nunQ_0000       NaN             [juniper]
1  udzSvEueVZeZraRcjx0Uvw_0000       NaN            [assembly]
2  h5n8IuHP9cjm5NB20yJKKA_0000       NaN          [bottlenose]
3  grpB85GrZaIcq-HRhcNj6Q_0000       NaN  [dot, cisco routers]
4  fQ2ZZYOxKpdNYTC6TLFObA_0000       NaN             [android]

In [36]:
# output.to_csv("Dataset/Output/NER-output/NER_train_before_regex_match_lg_truecase.csv", index = False)

In [37]:
len(output)

15

In [38]:
## Extracting summary to Output sheet
for ind in output.index:
    for i in summary.index:
        
        if output["id"][ind]==summary["id"][i]:
            output["summaries"][ind] = summary["summaries"][i]

In [39]:
len(output)

15

In [40]:
output.head()

,id,summaries,Technology_Names
0,z5LcE0BcZevf5WmwL8nunQ_0000,"[Bachelor of science( B. S) degree in"" telecom...",[juniper]
1,udzSvEueVZeZraRcjx0Uvw_0000,"[At Javelin engineering, our manufacturing goa...",[assembly]
2,h5n8IuHP9cjm5NB20yJKKA_0000,[I am the founding partner of Ff venture capit...,[bottlenose]
3,grpB85GrZaIcq-HRhcNj6Q_0000,[Total it experience of 10+ years in network T...,"[dot, cisco routers]"
4,fQ2ZZYOxKpdNYTC6TLFObA_0000,[5.9 years of total it experience with wide ra...,[android]

In [41]:
output.to_csv("NER_train_lg_moreTAGS_simple_spacy.csv", index = False)

In [42]:
df_summary = pd.read_csv("NER_train_lg_moreTAGS_simple_spacy.csv")
df_summary.head()

,id,summaries,Technology_Names
0,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...",['juniper']
1,udzSvEueVZeZraRcjx0Uvw_0000,"['At Javelin engineering, our manufacturing go...",['assembly']
2,h5n8IuHP9cjm5NB20yJKKA_0000,['I am the founding partner of Ff venture capi...,['bottlenose']
3,grpB85GrZaIcq-HRhcNj6Q_0000,['Total it experience of 10+ years in network ...,"['dot', 'cisco routers']"
4,fQ2ZZYOxKpdNYTC6TLFObA_0000,['5.9 years of total it experience with wide r...,['android']

In [43]:
# Lowercasing the summary is important for exact match finding
for ind in output.index:
    output["summaries"][ind][0] = output["summaries"][ind][0].lower()

In [44]:
output.head()

,id,summaries,Technology_Names
0,z5LcE0BcZevf5WmwL8nunQ_0000,"[bachelor of science( b. s) degree in"" telecom...",[juniper]
1,udzSvEueVZeZraRcjx0Uvw_0000,"[at javelin engineering, our manufacturing goa...",[assembly]
2,h5n8IuHP9cjm5NB20yJKKA_0000,[i am the founding partner of ff venture capit...,[bottlenose]
3,grpB85GrZaIcq-HRhcNj6Q_0000,[total it experience of 10+ years in network t...,"[dot, cisco routers]"
4,fQ2ZZYOxKpdNYTC6TLFObA_0000,[5.9 years of total it experience with wide ra...,[android]

In [45]:
df_summary.head()

,id,summaries,Technology_Names
0,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...",['juniper']
1,udzSvEueVZeZraRcjx0Uvw_0000,"['At Javelin engineering, our manufacturing go...",['assembly']
2,h5n8IuHP9cjm5NB20yJKKA_0000,['I am the founding partner of Ff venture capi...,['bottlenose']
3,grpB85GrZaIcq-HRhcNj6Q_0000,['Total it experience of 10+ years in network ...,"['dot', 'cisco routers']"
4,fQ2ZZYOxKpdNYTC6TLFObA_0000,['5.9 years of total it experience with wide r...,['android']

In [46]:
# Applying Regex to filter out Invalid Words

def get_exact_match(txt, tech):
    try:
        patt = '|'.join(['\\b'+elem+'\\b' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [47]:
output['matched_NER_by_borders'] = output.apply(lambda x: get_exact_match(x["summaries"], x["Technology_Names"]), axis = 1)

In [48]:
output.head()

,id,summaries,Technology_Names,matched_NER_by_borders
0,z5LcE0BcZevf5WmwL8nunQ_0000,"[bachelor of science( b. s) degree in"" telecom...",[juniper],"[juniper, juniper, juniper]"
1,udzSvEueVZeZraRcjx0Uvw_0000,"[at javelin engineering, our manufacturing goa...",[assembly],"[assembly, assembly, assembly, assembly, assem..."
2,h5n8IuHP9cjm5NB20yJKKA_0000,[i am the founding partner of ff venture capit...,[bottlenose],"[bottlenose, bottlenose]"
3,grpB85GrZaIcq-HRhcNj6Q_0000,[total it experience of 10+ years in network t...,"[dot, cisco routers]","[dot, cisco routers, dot, cisco routers, cisco..."
4,fQ2ZZYOxKpdNYTC6TLFObA_0000,[5.9 years of total it experience with wide ra...,[android],"[android, android, android, android, android, ..."

In [49]:
# Applying Regex to filter out Invalid Words

def get_exact_match_2(txt, tech):
    try:
        patt = '|'.join(['\\s'+elem+'\\s' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [50]:
output['matched_NER_final'] = output.apply(lambda x: get_exact_match_2(x["summaries"], x["matched_NER_by_borders"]), axis = 1)

In [51]:
# output.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_tagged_data_ner_spacy_own_vocab_100_regex_final.csv", index = False)

In [52]:
# strip by whitespace
for i in range(0,len(output)):
    for j in range(0, len(output['matched_NER_final'][i])):
        output['matched_NER_final'][i][j] = output['matched_NER_final'][i][j].strip()
#     print(output['matched_NER_final'][i])

In [53]:
df_company_names_description = pd.DataFrame(list(company_names_description.items()))
df_company_names_description.columns = ["id","NER_Extracted_Tags"]

In [54]:
# df_company_names_description["summaries"] = np.nan

In [55]:
# # Extracting summary to Output sheet
# for ind in df_company_names_description.index:
#     for i in df_summary.index:
        
#         if df_company_names_description["id"][ind]==df_summary["id"][i]:
#             df_company_names_description["summaries"][ind] = df_summary["summaries"][i]

In [56]:
df_company_names_description.head()

,id,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,"[microsoft, unicorn wrangler&, hewlett packard]"
1,z5LcE0BcZevf5WmwL8nunQ_0000,"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[icandydesigns, nordstrom, turner, fnl]"
3,xemFTL4WGIObJBz0VZv0gg_0000,"[life-cycle, sr, technology, olympus]"
4,wGX7QmVHBijxQrH-U3ncbA_0000,"[steelworks, leea, brookfield multiplex, multi..."

In [57]:
# df_company_names_description = df_company_names_description.sort_values(by=['id'], ascending=False)

In [58]:
# df_company_names_description.to_csv("Dataset/Output/NER-output/NER_Extracted_Entities__lg_truecase_moreTAGS.csv", index = False)

In [59]:
output = output.merge(df_company_names_description, 'left')
orig_df = summary.loc[:,["id", "summaries", "Technology"]]
df_final = orig_df.merge(output, 'left', on = ["id"])
df_final.drop(columns = "summaries_y", axis  = 1, inplace = True)

In [60]:
df_final.head()

,id,summaries_x,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,NaN,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"[bachelor of science( b. s) degree in"" telecom...","microsoft office, juniper, workday, python, linux",[juniper],"[juniper, juniper, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,NaN,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,NaN,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,NaN,NaN,NaN

In [61]:
# # TrueCase summary copy from saved df_summary to df_final summary column for matching id's
# for i in df_final.index:
#     df_final["summaries_x"][i] =df_summary["summaries"].loc[df_summary["id"]==df_final["id"][i]]

In [62]:
for i in df_final.index:
    
    for j in df_summary.index:
        if df_final["id"][i]==df_summary["id"][j]:
            df_final["summaries_x"][i] = df_summary["summaries"][j]

In [63]:
df_final.head()

,id,summaries_x,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,NaN,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],"[juniper, juniper, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,NaN,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,NaN,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,NaN,NaN,NaN

In [64]:
len(df_final)

100

In [65]:
df_final["id"].nunique()

100

In [66]:
df_final.rename(columns = {"summaries_x":"summaries"}, inplace = True)

In [67]:
df_final.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,NaN,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],"[juniper, juniper, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,NaN,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,NaN,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,NaN,NaN,NaN

In [68]:
final_df = df_final.sort_values(by=['id'], ascending=False)

In [69]:
final_df.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,NaN,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],"[juniper, juniper, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,NaN,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,NaN,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,NaN,NaN,NaN

In [70]:
final_df["matched_NER_by_borders"] = final_df["matched_NER_by_borders"].fillna(0)

In [71]:
# demo
for i in range(0, len(final_df)):
        if final_df["matched_NER_by_borders"][i] != 0:
            mylist = final_df["matched_NER_by_borders"][i]
            
            mylist = list(dict.fromkeys(mylist))
            final_df["matched_NER_by_borders"][i] = mylist

In [72]:
final_df.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,0,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],[juniper],[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,0,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,0,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,0,NaN,NaN

In [73]:
final_df.to_csv("NER_train_ast_dump_resolve_lg__moreTAGS_tagged_100_simple_spacy.csv", index = False)

In [74]:
final_df.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,0,NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],[juniper],[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,0,NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,0,NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,0,NaN,NaN

In [76]:
kmp_df = pd.read_csv("KMP_string_Match_newer.csv")

In [77]:
kmp_df.head(2)

,Unnamed: 0,id,summaries,Technology,exact_matched_patt,matched_NER_final
0,0,zPnnWGWHb2gSYnd98GKaag_0000,15+ years within the recruiting industry combi...,"['ento', 'cmic', 'que', 'riter', 'scons', 'per...",[],"['', '']"
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"bachelor of science (b.s) degree in "" telecomm...","['eploy', 'klik', 'xperience', 'evie', 'inform...",['microsoft office'],[]

In [78]:
type(kmp_df["exact_matched_patt"][1])

str

In [79]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [80]:
kmp_df = convert_data_format(kmp_df, "exact_matched_patt")

<ipython-input-79-b23b3f954057>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = res

In [81]:
type(kmp_df["exact_matched_patt"][0])

list

In [82]:
kmp_df["exact_matched_patt"][1]

['microsoft office']

In [83]:
kmp_df["exact_matched_patt"][0]

[]

In [84]:
for i in range(0, len(kmp_df)):
    if len(kmp_df["exact_matched_patt"][i])==0:
        kmp_df["exact_matched_patt"][i] = ["0"]

<ipython-input-84-7f953530744a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmp_df["exact_matched_patt"][i] = ["0"]

In [85]:
for i in range(0, len(final_df)):
    if (final_df["matched_NER_by_borders"][i])==0:
        final_df["matched_NER_by_borders"][i] = ["0"]

In [86]:
type(final_df["matched_NER_by_borders"][0])

list

In [87]:
for i in range(0,len(kmp_df)):
    print(i)
    if (kmp_df["id"][i]==final_df["id"][i]):
      
            final_df["matched_NER_by_borders"][i] = kmp_df["exact_matched_patt"][i]+final_df["matched_NER_by_borders"][i]            
            final_df["matched_NER_by_borders"][i] = list(set(final_df["matched_NER_by_borders"][i]))
        
#         final_df["matched_NER_by_borders"][i] = (final_df["matched_NER_by_borders"][i]+df_string_match["exact_matched_patt"][i])
#         final_df["matched_NER_by_borders"][i] = list(set(final_df["matched_NER_by_borders"][i]))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [88]:
final_df

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,[0],NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],"[microsoft office, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,[0],NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,[0],NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,[0],NaN,NaN
...,...,...,...,...,...,...,...
95,04dK5T2y78a27gewYZxfEA_0000,['Features: Thor: Ragnarok Spiderman: homecomi...,"compass, katana, zbrush, adobe",[adobe],"[renderman, adobe, zbrush, katana]","[adobe, adobe, adobe, adobe]","[imageworks, adobe, houdini, sr, fx, modelling..."
96,-sQNuO1antttcEmOWs-o5Q_0000,[Passionate Visioner and Doer. expert in susta...,NaN,NaN,[0],NaN,NaN
97,-nbbpInS-iD0thomdMs6BQ_0000,[I am a Self-Motivated sales& marketing profes...,zoom,NaN,[0],NaN,NaN
98,-jsY6ula0lsaOQ5rBHxHLg_0000,[Www.Lisawilkins.Com specialties: visual/ Ui/ ...,"invision, pixate, xcode, html",NaN,"[0, pixate, xcode, invision]",NaN,NaN
99,-gje06EDSxsMmw8WF1hKtA_0000,[Driven and compassionate Healthcare professio...,NaN,NaN,[0],NaN,NaN

In [89]:
# h = final_df["matched_NER_by_borders"][3].remove(0)

In [90]:
final_df["matched_NER_by_borders"][0][0]

'0'

In [91]:
for i in range(0, len(final_df)):
    l = final_df["matched_NER_by_borders"][i]
    final_df["matched_NER_by_borders"][i] = [0 if element == '0' else element for element in l]

In [92]:
# for i in range(0, len(final_df)):
#   l = final_df["matched_NER_by_borders"][i]
#   g = l[:]
#   l.remove(0)

In [93]:
for i in range(0, len(final_df)):
  words = final_df["matched_NER_by_borders"][i]
  stopwords = [0]
  for word in list(words):
    if word in stopwords:
      words.remove(word)

In [94]:
final_df

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,unity,NaN,[],NaN,NaN
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux",[juniper],"[microsoft office, juniper]",[],"[software""- politehnica university-, rstp, ccn..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,NaN,NaN,[],NaN,NaN
3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...",NaN,NaN,[],NaN,NaN
4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,NaN,NaN,[],NaN,NaN
...,...,...,...,...,...,...,...
95,04dK5T2y78a27gewYZxfEA_0000,['Features: Thor: Ragnarok Spiderman: homecomi...,"compass, katana, zbrush, adobe",[adobe],"[renderman, adobe, zbrush, katana]","[adobe, adobe, adobe, adobe]","[imageworks, adobe, houdini, sr, fx, modelling..."
96,-sQNuO1antttcEmOWs-o5Q_0000,[Passionate Visioner and Doer. expert in susta...,NaN,NaN,[],NaN,NaN
97,-nbbpInS-iD0thomdMs6BQ_0000,[I am a Self-Motivated sales& marketing profes...,zoom,NaN,[],NaN,NaN
98,-jsY6ula0lsaOQ5rBHxHLg_0000,[Www.Lisawilkins.Com specialties: visual/ Ui/ ...,"invision, pixate, xcode, html",NaN,"[pixate, xcode, invision]",NaN,NaN
99,-gje06EDSxsMmw8WF1hKtA_0000,[Driven and compassionate Healthcare professio...,NaN,NaN,[],NaN,NaN

In [95]:
final_df.to_csv("final_df_string_ner_v2.csv", index = False)

# Accuracy

In [ ]:
# fill nan with 0 in dataframe
summary.head()
summary["exact_matched_patt"] = summary["exact_matched_patt"].fillna(0)

# final_df["Technology_Names"] = final_df["Technology_Names"].fillna(0)
# final_df["Technology_Names"] = final_df["Technology_Names"].replace(np.nan, 0)

In [ ]:
summary["exact_matched_patt"][2]

"['visually', 've', 'go']"

In [ ]:
def convert_tagged_data_format(df,column_name):
    
    for i in range(0, len(df)):
        print(i)
        
        if df[column_name][i] is not np.nan:
            
            if df[column_name][i][0] == '[':
                pass
                res = ast.literal_eval(df[column_name][i])
                df[column_name][i] = res
                
            else:
                y = []
                y.insert(1, df[column_name][i])
                df[column_name][i] = y
                
        else:
    
                y = []
                y.insert(1, df[column_name][i])
                df[column_name][i] = y
    return df

In [ ]:
summary = convert_tagged_data_format(summary, "exact_matched_patt")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

<ipython-input-15-cf58a51b52bb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = res

51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
summary["exact_matched_patt"][3]

['customer relationship management', 'rapport']

In [ ]:
summary.head()

,Unnamed: 0,id,summaries,exact_matched_patt,Note,Technology,Not Technology,Note1,Note2,Unnamed: 8,summaries status
0,0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,"[unicorn, purple, hunter, unity, guru, snap]",NaN,unity,"unicorn, purple, hunter, guru, snap",NaN,NaN,NaN,NaN
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"[Bachelor of science( B. S) degree in"" telecom...","[microsoft office, juniper, workday, switch, p...",link,"microsoft office, juniper, workday, python, linux","switch, route, link",NaN,NaN,NaN,NaN
2,2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,"[visually, ve, go]",go,NaN,"visually, go",NaN,NaN,NaN,Ve
3,3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...","[customer relationship management, rapport]",NaN,NaN,rapport,customer relationship management - general tec...,NaN,NaN,NaN
4,4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,"[insight, meet]",NaN,NaN,"insight, meet",NaN,NaN,NaN,NaN

In [ ]:
# count of Technology Names in final output list
# importing Counter module 
from collections import Counter

In [ ]:
input_list =  summary["exact_matched_patt"].to_list()
count_input_list = []

In [ ]:
input_list[2]

['visually', 've', 'go']

In [ ]:
# input_list = pd.Series(input_list, dtype=object).fillna(0).tolist()

In [ ]:
len(input_list)

100

In [ ]:
# creating a list with the keys 
for i in input_list:
    if i == 0:
        count_input_list.append(0)
        
    elif i!=0:
        items = Counter(i).keys()
        print("No of unique items in the list are:", len(items))
        count_input_list.append(len(items))

No of unique items in the list are: 6
No of unique items in the list are: 8
No of unique items in the list are: 3
No of unique items in the list are: 2
No of unique items in the list are: 2
No of unique items in the list are: 6
No of unique items in the list are: 6
No of unique items in the list are: 6
No of unique items in the list are: 2
No of unique items in the list are: 3
No of unique items in the list are: 7
No of unique items in the list are: 2
No of unique items in the list are: 3
No of unique items in the list are: 4
No of unique items in the list are: 3
No of unique items in the list are: 3
No of unique items in the list are: 3
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 4
No of unique items in the list are: 6
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 2
No of unique items in the list are: 4
No of unique items in the list are: 4
No of unique items in the list are: 5
No of unique items in the list are: 10
No of unique items in the list are: 14
No of unique items in the list are: 2
No of unique items in the list are: 2
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 15
No of unique items in the list are: 4
No of unique items in the list are: 3
No of unique items in the list are: 9
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 8
No of unique items in the list are: 9
No of unique items in the list are: 4
No of unique items in the list are: 3
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 3
No of unique items in the list are: 7
No of unique items in the list are: 8
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 2
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 7
No of unique items in the list are: 2
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 2
No of unique items in the list are: 6
No of unique items in the list are: 7
No of unique items in the list are: 7
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 11
No of unique items in the list are: 5
No of unique items in the list are: 2
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 3
No of unique items in the list are: 5
No of unique items in the list are: 4
No of unique items in the list are: 6
No of unique items in the list are: 4
No of unique items in the list are: 5
No of unique items in the list are: 2
No of unique items in the list are: 3
No of unique items in the list are: 3
No of unique items in the list are: 4
No of unique items in the list are: 3
No of unique items in the list are: 5
No of unique items in the list are: 8
No of unique items in the list are: 4
No of unique items in the list are: 5
No of unique items in the list are: 5
No of unique items in the list are: 3
No of unique items in the list are: 5
No of unique items in the list are: 3
No of unique items in the list are: 8
No of unique items in the list are: 3
No of unique items in the list are: 8
No of unique items in the list are: 12
No of unique items in the list are: 4

In [ ]:
len(count_input_list)

100

In [ ]:
d = pd.DataFrame(count_input_list, columns = ["No of Tech in summary"])

In [ ]:
final_df = summary.sort_values(by=['id'], ascending=False)

In [ ]:
# fill nan with 0 in dataframe
final_df["exact_matched_patt"] = final_df["exact_matched_patt"].fillna(0)

In [ ]:
final_df.head()

,Unnamed: 0,id,summaries,exact_matched_patt,Note,Technology,Not Technology,Note1,Note2,Unnamed: 8,summaries status
0,0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,"[unicorn, purple, hunter, unity, guru, snap]",NaN,unity,"unicorn, purple, hunter, guru, snap",NaN,NaN,NaN,NaN
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"[Bachelor of science( B. S) degree in"" telecom...","[microsoft office, juniper, workday, switch, p...",link,"microsoft office, juniper, workday, python, linux","switch, route, link",NaN,NaN,NaN,NaN
2,2,xi8skZhrJpM4GVvKfqmuiQ_0000,[I'm a current Online student for fashion merc...,"[visually, ve, go]",go,NaN,"visually, go",NaN,NaN,NaN,Ve
3,3,xemFTL4WGIObJBz0VZv0gg_0000,"[High-Performing, Strategic-Thinking professio...","[customer relationship management, rapport]",NaN,NaN,rapport,customer relationship management - general tec...,NaN,NaN,NaN
4,4,wGX7QmVHBijxQrH-U3ncbA_0000,[I am a highly motivated civil engineer with o...,"[insight, meet]",NaN,NaN,"insight, meet",NaN,NaN,NaN,NaN

In [ ]:
final_df.to_csv("Dataset/Output/NER-output/demo_final_df_lg.csv", index = False)

In [ ]:
f_Df = pd.read_csv("Dataset/Output/NER-output/demo_final_df_lg.csv")

In [ ]:
f_Df.head()

,Unnamed: 0,id,summaries,exact_matched_patt,Note,Technology,Not Technology,Note1,Note2,Unnamed: 8,summaries status
0,0,zPnnWGWHb2gSYnd98GKaag_0000,['15+ years within the recruiting industry com...,"['unicorn', 'purple', 'hunter', 'unity', 'guru...",NaN,unity,"unicorn, purple, hunter, guru, snap",NaN,NaN,NaN,NaN
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","['microsoft office', 'juniper', 'workday', 'sw...",link,"microsoft office, juniper, workday, python, linux","switch, route, link",NaN,NaN,NaN,NaN
2,2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[""I'm a current Online student for fashion mer...","['visually', 've', 'go']",go,NaN,"visually, go",NaN,NaN,NaN,Ve
3,3,xemFTL4WGIObJBz0VZv0gg_0000,"[""High-Performing, Strategic-Thinking professi...","['customer relationship management', 'rapport']",NaN,NaN,rapport,customer relationship management - general tec...,NaN,NaN,NaN
4,4,wGX7QmVHBijxQrH-U3ncbA_0000,"[""I am a highly motivated civil engineer with ...","['insight', 'meet']",NaN,NaN,"insight, meet",NaN,NaN,NaN,NaN

In [ ]:
final_count_df = pd.concat([f_Df, d], axis = 1)

In [ ]:
final_count_df.head()

,Unnamed: 0,id,summaries,exact_matched_patt,Note,Technology,Not Technology,Note1,Note2,Unnamed: 8,summaries status,No of Tech in summary
0,0,zPnnWGWHb2gSYnd98GKaag_0000,['15+ years within the recruiting industry com...,"['unicorn', 'purple', 'hunter', 'unity', 'guru...",NaN,unity,"unicorn, purple, hunter, guru, snap",NaN,NaN,NaN,NaN,6
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","['microsoft office', 'juniper', 'workday', 'sw...",link,"microsoft office, juniper, workday, python, linux","switch, route, link",NaN,NaN,NaN,NaN,8
2,2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[""I'm a current Online student for fashion mer...","['visually', 've', 'go']",go,NaN,"visually, go",NaN,NaN,NaN,Ve,3
3,3,xemFTL4WGIObJBz0VZv0gg_0000,"[""High-Performing, Strategic-Thinking professi...","['customer relationship management', 'rapport']",NaN,NaN,rapport,customer relationship management - general tec...,NaN,NaN,NaN,2
4,4,wGX7QmVHBijxQrH-U3ncbA_0000,"[""I am a highly motivated civil engineer with ...","['insight', 'meet']",NaN,NaN,"insight, meet",NaN,NaN,NaN,NaN,2

In [ ]:
final_count_df["No of Tech in summary"][3]

2

In [ ]:
final_count_df["exact_matched_patt"][3]

"['customer relationship management', 'rapport']"

In [ ]:
final_count_df.to_csv("Dataset/Output/NER-output/NER_train_ast_dump_resolve_lg_truecase_tech_count_lg_moreTAGS.csv", index = False)

** TECH VS COUNT **

In [228]:
c = pd.read_csv("/content/final_df_string_ner.csv")

In [230]:
c.head(2)

                            id  ...                                 NER_Extracted_Tags
0  zPnnWGWHb2gSYnd98GKaag_0000  ...                                                NaN
1  z5LcE0BcZevf5WmwL8nunQ_0000  ...  ['linkedin', 'versioned', 'juniper', 'technolo...

[2 rows x 7 columns]

In [240]:
c["matched_NER_by_borders"][0]

[]

In [237]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [238]:
c = convert_data_format(c, "matched_NER_by_borders")

In [241]:
# Technology vs COunt and removing duplicates but preserving their counts
df_cm = c

In [242]:
count = []
id_elem = []
elem = []

In [243]:
for ind in df_cm.index:
    d = df_cm["matched_NER_by_borders"][ind]
    for j in range(0, len(d)-1):
        search_elem = df_cm["matched_NER_by_borders"][ind][j]
        i = d.count(search_elem)
        count.append(i)
        elem.append(search_elem)
        id_elem.append(df_cm["id"])

In [244]:
df_final_v2 = pd.DataFrame(list(zip(elem, count)), 
               columns =['Technology_Names', "Count"])

In [245]:
df_final_v2.head()

   Technology_Names  Count
0  microsoft office      1
1       appdynamics      1
2    atlassian jira      1
3   oracle database      1
4       omnigraffle      1

In [246]:
# Count vs Technology Sheet
save = df_final_v2.groupby(["Technology_Names"]).sum()
save.reset_index(inplace = True)

In [248]:
save = save.sort_values(by=['Count'], ascending=False)

In [249]:
save.head()

    Technology_Names  Count
1          accenture      2
2           accounts      2
3                adp      2
36  microsoft office      2
63         wordpress      2

In [250]:
len(save)

66

In [251]:
save.to_csv("Tech_Count_NER_string_dictionary.csv", index = False)