In [1]:
# import os
# print("PYTHONPATH:", os.environ.get('PYTHONPATH'))
# print("PATH:", os.environ.get('PATH'))

In [2]:
# Importing the libraries here

import pandas as pd
import numpy as np
import ast
import json
from operator import add 
from operator import truediv
import re
# import swifter
from tqdm import tqdm

In [3]:
# reading the dataset
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/NER_Output_Collection - NER_train_ast_dump_resolve_tech_count_ner_en_large_flair_1000.csv")
# df_cm_orig = pd.read_csv("Dataset/Output/op_string/KMP_optimised_20k_profiles.csv")
# df_tagged = pd.read_csv("Train_Data/Accuracy_Data/String_Exact_Match_Technologies - String_Exact_Match_Technologies.csv")

# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_ner_en_large_flair_100_tagged.csv")
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_ner_spacy_own_vocab_100_tagged.csv")
summary = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/tagged_simanchala_100.csv")

# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_lg_truecase_moreTAGS_tagged_100.csv")
df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_lg__moreTAGS_tagged_100_more_ENTS.csv")
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_ner_spacy_own_vocab_100_tagged.csv")
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_ner_en_flair_100_tagged.csv")
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_train_ast_dump_resolve_lg__moreTAGS_tagged_100_simple_spacy.csv")
# df_cm = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/KMP_string_Match.csv")

In [4]:
# ## Extracting summary to Output sheet
# for ind in df_tagged.index:
#     for i in summary.index:
        
#         if df_tagged["id"][ind]==summary["id"][i]:
#             df_tagged["summaries"][ind] = summary["summaries"][i]

In [5]:
# Let's see how the data looks like
# summary.head()

In [6]:
# len(df_cm)

In [7]:
df_cm.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,['15+ years within the recruiting industry com...,unity,"['industry', 'hunter', 'snap', 'sourcing', 'un...","['snap', 'industry', 'unity', 'unicorn', 'guru...","['industry', 'resource', 'sourcing', 'sourcing...","['ten years', 'statements', 'all statements', ..."
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux","['juniper', 'route', 'python', 'link', 'workday']","['workday', 'microsoft office', 'juniper', 'ro...","['link', 'python', 'link', 'route', 'workday']","['b. s', 'telecommunications', 'unix/', 'rstp'..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[""I'm a current Online student for fashion mer...",NaN,"['service', 'manager']",[],"['manager', 'manager', 'manager']","['business', 'manager', '2016-', 'advanced soc..."
3,xemFTL4WGIObJBz0VZv0gg_0000,"[""High-Performing, Strategic-Thinking professi...",NaN,"['manager', 'rapport']","['rapport', 'customer relationship management']","['rapport', 'rapport', 'rapport']","['manager', 'track record', 'projects', '8 yea..."
4,wGX7QmVHBijxQrH-U3ncbA_0000,"[""I am a highly motivated civil engineer with ...",NaN,"['industry', 'insight', 'manager']","['industry', 'insight']","['insight', 'insight', 'insight', 'insight', '...","['course', 'both perspectives', 'manager', 'te..."

In [8]:
summary.head()

,Unnamed: 0,id,summaries,exact_matched_patt,Note,Technology,Not Technology,Note1,Note2,Unnamed: 8,summaries status
0,0,zPnnWGWHb2gSYnd98GKaag_0000,[15+ years within the recruiting industry comb...,"['unicorn', 'purple', 'hunter', 'unity', 'guru...",NaN,unity,"unicorn, purple, hunter, guru, snap",NaN,NaN,NaN,NaN
1,1,z5LcE0BcZevf5WmwL8nunQ_0000,"[bachelor of science (b.s) degree in "" telecom...","['microsoft office', 'juniper', 'workday', 'sw...",link,"microsoft office, juniper, workday, python, linux","switch, route, link",NaN,NaN,NaN,NaN
2,2,xi8skZhrJpM4GVvKfqmuiQ_0000,[i'm a current online student for fashion merc...,"['visually', 've', 'go']",go,NaN,"visually, go",NaN,NaN,NaN,Ve
3,3,xemFTL4WGIObJBz0VZv0gg_0000,"[high-performing,strategic-thinking profession...","['customer relationship management', 'rapport']",NaN,NaN,rapport,customer relationship management - general tec...,NaN,NaN,NaN
4,4,wGX7QmVHBijxQrH-U3ncbA_0000,[i am a highly motivated civil engineer with o...,"['insight', 'meet']",NaN,NaN,"insight, meet",NaN,NaN,NaN,NaN

In [9]:
# df_cm['exact_matched_patt'] = summary['exact_matched_patt'].values (remove it)
df_cm['Technology'] = summary['Technology'].values

In [10]:
df_cm

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,['15+ years within the recruiting industry com...,unity,"['industry', 'hunter', 'snap', 'sourcing', 'un...","['snap', 'industry', 'unity', 'unicorn', 'guru...","['industry', 'resource', 'sourcing', 'sourcing...","['ten years', 'statements', 'all statements', ..."
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","microsoft office, juniper, workday, python, linux","['juniper', 'route', 'python', 'link', 'workday']","['workday', 'microsoft office', 'juniper', 'ro...","['link', 'python', 'link', 'route', 'workday']","['b. s', 'telecommunications', 'unix/', 'rstp'..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[""I'm a current Online student for fashion mer...",NaN,"['service', 'manager']",[],"['manager', 'manager', 'manager']","['business', 'manager', '2016-', 'advanced soc..."
3,xemFTL4WGIObJBz0VZv0gg_0000,"[""High-Performing, Strategic-Thinking professi...",NaN,"['manager', 'rapport']","['rapport', 'customer relationship management']","['rapport', 'rapport', 'rapport']","['manager', 'track record', 'projects', '8 yea..."
4,wGX7QmVHBijxQrH-U3ncbA_0000,"[""I am a highly motivated civil engineer with ...",NaN,"['industry', 'insight', 'manager']","['industry', 'insight']","['insight', 'insight', 'insight', 'insight', '...","['course', 'both perspectives', 'manager', 'te..."
...,...,...,...,...,...,...,...
95,04dK5T2y78a27gewYZxfEA_0000,['Features: Thor: Ragnarok Spiderman: homecomi...,"compass, katana, zbrush, adobe","['image', 'adobe', 'compass', 'percy']","['katana', 'compass', 'renderman', 'adobe', 'i...","['percy', 'compass', 'adobe', 'percy', 'compas...","['camera', 'beasts', 'fire', 'arnold', 'td', '..."
96,-sQNuO1antttcEmOWs-o5Q_0000,['Passionate Visioner and Doer. expert in sust...,NaN,"['polymer', 'industry', 'omega', 'manager']","['industry', 'omega', 'polymer']","['polymer', 'industry', 'manager', 'polymer', ...","['business', '15 years', 'manager', 'visioner'..."
97,-nbbpInS-iD0thomdMs6BQ_0000,"[""I am a Self-Motivated sales& marketing profe...",zoom,"['air', 'industry', 'pilot', 'wing', 'service'...","['zoom', 'flight', 'industry', 'rapport', 'win...","['industry', 'rapport', 'industry', 'rapport',...","['business', 'manager', 'wyoming life flight',..."
98,-jsY6ula0lsaOQ5rBHxHLg_0000,"[""Www.Lisawilkins.Com specialties: visual/ Ui/...","invision, pixate, xcode, html","['front', 'room']","['invision', 'xcode', 'front', 'pixate', 'room']",['room'],"['business', 'insecurity', 'an experience', 'u..."
99,-gje06EDSxsMmw8WF1hKtA_0000,['Driven and compassionate Healthcare professi...,NaN,"['care', 'solver', 'service', 'manager', 'foun...","['crossover', 'care', 'foundation', 'solver']","['care', 'service', 'care', 'service', 'care',...","['organizing', 'manager', '8 years', 'planning..."

In [11]:
# df_tagged = df_tagged.sort_values(by=['id'], ascending=False)

In [12]:
# df_tagged.reset_index(inplace = True, drop = True)

In [13]:
df_cm["Technology"][1]

'microsoft office, juniper, workday, python, linux'

In [14]:
df_cm["matched_NER_by_borders"][1]
# df_cm["exact_matched_patt"][1]

"['workday', 'microsoft office', 'juniper', 'route', 'python', 'link']"

In [15]:
# df_tagged.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/tagged_simanchala_100.csv")

In [16]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [17]:
df_cm = convert_data_format(df_cm, "matched_NER_by_borders")

In [18]:
df_cm["Technology"][1]

'microsoft office, juniper, workday, python, linux'

In [19]:
df_cm["matched_NER_by_borders"][1]

['workday', 'microsoft office', 'juniper', 'route', 'python', 'link']

# Converting into dataformat to compare two strings

In [20]:
# v = df_cm["Technology"][1].split(',')
# v

for i in range(0, len(df_cm)):
    if df_cm["Technology"][i] is not np.nan:
        df_cm["Technology"][i] = df_cm["Technology"][i].split(',')
        for j in range(0, len(df_cm["Technology"][i])):
            df_cm["Technology"][i][j] = df_cm["Technology"][i][j].strip()

In [21]:
df_cm["Technology"][1]

['microsoft office', 'juniper', 'workday', 'python', 'linux']

In [22]:
# def convert_tagged_data_format(df,column_name):
    
#     for i in range(0, len(df_cm)):
#         print(i)
        
#         if df[column_name][i] is not np.nan:
            
#             if df[column_name][i][0] == '[':
#                 pass
# #                 res = ast.literal_eval(df[column_name][i])
# #                 df[column_name][i] = res
                
#             else:
#                 y = []
#                 y.insert(1, df[column_name][i])
#                 df[column_name][i] = y
                
#         else:
    
#                 y = []
#                 y.insert(1, df[column_name][i])
#                 df[column_name][i] = y
#     return df

In [23]:
# df_cm = convert_tagged_data_format(df_cm, "Technology")

In [24]:
df_cm["Technology"][0]

['unity']

In [25]:
# TP: present in both sheet i==j
# TN: not in both (insignificant)
# FP: in extracted sheet but not in manual tagging     i!=j
# FN: in manual tagging and is not in extracted tagging j

In [26]:
tp = []
tn = []
fp = []
fn = []

In [27]:
TP = TN = FP = FN = 0

In [28]:
# TP + FP calculation
# op_string = exact_matched_patt
# , manual_tagged_string = Actual/Actual(NER)

In [29]:
df_cm.head()

,id,summaries,Technology,Technology_Names,matched_NER_by_borders,matched_NER_final,NER_Extracted_Tags
0,zPnnWGWHb2gSYnd98GKaag_0000,['15+ years within the recruiting industry com...,[unity],"['industry', 'hunter', 'snap', 'sourcing', 'un...","[snap, industry, unity, unicorn, guru, sourcin...","['industry', 'resource', 'sourcing', 'sourcing...","['ten years', 'statements', 'all statements', ..."
1,z5LcE0BcZevf5WmwL8nunQ_0000,"['Bachelor of science( B. S) degree in"" teleco...","[microsoft office, juniper, workday, python, l...","['juniper', 'route', 'python', 'link', 'workday']","[workday, microsoft office, juniper, route, py...","['link', 'python', 'link', 'route', 'workday']","['b. s', 'telecommunications', 'unix/', 'rstp'..."
2,xi8skZhrJpM4GVvKfqmuiQ_0000,"[""I'm a current Online student for fashion mer...",NaN,"['service', 'manager']",[],"['manager', 'manager', 'manager']","['business', 'manager', '2016-', 'advanced soc..."
3,xemFTL4WGIObJBz0VZv0gg_0000,"[""High-Performing, Strategic-Thinking professi...",NaN,"['manager', 'rapport']","[rapport, customer relationship management]","['rapport', 'rapport', 'rapport']","['manager', 'track record', 'projects', '8 yea..."
4,wGX7QmVHBijxQrH-U3ncbA_0000,"[""I am a highly motivated civil engineer with ...",NaN,"['industry', 'insight', 'manager']","[industry, insight]","['insight', 'insight', 'insight', 'insight', '...","['course', 'both perspectives', 'manager', 'te..."

In [30]:
df_cm["Technology"] = df_cm["Technology"].fillna('[]')

In [31]:
def get_TP(df,manual_tagged_string,op_string):
    
    for ind in df.index:
        TP = FP = 0
        
        for i in range(0, len(df[op_string][ind])):
            
            if df[op_string][ind][i] in df[manual_tagged_string][ind]:
                TP = TP + 1
                
            else:
                pass
                
        tp.append(TP)

    return tp

In [32]:
# import numpy as np
# list_1 = ["a", "b", "c", "d", "e"]
# list_2 = ["a", "f", "c", "m"] 
# # yields the elements in `list_2` that are NOT in `list_1`
# main_list = np.setdiff1d(list_2,list_1)
# yields the elements in `list_2` that are NOT in `list_1`



def get_FP(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        main_list = np.setdiff1d(df[op_string][ind],df[manual_tagged_string][ind])
        fp.append(len(main_list))
        
    return fp

In [33]:
# entry like Empty|list of technology output
#

In [34]:
def get_FN(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        
        main_list = np.setdiff1d(df[manual_tagged_string][ind], df[op_string][ind])
        if df[manual_tagged_string][ind]=='[]':
            fn.append(0)
        else:
            fn.append(len(main_list))
        
    return fn

In [35]:
# function call
tp = get_TP(df_cm, "Technology", "matched_NER_by_borders")
fp = get_FP(df_cm, "Technology", "matched_NER_by_borders")
fn = get_FN(df_cm, "Technology", "matched_NER_by_borders")

# tp = get_TP(df_cm, "Technology", "exact_matched_patt")
# fp = get_FP(df_cm, "Technology", "exact_matched_patt")
# fn = get_FN(df_cm, "Technology", "exact_matched_patt")

In [36]:
print(len(tp), len(fp), len(fn))

100 100 100

In [37]:
# creating a dataframe
df_matrix = pd.DataFrame(list(zip(tp, fp, fn)), 
               columns =['TP', 'FP', "FN"])
df_matrix.head(-1)

    TP  FP  FN
0    1   6   0
1    4   2   1
2    0   0   0
3    0   2   0
4    0   2   0
..  ..  ..  ..
94   1   1   0
95   4   3   0
96   0   3   0
97   1   5   0
98   3   2   1

[99 rows x 3 columns]

In [38]:
def get_precision(tp,fp):
    
    if tp+fp ==0:
        precision = 0
    else:
        precision = tp/(tp+fp)
    
    return precision

In [39]:
def get_recall(tp,fn):
    
    if tp+fn ==0:
        recall = 0
    else:
        recall = tp/(tp+fn)
    
    return recall

In [40]:
def get_f_score(precision, recall):
    if precision+recall == 0:
        f_score = 0
    else:
        f_score = 2*(precision*recall)/(precision+recall)
        
    return f_score

In [41]:
df_matrix['Precision'] = df_matrix.apply(lambda x: get_precision(x["TP"], x["FP"]), axis = 1)

In [42]:
df_matrix["Recall"] = df_matrix.apply(lambda x: get_recall(x["TP"], x["FN"]), axis = 1)

In [43]:
df_matrix["f_score"] = df_matrix.apply(lambda x: get_f_score(x["Precision"], x["Recall"]), axis = 1)

In [44]:
df_matrix.head()

   TP  FP  FN  Precision  Recall   f_score
0   1   6   0   0.142857     1.0  0.250000
1   4   2   1   0.666667     0.8  0.727273
2   0   0   0   0.000000     0.0  0.000000
3   0   2   0   0.000000     0.0  0.000000
4   0   2   0   0.000000     0.0  0.000000

In [45]:
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_ner_en_large_flair_100_tagged.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_spacy_adding_more_tags.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_String_Match_non_context.csv", index = False)
df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_String_Match_NER_NOUN_Tags.csv", index = False)

# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_lg__moreTAGS_tagged_100_more_ENTS.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_lg_100_simple_spacy.csv", index = False)

# Sorting 1000 profiles for Manual Tagging

In [46]:
# to_tag = pd.read_csv("Train_Data/Latest_String_Match_non_duplicates - String_Match_non_duplicates.csv")

In [47]:
# len(to_tag)