In [ ]:
# !pip install pandas
# !pip install PyDictionary

In [1]:
import nltk

In [2]:
# nltk.download('wordnet')

In [3]:
import pandas as pd
import numpy as np
import ast
import json
import re
# import swifter
from tqdm import tqdm
import time
from nltk.stem.wordnet import WordNetLemmatizer

In [4]:
from PyDictionary import PyDictionary

In [5]:
# dictionary=PyDictionary()
# print(dictionary.meaning("CymbalStream"))

In [6]:
# tech = pd.read_csv("Dataset/Technology Summary Matching Project - technologies.csv")
# tech = pd.read_csv("Technology Summary Matching Project - technologies-post-removing.csv")
# tech = pd.read_csv("New_Technology_Sheet.csv")
# tech = pd.read_csv("Tech_pydictionary.csv")

summary = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/tagged_simanchala_900.csv")

# summary = pd.read_csv("Dataset/10000_profiles_summary.csv")
# summary = pd.read_csv("Dataset/Test-NewV3 - Testing-Sheet(23_02) - Sheet1.csv")
# summary = pd.read_csv("a4f32761-65b8-45e8-99ed-fb8ad4a63f8d.csv")
# summary = pd.read_csv("Dataset/10000_profiles_summary.csv")
summary_copy = summary.copy()
# tech_copy = tech.copy()


# tech = pd.read_csv("Dataset/Technology Summary Matching Project - technologies.csv")
tech = pd.read_csv("Tech_pydictionary_2.csv")

# tech = pd.read_csv("New_Technology_Sheet.csv")
# summary = pd.read_csv("a4f32761-65b8-45e8-99ed-fb8ad4a63f8d.csv")
# summary = pd.read_csv("testing_drawback - Sheet1.csv")
# summary = pd.read_csv("train_data_original_untagged.csv")
# summary = pd.read_csv("train_data_original_untagged.csv")

# a4f32761-65b8-45e8-99ed-fb8ad4a63f8d.csv
# summary = pd.read_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/tagged_simanchala_100.csv")


# summary = pd.read_csv("Train_Data/String_Match_non_duplicates - String_Match_non_duplicates.csv")
output = pd.read_csv("Dataset/output - output.csv")

In [7]:
summary.columns = ["id", "summaries", "exact_matched_patt", "Unnamed: 3", "Technology"]

* PyDictionary *

In [ ]:
# k = ["Customer Relationship Management", "Lattice", "Java", "Oyez Forms", "outsourcing", "sigma", "built in"]

In [ ]:

def contains_multiple_words(s):
  return len(re.compile('\W').split(s)) > 1

In [ ]:

def contains_single_words(s):
  v = len(re.compile('\W').split(s))
  print(v)
  if (v)==1:
    return True
  else:
    return False

In [ ]:
# x = contains_single_words("Customer Relationship Management")
# x

In [ ]:
def convert_single_word(string_tech):
    return (string_tech.split())

In [ ]:
def give_base_form(word):
  for word in words:
    h = WordNetLemmatizer().lemmatize(word,'v')
  return h

In [ ]:
# # dictionary=PyDictionary("hotel","ambush","nonchalant","perceptive")
# # 'There can be any number of words in the Instance'

# # print(dictionary.printMeanings()) 
# # print(dictionary.getMeanings()) 
# # print (dictionary.getSynonyms())

# # print (dictionary.translateTo("hi"))

# dict_eng = {}
# dict_tech = {}
# none_set = set([None])
# for i in range(0, len(k)):
#   print(i)
#   check = []
#   word = k[i]
#   dictionary=PyDictionary(word)
#   f = dictionary.getMeanings()
#   if f[word] is None and contains_single_words(word):
#     print("\n 1. Single Word and not in Dictionary\n")
#     print("\n\n Searching Base Form \n\n")
#     dict_tech[i] = word
#   elif f[word] is None and contains_multiple_words(word):
#     print("\n 2. Multiple Words and in one go not in dictionary, so split them individualy and check \n")
#     a = convert_single_word(word)
#     for j in range(0, len(a)):
#       dictionary_2 = PyDictionary(a[j])
#       g = dictionary_2.getMeanings()
#       check.append(g[a[j]])

#     if None in check:
#       print("\n 2.1 All words in Multi Words are not English, put in Technology List\n")
#       dict_tech[i] = word

#     else:
#       print("\n 2.2 All words in Multi Words are English, put in English List\n")
#       dict_eng[i] = word
#   else:
#     print("\n 3 Single words and present in dictionary\n")
#     dict_eng[i] = word

# dictionary=PyDictionary("hotel","ambush","nonchalant","perceptive")
# 'There can be any number of words in the Instance'

# print(dictionary.printMeanings()) 
# print(dictionary.getMeanings()) 
# print (dictionary.getSynonyms())

# print (dictionary.translateTo("hi"))
def dictionary_splitting(tech):

  dict_eng = {}
  dict_tech = {}
  none_set = set([None])
  for i in range(0, len(tech)):
    print("\n Currently at Index :\n",i)
    check = []
    word = tech["title"][i]
    dictionary=PyDictionary(word)
    f = dictionary.getMeanings()
    if f[word] is None and contains_single_words(word):
      dict_tech[i] = word
    elif f[word] is None and contains_multiple_words(word):
      a = convert_single_word(word)
      for j in range(0, len(a)):
        dictionary_2 = PyDictionary(a[j])
        g = dictionary_2.getMeanings()
        check.append(g[a[j]])

      if None in check:
        dict_tech[i] = word

      else:
        dict_eng[i] = word
    else:
      dict_eng[i] = word

  return dict_eng, dict_tech

In [ ]:
dict_eng, dict_tech = dictionary_splitting(tech)

In [ ]:
dict_eng

In [ ]:
dict_tech

In [ ]:
print("Length of English dictionary", len(dict_eng), "Length of Tech dictionary", len(dict_tech))

In [ ]:
df_eng = pd.DataFrame.from_dict(dict_eng, orient ='index') 
df_tech = pd.DataFrame.from_dict(dict_tech, orient ='index') 
df_eng.columns = ["English_word"]
df_tech.columns = ["Tech_word"]

In [ ]:
df_eng.head()

In [ ]:
df_tech.head()

In [ ]:
df_tech.reset_index(inplace = True, drop = True)

In [ ]:
df_eng.to_csv("Eng_pydictionary.csv", index = True)
df_tech.to_csv("Tech_pydictionary.csv", index = True)

In [ ]:
df_eng.to_csv("Eng_pydictionary_2.csv", index = True)
df_tech.to_csv("Tech_pydictionary_2.csv", index = True)

In [ ]:
# eng_dictionary.columns = ["index", "title"]
# eng_dictionary.drop(columns = ["index"], axis =1 , inplace = True)
# # eng_dictionary.set_index("index", inplace = True)

In [8]:
summary_copy = summary_copy.sort_values(by="summaries",ascending = False, key = lambda x: x.str.len())
summary_copy.reset_index(inplace = True, drop = True)
# summary_copy = summary.iloc[2000:10000]
# summary_copy.reset_index(inplace = True, drop = True)

In [9]:
summary.head()

,id,summaries,exact_matched_patt,Unnamed: 3,Technology
0,-18msGiQiE2XLdy6XWGAEQ_0000,10+ years of leveraged finance and investment ...,['asset'],NaN,['asset']
1,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,"['attend', 'batch', 'daily']",NaN,NaN
2,-BSYFSH4GWqbTH-JhxVExA_0000,i am currently a junior at cal poly san luis o...,"['honestly', 'astro', 'gain']",NaN,NaN
3,-EJPzKCOhrcLUKsIiC35Ow_0000,team manager with 8 years of experience enabli...,"['later', 'stay', 'lob']",NaN,NaN
4,-EQeYEq-03cWVCkfnsUgow_0000,"eric is an experienced risk, insurance, and pr...","['communicator', 'big picture']",NaN,NaN

In [10]:
summary_copy.head()

,id,summaries,exact_matched_patt,Unnamed: 3,exact_matched_patt_contextual
0,186K6K0uQDU9BuWfCe6gSg_0000,2020 meeting professionals international board...,['engage'],NaN,NaN
1,PGRWYvPSJR7-hZUD68G2iA_0000,a dynamic professional with a total experience...,['factiva'],NaN,['factiva']
2,7fdL3V2BcVNYAtJ37PFCxw_0000,"moorku investments, llc: owner offerup: princi...",['reply'],NaN,NaN
3,U7cEgDrDMkrOdjrvaBO6kg_0000,my main interests regarding research involve d...,[],NaN,NaN
4,JOIFnGwQuPqltgtWyMdegg_0000,quality & continuous improvement executive wit...,"['assembly', 'copper', 'sigma']",NaN,NaN

In [ ]:
tech =df_tech

In [11]:
len(tech)

24057

In [12]:
tech.head()

   Unnamed: 0          Tech_word
0           1        WorkflowMax
1           2           InGenius
2           3            DealHub
3           4              Ebsta
4           5  Repsly Mobile CRM

In [13]:
tech.columns = ["index", "title"]
tech.drop(columns = ["index"], axis =1 , inplace = True)
tech.reset_index(inplace = True, drop = True)

In [14]:
df_tech.head()

NameError: name 'df_tech' is not defined

In [ ]:
# tech.columns = ["title"]

In [ ]:
# tech.drop(columns = ["index"], inplace = True)

In [15]:
len(tech)

24057

In [16]:
summary_copy.head()

,id,summaries,exact_matched_patt,Unnamed: 3,exact_matched_patt_contextual
0,186K6K0uQDU9BuWfCe6gSg_0000,2020 meeting professionals international board...,['engage'],NaN,NaN
1,PGRWYvPSJR7-hZUD68G2iA_0000,a dynamic professional with a total experience...,['factiva'],NaN,['factiva']
2,7fdL3V2BcVNYAtJ37PFCxw_0000,"moorku investments, llc: owner offerup: princi...",['reply'],NaN,NaN
3,U7cEgDrDMkrOdjrvaBO6kg_0000,my main interests regarding research involve d...,[],NaN,NaN
4,JOIFnGwQuPqltgtWyMdegg_0000,quality & continuous improvement executive wit...,"['assembly', 'copper', 'sigma']",NaN,NaN

In [17]:
summary.head()

,id,summaries,exact_matched_patt,Unnamed: 3,Technology
0,-18msGiQiE2XLdy6XWGAEQ_0000,10+ years of leveraged finance and investment ...,['asset'],NaN,['asset']
1,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,"['attend', 'batch', 'daily']",NaN,NaN
2,-BSYFSH4GWqbTH-JhxVExA_0000,i am currently a junior at cal poly san luis o...,"['honestly', 'astro', 'gain']",NaN,NaN
3,-EJPzKCOhrcLUKsIiC35Ow_0000,team manager with 8 years of experience enabli...,"['later', 'stay', 'lob']",NaN,NaN
4,-EQeYEq-03cWVCkfnsUgow_0000,"eric is an experienced risk, insurance, and pr...","['communicator', 'big picture']",NaN,NaN

In [18]:
# tech.rename(columns = {"List of Technologies":"title"}, inplace = True)
# removve comment

In [19]:
# # print("data types summaries",type(summary["summaries"][0]))

# # converting string of list data that is being dumped from sourcehere to list properly to iterate easily later on
# for i in range(0, len(summary)):
#     demo = summary["summaries"][i]
#     res = demo.strip('][')
#     resl = []
#     resl.append(res)
#     summary["summaries"][i] = resl

In [20]:
# taking 500 entries from sheet
# summary_copy = summary_copy.iloc[0:100]

In [21]:
tech_list = []
summary_list = []
id_list = []

In [22]:
def KMP_String(pattern, text):
    a = len(text)
    b = len(pattern)

    prefix_arr = get_prefix_arr(pattern, b)

  
    initial_point = []

    m = 0
    n = 0

  
    while m != a:
       
        if text[m] == pattern[n]:
            m += 1
            n += 1
      
        else:
            n = prefix_arr[n-1]

       
        if n == b:
            initial_point.append(m-n)
            n = prefix_arr[n-1]
        elif n == 0:
            m += 1
            
    return initial_point



def get_prefix_arr(pattern, b):
    prefix_arr = [0] * b
    n = 0
    m = 1

    while m != b:
        if pattern[m] == pattern[n]:
            n += 1
            prefix_arr[m] = n
            m += 1
        elif n != 0:
                n = prefix_arr[n-1]
        else:
            prefix_arr[m] = 0
            m += 1

    return prefix_arr

In [23]:
# print("data types summaries",type(summary["summaries"][0]))

# converting string of list data that is being dumped from sourcehere to list properly to iterate easily later on
# for i in range(0, len(summary_copy)):
#     demo = summary_copy["summaries"][i]
#     res = demo.strip('][')
#     resl = []
#     resl.append(res)
#     summary_copy["summaries"][i] = resl

for i in range(0, len(summary_copy)):
    print(i)
    if summary_copy["summaries"][i] is not np.nan:
        demo = summary_copy["summaries"][i]
        res = demo.strip('][')
        resl = []
        resl.append(res)
        summary_copy["summaries"][i] = resl
        
    else:
        summary_copy["summaries"][i] = '[]'
        demo = summary_copy["summaries"][i]
        res = demo.strip('][')
        resl = []
        resl.append(res)
        summary_copy["summaries"][i] = resl

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222

<ipython-input-23-df3d56489f0e>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_copy["summaries"][i] = resl

223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900

In [24]:
tech.head()

               title
0        WorkflowMax
1           InGenius
2            DealHub
3              Ebsta
4  Repsly Mobile CRM

In [25]:
# trying joblib for paraller processing
#Import package
from joblib import Parallel, delayed
from joblib import Memory

In [29]:
backend = 'multiprocessing'
# random_vector = Parallel(n_jobs=2, backend=backend)(delayed(
#     stochastic_function)(10) for _ in range(n_vectors))
# print_vector(random_vector, backend)

In [35]:
def final_run_string(summary_copy, tech):
    
    tech_list = []
    summary_list = []
    id_list = []
    
    start = time.time()

    for i in range(0, len(summary_copy)):
        print(i)
        string = summary_copy.loc[i, "summaries"][0]
        string = string.lower()

        for j in range(0, len(tech)):
            pat = tech.loc[j,"title"]
            pat = pat.lower()


            initial_index = KMP_String(pat, string)
            if len(initial_index)!=0:

                tech_list.append(pat)    
                summary_list.append(string)
                id_list.append(summary_copy.loc[i,"id"])

    end = time.time() - start
    print("\n TImE TAken", end)
    return tech_list, summary_list, id_list


# #             for k in range(0, len(initial_index)-2):

# #                 if (initial_index[k]==0) and (string[initial_index[k]+len(pat)-1+1].isalpha()==True):
# #                     print("C1")
# #                     initial_index.pop(k)
# #                     match_dict.update({i:[initial_index, len(pat)]})
# #                     print("Dictionary C1", match_dict)
                    
                    

# #                 elif (string[initial_index[k]-1].isalpha()==True) or (string[initial_index[k]+len(pat)-1+1].isalpha()==True):
# #                     print("C2")
# #                     initial_index.pop(k)
# #                     match_dict.update({i:[initial_index, len(pat)]})
# #                     print("Dictionary C2", match_dict)

# #                 else:
# #                     pass

# #             tech_list.append(pat)    
# #             summary_list.append(string)
# #             id_list.append(summary.loc[i,"id"])
                
# #         else:
# #             pass

In [ ]:
tech_list, summary_list, id_list = Parallel(n_jobs=-1, backend=backend)(delayed(
    final_run_string(summary_copy, tech)))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192

In [33]:
tech_list_copy = tech_list
id_list_copy = id_list
summary_list_copy = summary_list

In [34]:
tech_list

[]

In [ ]:
def getDuplicatesWithInfo(listOfElems):
    ''' Get duplicate element in a list along with thier indices in list
     and frequency count'''
    dictOfElems = dict()
    index = 0
    # Iterate over each element in list and keep track of index
    for elem in listOfElems:
        # If element exists in dict then keep its index in list & increment its frequency
        if elem in dictOfElems:
            dictOfElems[elem][0] += 1
            dictOfElems[elem][1].append(index)
        else:
            # Add a new entry in dictionary 
            dictOfElems[elem] = [1, [index]]
        index += 1    
 
    dictOfElems = { key:value for key, value in dictOfElems.items() if value[0] > 1}
    return dictOfElems

In [ ]:
# List of strings
listOfElems = id_list
dictOfElems = getDuplicatesWithInfo(listOfElems)

In [ ]:
# tech_list_demo = tech_list

In [ ]:
type(listOfElems)

In [ ]:
# for key, value in dictOfElems.items():
#         print('Element = ', key , ' :: Repeated Count = ', value[0] , ' :: Index Positions =  ', value[1])

In [ ]:
df = pd.DataFrame(list(zip(id_list, summary_list, tech_list)), 
               columns =['id', 'summaries', "Technology"])

In [ ]:
df.head()

In [ ]:
df.to_csv("string_match_copy_Save17k.csv", index = False)

In [ ]:
for key, value in dictOfElems.items():
#     print("******************")
#     print("\n ID is..", key )
    a = df["Technology"][value[1][0]] #this needs to be changed
    b = []
    b.insert(0,a)
#     print("List at first index", b)
    for i in range(0, len(value[1])-1):
        b.append(df["Technology"][value[1][i+1]])
        df["Technology"][value[1][0]] = b
        
    for i in range(0, len(value[1])-1):
        df = df.drop(index = [value[1][i+1]])
#         print('Element = ', key , ' :: Repeated Count = ', value[0] , ' :: Index Positions =  ', value[1])

In [ ]:
df.reset_index(inplace = True, drop = True)

In [ ]:
# Applying Regex to filter out Invalid Words

def get_exact_match(txt, tech):
    try:
        patt = '|'.join(['\\b'+elem+'\\b' for elem in tech])
        matched_patt = re.findall(patt,txt)
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [ ]:
# new_tech = []
# new_summary = []
# new_id = []

In [ ]:
# for ind in df.index:
    
#     for j in range(0, len(df)):
#         txt = df["summaries"][i]
#         tech_txt = df["Technology"][j]
#         match = get_exact_match(txt, tech_txt)
        
#         new_tech.append(match)
#         new_summary.append(txt)
#         new_id.append(df["id"][i])

In [ ]:
df['exact_matched_patt'] = df.apply(lambda x: get_exact_match(x["summaries"], x["Technology"]), axis = 1)

In [ ]:
# Applying Regex to filter out Invalid Words

def get_exact_match_2(txt, tech):
    try:
        patt = '|'.join(['\\s'+elem+'\\s' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [ ]:
df['matched_NER_final'] = df.apply(lambda x: get_exact_match_2(x["summaries"], x["exact_matched_patt"]), axis = 1)

In [ ]:
df.head(-1)

In [ ]:
from collections import OrderedDict

In [ ]:
for ind in df.index:
    res = list(OrderedDict.fromkeys(df["exact_matched_patt"][ind]))
    df["exact_matched_patt"][ind] = res

In [ ]:
# if need to remove words like manager, hr manager, etc

In [ ]:
r = pd.read_csv("Remove.csv")

In [ ]:
for i in range(0,len(r)):
    r["Remove"][i] = r["Remove"][i].lower()

In [ ]:
remove_list = r["Remove"].tolist()

In [ ]:
remove_list.append("ve")

In [ ]:
remove_list

In [ ]:
df["exact_matched_patt"][0]

In [ ]:
for i in range(0, 100):
    for word in list(df["Technology"][i]):
        if word in remove_list:
            df["Technology"][i].remove(word)

In [ ]:
for i in range(0, 100):
    for word in list(df["exact_matched_patt"][i]):
        if word in remove_list:
            df["exact_matched_patt"][i].remove(word)

In [ ]:
df["exact_matched_patt"][0]

In [ ]:
df.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/KMP_string_Match_newer.csv")

In [ ]:
df.to_csv("KMP_string_Match_newer.csv")

In [ ]:
# df.to_csv("Dataset/Output/op_string/KMP_Latest-Regex_17_k_profiles_latest.csv", index = False)

In [ ]:
# sorting
# df_cm = pd.read_csv("Dataset/Output/op_string/KMP_Latest-Regex_17_k_profiles_latest.csv")

In [ ]:
# Python code to sort a list without 
# creating another list Use of sort() 
def Sorting(lst): 
	lst.sort(key=len, reverse = True) 
	return lst

In [ ]:
# for i in range(0, len(df)-1):
#     print(i)
    
#     if df["exact_matched_patt"][i] == '[]':
        
#         res = ast.literal_eval(df["exact_matched_patt"][i])
#         df["exact_matched_patt"][i] = res
        
#     else:
#         x = []
#         x.insert(0, df["exact_matched_patt"][i])
#         df["exact_matched_patt"][i] = x

In [ ]:
for ind in df.index:
    df["exact_matched_patt"][ind] = Sorting(df["exact_matched_patt"][ind])

In [ ]:
count = []
id_elem = []
elem = []

In [ ]:
for ind in df.index:
    d = df["exact_matched_patt"][ind]
    for j in range(0, len(d)-1):
        search_elem = df["exact_matched_patt"][ind][j]
        i = d.count(search_elem)
        count.append(i)
        elem.append(search_elem)
        id_elem.append(df["id"])

In [ ]:
df_final_v2 = pd.DataFrame(list(zip(elem, count)), 
               columns =['Technology', "Count"])

In [ ]:
df_final_v2.head()

In [ ]:
# Count vs Technology Sheet
save = df_final_v2.groupby(["Technology"]).sum()
save.reset_index(inplace = True)

In [ ]:
save.head()

In [ ]:
save.to_csv("Tech_Count_17k_groupby.csv", index = False)