In [1]:
# importing libraries
import nltk
from PyDictionary import PyDictionary
import pandas as pd
import numpy as np
import ast
import json
import re
from tqdm import tqdm
import time
from nltk.stem.wordnet import WordNetLemmatizer
from collections import OrderedDict

In [2]:
# tagged dataset original
summary = pd.read_csv("1000_tagged_simanchala/1000_Simanchala_Manual_Tagged_final.csv")
# summary = pd.read_csv("1000_tagged_simanchala/tech_sort1k.csv")

# technology dataset, after dictionary split
tech = pd.read_csv("Tech_pydictionary_2.csv")

# output sheet
output = pd.read_csv("Dataset/output - output.csv")

In [3]:
len(summary)

1001

In [4]:
summary = summary.loc[:1]

In [5]:
summary.head()

,id,summaries,exact_matched_patt_contextual,Note
0,-18msGiQiE2XLdy6XWGAEQ_0000,10+ years of leveraged finance and investment ...,NaN,NaN
1,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,NaN,NaN

In [6]:
# sorting by id
summary = summary.sort_values(by=['id'], ascending=False)
summary.reset_index(inplace = True, drop = True)
summary.drop(columns = ["Note"], axis =1, inplace = True)

* PyDictionary *

In [7]:
# k = ["Customer Relationship Management", "Lattice", "Java", "Oyez Forms", "outsourcing", "sigma", "built in"]

In [8]:

# def contains_multiple_words(s):
#   return len(re.compile('\W').split(s)) > 1

In [9]:

# def contains_single_words(s):
#   v = len(re.compile('\W').split(s))
#   print(v)
#   if (v)==1:
#     return True
#   else:
#     return False

In [10]:
# x = contains_single_words("Customer Relationship Management")
# x

In [11]:
# def convert_single_word(string_tech):
#     return (string_tech.split())

In [12]:
# def give_base_form(word):
#   for word in words:
#     h = WordNetLemmatizer().lemmatize(word,'v')
#   return h

In [13]:
# # # dictionary=PyDictionary("hotel","ambush","nonchalant","perceptive")
# # # 'There can be any number of words in the Instance'

# # # print(dictionary.printMeanings()) 
# # # print(dictionary.getMeanings()) 
# # # print (dictionary.getSynonyms())

# # # print (dictionary.translateTo("hi"))

# # dict_eng = {}
# # dict_tech = {}
# # none_set = set([None])
# # for i in range(0, len(k)):
# #   print(i)
# #   check = []
# #   word = k[i]
# #   dictionary=PyDictionary(word)
# #   f = dictionary.getMeanings()
# #   if f[word] is None and contains_single_words(word):
# #     print("\n 1. Single Word and not in Dictionary\n")
# #     print("\n\n Searching Base Form \n\n")
# #     dict_tech[i] = word
# #   elif f[word] is None and contains_multiple_words(word):
# #     print("\n 2. Multiple Words and in one go not in dictionary, so split them individualy and check \n")
# #     a = convert_single_word(word)
# #     for j in range(0, len(a)):
# #       dictionary_2 = PyDictionary(a[j])
# #       g = dictionary_2.getMeanings()
# #       check.append(g[a[j]])

# #     if None in check:
# #       print("\n 2.1 All words in Multi Words are not English, put in Technology List\n")
# #       dict_tech[i] = word

# #     else:
# #       print("\n 2.2 All words in Multi Words are English, put in English List\n")
# #       dict_eng[i] = word
# #   else:
# #     print("\n 3 Single words and present in dictionary\n")
# #     dict_eng[i] = word

# # dictionary=PyDictionary("hotel","ambush","nonchalant","perceptive")
# # 'There can be any number of words in the Instance'

# # print(dictionary.printMeanings()) 
# # print(dictionary.getMeanings()) 
# # print (dictionary.getSynonyms())

# # print (dictionary.translateTo("hi"))
# def dictionary_splitting(tech):

#   dict_eng = {}
#   dict_tech = {}
#   none_set = set([None])
#   for i in range(0, len(tech)):
#     print("\n Currently at Index :\n",i)
#     check = []
#     word = tech["title"][i]
#     dictionary=PyDictionary(word)
#     f = dictionary.getMeanings()
#     if f[word] is None and contains_single_words(word):
#       dict_tech[i] = word
#     elif f[word] is None and contains_multiple_words(word):
#       a = convert_single_word(word)
#       for j in range(0, len(a)):
#         dictionary_2 = PyDictionary(a[j])
#         g = dictionary_2.getMeanings()
#         check.append(g[a[j]])

#       if None in check:
#         dict_tech[i] = word

#       else:
#         dict_eng[i] = word
#     else:
#       dict_eng[i] = word

#   return dict_eng, dict_tech

In [14]:
# dict_eng, dict_tech = dictionary_splitting(tech)

In [15]:
# dict_eng

In [16]:
# dict_tech

In [17]:
# print("Length of English dictionary", len(dict_eng), "Length of Tech dictionary", len(dict_tech))

In [18]:
# df_eng = pd.DataFrame.from_dict(dict_eng, orient ='index') 
# df_tech = pd.DataFrame.from_dict(dict_tech, orient ='index') 
# df_eng.columns = ["English_word"]
# df_tech.columns = ["Tech_word"]

In [19]:
# df_eng.head()

In [20]:
# df_tech.head()

In [21]:
# df_tech.reset_index(inplace = True, drop = True)

In [22]:
# df_eng.to_csv("Eng_pydictionary.csv", index = True)
# df_tech.to_csv("Tech_pydictionary.csv", index = True)

In [23]:
# df_eng.to_csv("Eng_pydictionary_2.csv", index = True)
# df_tech.to_csv("Tech_pydictionary_2.csv", index = True)

In [24]:
# eng_dictionary.columns = ["index", "title"]
# eng_dictionary.drop(columns = ["index"], axis =1 , inplace = True)
# # eng_dictionary.set_index("index", inplace = True)

In [25]:
# summary = summary.sort_values(by=['id'], ascending=False)
# summary.reset_index(inplace = True, drop = True)
# # summary_copy = summary.iloc[2000:10000]
# # summary_copy.reset_index(inplace = True, drop = True)

In [26]:
len(tech)

24057

In [27]:
tech.columns = ["index", "title"]
tech.drop(columns = ["index"], axis =1 , inplace = True)
tech.reset_index(inplace = True, drop = True)

In [28]:
tech.head()

               title
0        WorkflowMax
1           InGenius
2            DealHub
3              Ebsta
4  Repsly Mobile CRM

In [29]:
tech_list = []
summary_list = []
id_list = []

In [30]:
def KMP_String(pattern, text):
    a = len(text)
    b = len(pattern)

    prefix_arr = get_prefix_arr(pattern, b)

  
    initial_point = []

    m = 0
    n = 0

  
    while m != a:
       
        if text[m] == pattern[n]:
            m += 1
            n += 1
      
        else:
            n = prefix_arr[n-1]

       
        if n == b:
            initial_point.append(m-n)
            n = prefix_arr[n-1]
        elif n == 0:
            m += 1
            
    return initial_point



def get_prefix_arr(pattern, b):
    prefix_arr = [0] * b
    n = 0
    m = 1

    while m != b:
        if pattern[m] == pattern[n]:
            n += 1
            prefix_arr[m] = n
            m += 1
        elif n != 0:
                n = prefix_arr[n-1]
        else:
            prefix_arr[m] = 0
            m += 1

    return prefix_arr

In [31]:
summary_copy =summary

In [32]:
# converts the string of list of string
def summary_text_preprocess(df, summary_col_name):
    
    for i in range(0, len(df)):
        
        if df[summary_col_name][i] is not np.nan:
            demo = df[summary_col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[summary_col_name][i] = resl

        else:
            df[summary_col_name][i] = '[]'
            demo = df[summary_col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[summary_col_name][i] = resl

    return df

In [33]:
summary = summary_text_preprocess(summary, "summaries")

In [34]:
# trying joblib for paraller processing
#Import package
from joblib import Parallel, delayed
from joblib import Memory

In [35]:
backend = 'multiprocessing'

In [36]:
# String Match run for matching entries from technology list in summary column
def final_run_string(df, tech):
    
    tech_list = []
    summary_list = []
    id_list = []
    
    start = time.time()

    for i in range(0, len(df)):
        print(i)
        string = df.loc[i, "summaries"][0]
        string = string.lower()

        for j in range(0, len(tech)):
            pat = tech.loc[j,"title"]
            pat = pat.lower()


            initial_index = KMP_String(pat, string)
            if len(initial_index)!=0:

                tech_list.append(pat)    
                summary_list.append(string)
                id_list.append(df.loc[i,"id"])

    end = time.time() - start
    print("\n Time Taken (in s): \n", end)
    return tech_list, summary_list, id_list

In [37]:
tech_list, summary_list, id_list = final_run_string(summary, tech)

0
1

 Time Taken (in s):
 30.061142683029175

In [38]:
tech_list_copy = tech_list
id_list_copy = id_list
summary_list_copy = summary_list

In [39]:
def getDuplicatesWithInfo(listOfElems):
    ''' Get duplicate element in a list along with thier indices in list
     and frequency count'''
    dictOfElems = dict()
    index = 0
    # Iterate over each element in list and keep track of index
    for elem in listOfElems:
        # If element exists in dict then keep its index in list & increment its frequency
        if elem in dictOfElems:
            dictOfElems[elem][0] += 1
            dictOfElems[elem][1].append(index)
        else:
            # Add a new entry in dictionary 
            dictOfElems[elem] = [1, [index]]
        index += 1    
 
    dictOfElems = { key:value for key, value in dictOfElems.items() if value[0] > 1}
    return dictOfElems

In [40]:
# List of strings
listOfElems = id_list
dictOfElems = getDuplicatesWithInfo(listOfElems)

In [41]:
df = pd.DataFrame(list(zip(id_list, summary_list, tech_list)), 
               columns =['id', 'summaries', "Technology"])

In [42]:
df.head()

,id,summaries,Technology
0,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,eschedule
1,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,xperience
2,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,iolo
3,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,and co
4,-4ldAQ53se0hp9GU5FgnIQ_0000,an extremely driven professional within the bi...,verifi

In [43]:
# df.to_csv("string_match_copy_Save17k.csv", index = False)

In [44]:
for key, value in dictOfElems.items():
#     print("******************")
#     print("\n ID is..", key )
    a = df["Technology"][value[1][0]] #this needs to be changed
    b = []
    b.insert(0,a)
#     print("List at first index", b)
    for i in range(0, len(value[1])-1):
        b.append(df["Technology"][value[1][i+1]])
        df["Technology"][value[1][0]] = b
        
    for i in range(0, len(value[1])-1):
        df = df.drop(index = [value[1][i+1]])
#         print('Element = ', key , ' :: Repeated Count = ', value[0] , ' :: Index Positions =  ', value[1])

In [45]:
df.reset_index(inplace = True, drop = True)

In [46]:
# Applying Regex to filter out Invalid Words

def get_exact_match(txt, tech):
    try:
        patt = '|'.join(['\\b'+elem+'\\b' for elem in tech])
        matched_patt = re.findall(patt,txt)
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [47]:
df['exact_matched_patt'] = df.apply(lambda x: get_exact_match(x["summaries"], x["Technology"]), axis = 1)

In [48]:
# Applying Regex to filter out Invalid Words

def get_exact_match_2(txt, tech):
    try:
        patt = '|'.join(['\\s'+elem+'\\s' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [49]:
df['matched_NER_final'] = df.apply(lambda x: get_exact_match_2(x["summaries"], x["exact_matched_patt"]), axis = 1)

In [50]:
for ind in df.index:
    res = list(OrderedDict.fromkeys(df["exact_matched_patt"][ind]))
    df["exact_matched_patt"][ind] = res

In [51]:
# if need to remove words like manager, hr manager, etc

In [52]:
r = pd.read_csv("Remove.csv")

In [53]:
for i in range(0,len(r)):
    r["Remove"][i] = r["Remove"][i].lower()
    
remove_list = r["Remove"].tolist()
remove_list.append("ve")

In [54]:
for i in range(0, len(df)):
    for word in list(df["Technology"][i]):
        if word in remove_list:
            df["Technology"][i].remove(word)

In [55]:
for i in range(0, len(df)):
    for word in list(df["exact_matched_patt"][i]):
        if word in remove_list:
            df["exact_matched_patt"][i].remove(word)

In [56]:
# df.to_csv("1000_tagged_simanchala/output_local/KMP_string_Match_newer_1000.csv", index = False)
# df.to_csv("1000_tagged_simanchala/output_local/KMP_string_Match_2_entry.csv", index = False)

# END

# STRING MATCH - reducing FP

In [57]:
# eng_list_processing = ['AIMS',
#  'CLAIMS',
#  'ACCOUNTS',
#  'Progressive',
#  'Hone',
#  'Unbeatable',
#  'Disco',
#  'Assembly',
#  'Sourcing',
#  'PADS',
#  'Nomad',
#  'Grace',
#  'Turnkey',
#  'PROS']

In [58]:
# for i in range(0, len(eng_list_processing)):
#     eng_list_processing[i] = eng_list_processing[i].lower()

In [59]:
# for i in range(0, len(df)):
#     for word in list(df["exact_matched_patt"][i]):
#         if word in eng_list_processing:
#             df["exact_matched_patt"][i].remove(word)

In [60]:
# for i in range(0, len(df)):
#     for word in list(df["exact_matched_patt"][i]):
#         if word in remove_list:
#             df["exact_matched_patt"][i].remove(word)

In [61]:
df.to_csv("1000_tagged_simanchala/output_local/KMP_string_Match_2_entry.csv")