In [73]:
# importing libraries
import nltk
import pandas as pd
import numpy as np
import ast
import json
import re
# import swifter
from tqdm import tqdm
import time
from nltk.stem.wordnet import WordNetLemmatizer
from PyDictionary import PyDictionary # for dictionary splitting

In [74]:
# reading dataframes

def read_file(summary_file_path, tech_file_path, output_file_path):

    df_summary = pd.read_csv(summary_file_path)
    df_tech = pd.read_csv(tech_file_path)
    df_output = pd.read_csv(output_file_path)
    
    return df_summary, df_tech, df_output

In [75]:
!pwd

/Users/shubhamsunwalka/Desktop/Slintel_2/training_spacy

In [76]:
summary_file_path = "../tech_sort1k.csv"
tech_file_path = "../Technology Summary Matching Project - technologies-post-removing.csv"
# tech_file_path = "../Tech_pydictionary.csv"
output_file_path = "../Dataset/output - output.csv"

In [77]:
summary, tech, output = read_file(summary_file_path, tech_file_path, output_file_path)

In [78]:
print("\n Summary Data \n", summary.head())
print("\n Technology Sheet Data \n", tech.head())
print("\n output Data \n", output.head())

 Summary Data
                             id exact_matched_patt_contextual  \
0  zsDSYc5UzpyXekOABZBfnQ_0000                           NaN
1  zs1YNrrCeorFkGLEXSSp-A_0000                           NaN
2  zowirq8ZhxhchApaRMhNSA_0000                           NaN
3  zoQVkPCfXB9n3AaPGHHwzg_0000                           NaN
4  zmIr2glBZ3Ef8CSS0jw1og_0000                           NaN

                                           summaries Note
0  senior director of clinical services housing a...  NaN
1  i believe that passions are meant to be shared...  NaN
2  bill bryant is founder and chairman of bryant ...  NaN
3  undertaking a trilingual masters degree in eur...  NaN
4  career objective a role within marketing and n...  NaN

 Technology Sheet Data
   List of Technologies
0             .NETCore
1      [24]7 Live Chat
2        @hand SAPHRON
3                @RISK
4          @Value 2016

 output Data
 Empty DataFrame
Columns: [id, summaries, Technology_Names]
Index: []

In [79]:
# removing garbage words from tech sheet
r = pd.read_csv("../Remove.csv")

In [80]:
for i in range(0,len(r)):
    r["Remove"][i] = r["Remove"][i].lower()

In [81]:
remove_list = r["Remove"].tolist()
remove_list.append("ve")

In [82]:
len(tech)

29318

In [83]:
# sorting by id
summary = summary.sort_values(by=['id'], ascending=False)
summary.reset_index(inplace = True, drop = True)
summary.drop(columns = ["Note"], axis =1, inplace = True)

In [84]:
print(len(tech), len(summary))

29318 1001

In [85]:
# taking 500 entries from sheet
# summary = summary.iloc[0:100]

In [86]:
tech.columns = ["title"]

In [87]:
# tech.columns = ["index", "title"]
# tech.drop(columns = ["index"], axis =1 , inplace = True)
tech.reset_index(inplace = True, drop = True)

In [88]:
tech_list = []
summary_list = []
id_list = []

In [89]:
summary["summaries"][0]

'senior director of clinical services housing assistance and hiv aids services with focus in clinical supervision trauma informed care trainer and consultant program development and leadership building behavior support specialist behavior therapist lcsw/ provide supervision to therapist obtaining credentials former management of autism circles of treatment support grant consultation in the area of intellectual disabilities and mental health needs expertise in the area and advocate of social and sexual awareness and needs for individuals participated and trained as a volunteer for the kentucky crisis response team volunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters presentations in a variety of areas to assist clients and staff in behavioral and mental health needs former member of steering committee for trauma informed care and development of training, senior director of clinical services\nhousing programs with focus in clinical services\ntrauma informed care trainer and consultant \nprogram development and leadership building\nbehavior support specialist\nbehavior therapist\nlcsw/ provide supervision to therapist obtaining credentials \nformer management of autism circles of treatment support grant\nconsultation in the area of intellectual disabilities and mental health needs\nexpertise in the area and advocate of social and sexual awareness and needs for individuals\nparticipated and trained as a volunteer for the kentucky crisis response team\nvolunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters\npresentations in a variety of areas to assist clients and staff in behavioral and mental health needs\nformer member of steering committee for trauma informed care and development of training, senior director of clinical services at volunteers of america of kentucky, senior director at volunteers of america mid-states'

In [90]:
# converting string of list data that is being dumped from source here to list properly to iterate easily later on

def dump_format_change(df, col_name):
    
    for i in range(0, len(df)):
        print(i)
        if df[col_name][i] is not np.nan:
            demo = df[col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[col_name][i] = resl
        
        else:
            df[col_name][i] = '[]'
            demo = df[col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[col_name][i] = resl
    return df

In [91]:
summary = dump_format_change(summary, "summaries")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [92]:
summary["exact_matched_patt_contextual"][33]

"['microsoft office', 'adobe']"

In [93]:

summary['exact_matched_patt_contextual'] = [ '[]' if x is np.NaN else x for x in summary['exact_matched_patt_contextual'] ]

In [94]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [95]:
summary = convert_data_format(summary, "exact_matched_patt_contextual")

In [96]:
summary["summaries"][0]

['senior director of clinical services housing assistance and hiv aids services with focus in clinical supervision trauma informed care trainer and consultant program development and leadership building behavior support specialist behavior therapist lcsw/ provide supervision to therapist obtaining credentials former management of autism circles of treatment support grant consultation in the area of intellectual disabilities and mental health needs expertise in the area and advocate of social and sexual awareness and needs for individuals participated and trained as a volunteer for the kentucky crisis response team volunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters presentations in a variety of areas to assist clients and staff in behavioral and mental health needs former member of steering committee for trauma informed care and development of training, senior director of clinical services\nhousing programs with focus in clinical services\ntrauma informed care trainer and consultant \nprogram development and leadership building\nbehavior support specialist\nbehavior therapist\nlcsw/ provide supervision to therapist obtaining credentials \nformer management of autism circles of treatment support grant\nconsultation in the area of intellectual disabilities and mental health needs\nexpertise in the area and advocate of social and sexual awareness and needs for individuals\nparticipated and trained as a volunteer for the kentucky crisis response team\nvolunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters\npresentations in a variety of areas to assist clients and staff in behavioral and mental health needs\nformer member of steering committee for trauma informed care and development of training, senior director of clinical services at volunteers of america of kentucky, senior director at volunteers of america mid-states']

In [97]:
# trying joblib for paraller processing
#Import package
from joblib import Parallel, delayed
from joblib import Memory

In [98]:
backend = 'multiprocessing'

In [99]:
tech.head()

             title
0         .NETCore
1  [24]7 Live Chat
2    @hand SAPHRON
3            @RISK
4      @Value 2016

In [100]:
# tech=tech.iloc[:,1:2]

In [101]:
# tech.columns = ["title"]
import sys

In [102]:
tech['title'] = tech['title'].astype(str)
all_tech_words = list(tech['title'].str.lower())
summary["summaries_matching"]=summary["summaries"].astype(str)
all_strings = list(summary["summaries_matching"].str.lower())

In [103]:
# i=1
# tech_keys=[]
# spacy_keys = []
# for item in all_strings:
#     print("***","TEST No,",i,"***")
#     i=i+1
#     tech_row=[]
#     spacy_row = []
#     for k in all_tech_words:
#         if k in item and len(k)>2:
#             tech_row.append(k)
#             k=k.strip()
#             k.replace(" ","_")
#             spacy_row.append([k,item.index(k),item.index(k) + len(k),"ORG"])
        
#     tech_keys.append(tech_row)
#     spacy_keys.append(spacy_row)

In [104]:
i=1
tech_keys=[]
spacy_keys = []
for item in all_strings:
    print("***","TEST No,",i,"***")
    i=i+1
    tech_row=[]
    spacy_row = []
    for k in all_tech_words:
        if k in item and len(k)>2:
            tech_row.append(k)
            k=k.strip()
            k.replace(" ","_")
            k.replace(",","")
            spacy_row.append([k,item.index(k)-2,item.index(k) + len(k)-2,"ORG"])
        
    tech_keys.append(tech_row)
    spacy_keys.append(spacy_row)

*** TEST No, 1 ***
*** TEST No, 2 ***
*** TEST No, 3 ***
*** TEST No, 4 ***
*** TEST No, 5 ***
*** TEST No, 6 ***
*** TEST No, 7 ***
*** TEST No, 8 ***
*** TEST No, 9 ***
*** TEST No, 10 ***
*** TEST No, 11 ***
*** TEST No, 12 ***
*** TEST No, 13 ***
*** TEST No, 14 ***
*** TEST No, 15 ***
*** TEST No, 16 ***
*** TEST No, 17 ***
*** TEST No, 18 ***
*** TEST No, 19 ***
*** TEST No, 20 ***
*** TEST No, 21 ***
*** TEST No, 22 ***
*** TEST No, 23 ***
*** TEST No, 24 ***
*** TEST No, 25 ***
*** TEST No, 26 ***
*** TEST No, 27 ***
*** TEST No, 28 ***
*** TEST No, 29 ***
*** TEST No, 30 ***
*** TEST No, 31 ***
*** TEST No, 32 ***
*** TEST No, 33 ***
*** TEST No, 34 ***
*** TEST No, 35 ***
*** TEST No, 36 ***
*** TEST No, 37 ***
*** TEST No, 38 ***
*** TEST No, 39 ***
*** TEST No, 40 ***
*** TEST No, 41 ***
*** TEST No, 42 ***
*** TEST No, 43 ***
*** TEST No, 44 ***
*** TEST No, 45 ***
*** TEST No, 46 ***
*** TEST No, 47 ***
*** TEST No, 48 ***
*** TEST No, 49 ***
*** TEST No, 50 ***
*** TEST No, 51 ***
*** TEST No, 52 ***
*** TEST No, 53 ***
*** TEST No, 54 ***
*** TEST No, 55 ***
*** TEST No, 56 ***
*** TEST No, 57 ***
*** TEST No, 58 ***
*** TEST No, 59 ***
*** TEST No, 60 ***
*** TEST No, 61 ***
*** TEST No, 62 ***
*** TEST No, 63 ***
*** TEST No, 64 ***
*** TEST No, 65 ***
*** TEST No, 66 ***
*** TEST No, 67 ***
*** TEST No, 68 ***
*** TEST No, 69 ***
*** TEST No, 70 ***
*** TEST No, 71 ***
*** TEST No, 72 ***
*** TEST No, 73 ***
*** TEST No, 74 ***
*** TEST No, 75 ***
*** TEST No, 76 ***
*** TEST No, 77 ***
*** TEST No, 78 ***
*** TEST No, 79 ***
*** TEST No, 80 ***
*** TEST No, 81 ***
*** TEST No, 82 ***
*** TEST No, 83 ***
*** TEST No, 84 ***
*** TEST No, 85 ***
*** TEST No, 86 ***
*** TEST No, 87 ***
*** TEST No, 88 ***
*** TEST No, 89 ***
*** TEST No, 90 ***
*** TEST No, 91 ***
*** TEST No, 92 ***
*** TEST No, 93 ***
*** TEST No, 94 ***
*** TEST No, 95 ***
*** TEST No, 96 ***
*** TEST No, 97 ***
*** TEST No, 98 ***
*** TEST No, 99 ***
*** TEST No, 100 ***
*** TEST No, 101 ***
*** TEST No, 102 ***
*** TEST No, 103 ***
*** TEST No, 104 ***
*** TEST No, 105 ***
*** TEST No, 106 ***
*** TEST No, 107 ***
*** TEST No, 108 ***
*** TEST No, 109 ***
*** TEST No, 110 ***
*** TEST No, 111 ***
*** TEST No, 112 ***
*** TEST No, 113 ***
*** TEST No, 114 ***
*** TEST No, 115 ***
*** TEST No, 116 ***
*** TEST No, 117 ***
*** TEST No, 118 ***
*** TEST No, 119 ***
*** TEST No, 120 ***
*** TEST No, 121 ***
*** TEST No, 122 ***
*** TEST No, 123 ***
*** TEST No, 124 ***
*** TEST No, 125 ***
*** TEST No, 126 ***
*** TEST No, 127 ***
*** TEST No, 128 ***
*** TEST No, 129 ***
*** TEST No, 130 ***
*** TEST No, 131 ***
*** TEST No, 132 ***
*** TEST No, 133 ***
*** TEST No, 134 ***
*** TEST No, 135 ***
*** TEST No, 136 ***
*** TEST No, 137 ***
*** TEST No, 138 ***
*** TEST No, 139 ***
*** TEST No, 140 ***
*** TEST No, 141 ***
*** TEST No, 142 ***
*** TEST No, 143 ***
*** TEST No, 144 ***
*** TEST No, 145 ***
*** TEST No, 146 ***
*** TEST No, 147 ***
*** TEST No, 148 ***
*** TEST No, 149 ***
*** TEST No, 150 ***
*** TEST No, 151 ***
*** TEST No, 152 ***
*** TEST No, 153 ***
*** TEST No, 154 ***
*** TEST No, 155 ***
*** TEST No, 156 ***
*** TEST No, 157 ***
*** TEST No, 158 ***
*** TEST No, 159 ***
*** TEST No, 160 ***
*** TEST No, 161 ***
*** TEST No, 162 ***
*** TEST No, 163 ***
*** TEST No, 164 ***
*** TEST No, 165 ***
*** TEST No, 166 ***
*** TEST No, 167 ***
*** TEST No, 168 ***
*** TEST No, 169 ***
*** TEST No, 170 ***
*** TEST No, 171 ***
*** TEST No, 172 ***
*** TEST No, 173 ***
*** TEST No, 174 ***
*** TEST No, 175 ***
*** TEST No, 176 ***
*** TEST No, 177 ***
*** TEST No, 178 ***
*** TEST No, 179 ***
*** TEST No, 180 ***
*** TEST No, 181 ***
*** TEST No, 182 ***
*** TEST No, 183 ***
*** TEST No, 184 ***
*** TEST No, 185 ***
*** TEST No, 186 ***
*** TEST No, 187 ***
*** TEST No, 188 ***
*** TEST No, 189 ***
*** TEST No, 190 ***
*** TEST No, 191 ***
*** TEST No, 192 ***
*** TEST No, 193 ***
*** TEST No, 194 ***
*** TEST No, 195 ***
*** TEST No, 196 ***
*** TEST No, 197 ***
*** TEST No, 198 ***
*** TEST No, 199 ***
*** TEST No, 200 ***
*** TEST No, 201 ***
*** TEST No, 202 ***
*** TEST No, 203 ***
*** TEST No, 204 ***
*** TEST No, 205 ***
*** TEST No, 206 ***
*** TEST No, 207 ***
*** TEST No, 208 ***
*** TEST No, 209 ***
*** TEST No, 210 ***
*** TEST No, 211 ***
*** TEST No, 212 ***
*** TEST No, 213 ***
*** TEST No, 214 ***
*** TEST No, 215 ***
*** TEST No, 216 ***
*** TEST No, 217 ***
*** TEST No, 218 ***
*** TEST No, 219 ***
*** TEST No, 220 ***
*** TEST No, 221 ***
*** TEST No, 222 ***
*** TEST No, 223 ***
*** TEST No, 224 ***
*** TEST No, 225 ***
*** TEST No, 226 ***
*** TEST No, 227 ***
*** TEST No, 228 ***
*** TEST No, 229 ***
*** TEST No, 230 ***
*** TEST No, 231 ***
*** TEST No, 232 ***
*** TEST No, 233 ***
*** TEST No, 234 ***
*** TEST No, 235 ***
*** TEST No, 236 ***
*** TEST No, 237 ***
*** TEST No, 238 ***
*** TEST No, 239 ***
*** TEST No, 240 ***
*** TEST No, 241 ***
*** TEST No, 242 ***
*** TEST No, 243 ***
*** TEST No, 244 ***
*** TEST No, 245 ***
*** TEST No, 246 ***
*** TEST No, 247 ***
*** TEST No, 248 ***
*** TEST No, 249 ***
*** TEST No, 250 ***
*** TEST No, 251 ***
*** TEST No, 252 ***
*** TEST No, 253 ***
*** TEST No, 254 ***
*** TEST No, 255 ***
*** TEST No, 256 ***
*** TEST No, 257 ***
*** TEST No, 258 ***
*** TEST No, 259 ***
*** TEST No, 260 ***
*** TEST No, 261 ***
*** TEST No, 262 ***
*** TEST No, 263 ***
*** TEST No, 264 ***
*** TEST No, 265 ***
*** TEST No, 266 ***
*** TEST No, 267 ***
*** TEST No, 268 ***
*** TEST No, 269 ***
*** TEST No, 270 ***
*** TEST No, 271 ***
*** TEST No, 272 ***
*** TEST No, 273 ***
*** TEST No, 274 ***
*** TEST No, 275 ***
*** TEST No, 276 ***
*** TEST No, 277 ***
*** TEST No, 278 ***
*** TEST No, 279 ***
*** TEST No, 280 ***
*** TEST No, 281 ***
*** TEST No, 282 ***
*** TEST No, 283 ***
*** TEST No, 284 ***
*** TEST No, 285 ***
*** TEST No, 286 ***
*** TEST No, 287 ***
*** TEST No, 288 ***
*** TEST No, 289 ***
*** TEST No, 290 ***
*** TEST No, 291 ***
*** TEST No, 292 ***
*** TEST No, 293 ***
*** TEST No, 294 ***
*** TEST No, 295 ***
*** TEST No, 296 ***
*** TEST No, 297 ***
*** TEST No, 298 ***
*** TEST No, 299 ***
*** TEST No, 300 ***
*** TEST No, 301 ***
*** TEST No, 302 ***
*** TEST No, 303 ***
*** TEST No, 304 ***
*** TEST No, 305 ***
*** TEST No, 306 ***
*** TEST No, 307 ***
*** TEST No, 308 ***
*** TEST No, 309 ***
*** TEST No, 310 ***
*** TEST No, 311 ***
*** TEST No, 312 ***
*** TEST No, 313 ***
*** TEST No, 314 ***
*** TEST No, 315 ***
*** TEST No, 316 ***
*** TEST No, 317 ***
*** TEST No, 318 ***
*** TEST No, 319 ***
*** TEST No, 320 ***
*** TEST No, 321 ***
*** TEST No, 322 ***
*** TEST No, 323 ***
*** TEST No, 324 ***
*** TEST No, 325 ***
*** TEST No, 326 ***
*** TEST No, 327 ***
*** TEST No, 328 ***
*** TEST No, 329 ***
*** TEST No, 330 ***
*** TEST No, 331 ***
*** TEST No, 332 ***
*** TEST No, 333 ***
*** TEST No, 334 ***
*** TEST No, 335 ***
*** TEST No, 336 ***
*** TEST No, 337 ***
*** TEST No, 338 ***
*** TEST No, 339 ***
*** TEST No, 340 ***
*** TEST No, 341 ***
*** TEST No, 342 ***
*** TEST No, 343 ***
*** TEST No, 344 ***
*** TEST No, 345 ***
*** TEST No, 346 ***
*** TEST No, 347 ***
*** TEST No, 348 ***
*** TEST No, 349 ***
*** TEST No, 350 ***
*** TEST No, 351 ***
*** TEST No, 352 ***
*** TEST No, 353 ***
*** TEST No, 354 ***
*** TEST No, 355 ***
*** TEST No, 356 ***
*** TEST No, 357 ***
*** TEST No, 358 ***
*** TEST No, 359 ***
*** TEST No, 360 ***
*** TEST No, 361 ***
*** TEST No, 362 ***
*** TEST No, 363 ***
*** TEST No, 364 ***
*** TEST No, 365 ***
*** TEST No, 366 ***
*** TEST No, 367 ***
*** TEST No, 368 ***
*** TEST No, 369 ***
*** TEST No, 370 ***
*** TEST No, 371 ***
*** TEST No, 372 ***
*** TEST No, 373 ***
*** TEST No, 374 ***
*** TEST No, 375 ***
*** TEST No, 376 ***
*** TEST No, 377 ***
*** TEST No, 378 ***
*** TEST No, 379 ***
*** TEST No, 380 ***
*** TEST No, 381 ***
*** TEST No, 382 ***
*** TEST No, 383 ***
*** TEST No, 384 ***
*** TEST No, 385 ***
*** TEST No, 386 ***
*** TEST No, 387 ***
*** TEST No, 388 ***
*** TEST No, 389 ***
*** TEST No, 390 ***
*** TEST No, 391 ***
*** TEST No, 392 ***
*** TEST No, 393 ***
*** TEST No, 394 ***
*** TEST No, 395 ***
*** TEST No, 396 ***
*** TEST No, 397 ***
*** TEST No, 398 ***
*** TEST No, 399 ***

*** TEST No, 400 ***
*** TEST No, 401 ***
*** TEST No, 402 ***
*** TEST No, 403 ***
*** TEST No, 404 ***
*** TEST No, 405 ***
*** TEST No, 406 ***
*** TEST No, 407 ***
*** TEST No, 408 ***
*** TEST No, 409 ***
*** TEST No, 410 ***
*** TEST No, 411 ***
*** TEST No, 412 ***
*** TEST No, 413 ***
*** TEST No, 414 ***
*** TEST No, 415 ***
*** TEST No, 416 ***
*** TEST No, 417 ***
*** TEST No, 418 ***
*** TEST No, 419 ***
*** TEST No, 420 ***
*** TEST No, 421 ***
*** TEST No, 422 ***
*** TEST No, 423 ***
*** TEST No, 424 ***
*** TEST No, 425 ***
*** TEST No, 426 ***
*** TEST No, 427 ***
*** TEST No, 428 ***
*** TEST No, 429 ***
*** TEST No, 430 ***
*** TEST No, 431 ***
*** TEST No, 432 ***
*** TEST No, 433 ***
*** TEST No, 434 ***
*** TEST No, 435 ***
*** TEST No, 436 ***
*** TEST No, 437 ***
*** TEST No, 438 ***
*** TEST No, 439 ***
*** TEST No, 440 ***
*** TEST No, 441 ***
*** TEST No, 442 ***
*** TEST No, 443 ***
*** TEST No, 444 ***
*** TEST No, 445 ***
*** TEST No, 446 ***
*** TEST No, 447 ***
*** TEST No, 448 ***
*** TEST No, 449 ***
*** TEST No, 450 ***
*** TEST No, 451 ***
*** TEST No, 452 ***
*** TEST No, 453 ***
*** TEST No, 454 ***
*** TEST No, 455 ***
*** TEST No, 456 ***
*** TEST No, 457 ***
*** TEST No, 458 ***
*** TEST No, 459 ***
*** TEST No, 460 ***
*** TEST No, 461 ***
*** TEST No, 462 ***
*** TEST No, 463 ***
*** TEST No, 464 ***
*** TEST No, 465 ***
*** TEST No, 466 ***
*** TEST No, 467 ***
*** TEST No, 468 ***
*** TEST No, 469 ***
*** TEST No, 470 ***
*** TEST No, 471 ***
*** TEST No, 472 ***
*** TEST No, 473 ***
*** TEST No, 474 ***
*** TEST No, 475 ***
*** TEST No, 476 ***
*** TEST No, 477 ***
*** TEST No, 478 ***
*** TEST No, 479 ***
*** TEST No, 480 ***
*** TEST No, 481 ***
*** TEST No, 482 ***
*** TEST No, 483 ***
*** TEST No, 484 ***
*** TEST No, 485 ***
*** TEST No, 486 ***
*** TEST No, 487 ***
*** TEST No, 488 ***
*** TEST No, 489 ***
*** TEST No, 490 ***
*** TEST No, 491 ***
*** TEST No, 492 ***
*** TEST No, 493 ***
*** TEST No, 494 ***
*** TEST No, 495 ***
*** TEST No, 496 ***
*** TEST No, 497 ***
*** TEST No, 498 ***
*** TEST No, 499 ***
*** TEST No, 500 ***
*** TEST No, 501 ***
*** TEST No, 502 ***
*** TEST No, 503 ***
*** TEST No, 504 ***
*** TEST No, 505 ***
*** TEST No, 506 ***
*** TEST No, 507 ***
*** TEST No, 508 ***
*** TEST No, 509 ***
*** TEST No, 510 ***
*** TEST No, 511 ***
*** TEST No, 512 ***
*** TEST No, 513 ***
*** TEST No, 514 ***
*** TEST No, 515 ***
*** TEST No, 516 ***
*** TEST No, 517 ***
*** TEST No, 518 ***
*** TEST No, 519 ***
*** TEST No, 520 ***
*** TEST No, 521 ***
*** TEST No, 522 ***
*** TEST No, 523 ***
*** TEST No, 524 ***
*** TEST No, 525 ***
*** TEST No, 526 ***
*** TEST No, 527 ***
*** TEST No, 528 ***
*** TEST No, 529 ***
*** TEST No, 530 ***
*** TEST No, 531 ***
*** TEST No, 532 ***
*** TEST No, 533 ***
*** TEST No, 534 ***
*** TEST No, 535 ***
*** TEST No, 536 ***
*** TEST No, 537 ***
*** TEST No, 538 ***
*** TEST No, 539 ***
*** TEST No, 540 ***
*** TEST No, 541 ***
*** TEST No, 542 ***
*** TEST No, 543 ***
*** TEST No, 544 ***
*** TEST No, 545 ***
*** TEST No, 546 ***
*** TEST No, 547 ***
*** TEST No, 548 ***
*** TEST No, 549 ***
*** TEST No, 550 ***
*** TEST No, 551 ***
*** TEST No, 552 ***
*** TEST No, 553 ***
*** TEST No, 554 ***
*** TEST No, 555 ***
*** TEST No, 556 ***
*** TEST No, 557 ***
*** TEST No, 558 ***
*** TEST No, 559 ***
*** TEST No, 560 ***
*** TEST No, 561 ***
*** TEST No, 562 ***
*** TEST No, 563 ***
*** TEST No, 564 ***
*** TEST No, 565 ***
*** TEST No, 566 ***
*** TEST No, 567 ***
*** TEST No, 568 ***
*** TEST No, 569 ***
*** TEST No, 570 ***
*** TEST No, 571 ***
*** TEST No, 572 ***
*** TEST No, 573 ***
*** TEST No, 574 ***
*** TEST No, 575 ***
*** TEST No, 576 ***
*** TEST No, 577 ***
*** TEST No, 578 ***
*** TEST No, 579 ***
*** TEST No, 580 ***
*** TEST No, 581 ***
*** TEST No, 582 ***
*** TEST No, 583 ***
*** TEST No, 584 ***
*** TEST No, 585 ***
*** TEST No, 586 ***
*** TEST No, 587 ***
*** TEST No, 588 ***
*** TEST No, 589 ***
*** TEST No, 590 ***
*** TEST No, 591 ***
*** TEST No, 592 ***
*** TEST No, 593 ***
*** TEST No, 594 ***
*** TEST No, 595 ***
*** TEST No, 596 ***
*** TEST No, 597 ***
*** TEST No, 598 ***
*** TEST No, 599 ***
*** TEST No, 600 ***
*** TEST No, 601 ***
*** TEST No, 602 ***
*** TEST No, 603 ***
*** TEST No, 604 ***
*** TEST No, 605 ***
*** TEST No, 606 ***
*** TEST No, 607 ***
*** TEST No, 608 ***
*** TEST No, 609 ***
*** TEST No, 610 ***
*** TEST No, 611 ***
*** TEST No, 612 ***
*** TEST No, 613 ***
*** TEST No, 614 ***
*** TEST No, 615 ***
*** TEST No, 616 ***
*** TEST No, 617 ***
*** TEST No, 618 ***
*** TEST No, 619 ***
*** TEST No, 620 ***
*** TEST No, 621 ***
*** TEST No, 622 ***
*** TEST No, 623 ***
*** TEST No, 624 ***
*** TEST No, 625 ***
*** TEST No, 626 ***
*** TEST No, 627 ***
*** TEST No, 628 ***
*** TEST No, 629 ***
*** TEST No, 630 ***
*** TEST No, 631 ***
*** TEST No, 632 ***
*** TEST No, 633 ***
*** TEST No, 634 ***
*** TEST No, 635 ***
*** TEST No, 636 ***
*** TEST No, 637 ***
*** TEST No, 638 ***
*** TEST No, 639 ***
*** TEST No, 640 ***
*** TEST No, 641 ***
*** TEST No, 642 ***
*** TEST No, 643 ***
*** TEST No, 644 ***
*** TEST No, 645 ***
*** TEST No, 646 ***
*** TEST No, 647 ***
*** TEST No, 648 ***
*** TEST No, 649 ***
*** TEST No, 650 ***
*** TEST No, 651 ***
*** TEST No, 652 ***
*** TEST No, 653 ***
*** TEST No, 654 ***
*** TEST No, 655 ***
*** TEST No, 656 ***
*** TEST No, 657 ***
*** TEST No, 658 ***
*** TEST No, 659 ***
*** TEST No, 660 ***
*** TEST No, 661 ***
*** TEST No, 662 ***
*** TEST No, 663 ***
*** TEST No, 664 ***
*** TEST No, 665 ***
*** TEST No, 666 ***
*** TEST No, 667 ***
*** TEST No, 668 ***
*** TEST No, 669 ***
*** TEST No, 670 ***
*** TEST No, 671 ***
*** TEST No, 672 ***
*** TEST No, 673 ***
*** TEST No, 674 ***
*** TEST No, 675 ***
*** TEST No, 676 ***
*** TEST No, 677 ***
*** TEST No, 678 ***
*** TEST No, 679 ***
*** TEST No, 680 ***
*** TEST No, 681 ***
*** TEST No, 682 ***
*** TEST No, 683 ***
*** TEST No, 684 ***
*** TEST No, 685 ***
*** TEST No, 686 ***
*** TEST No, 687 ***
*** TEST No, 688 ***
*** TEST No, 689 ***
*** TEST No, 690 ***
*** TEST No, 691 ***
*** TEST No, 692 ***
*** TEST No, 693 ***
*** TEST No, 694 ***
*** TEST No, 695 ***
*** TEST No, 696 ***
*** TEST No, 697 ***
*** TEST No, 698 ***
*** TEST No, 699 ***
*** TEST No, 700 ***
*** TEST No, 701 ***
*** TEST No, 702 ***
*** TEST No, 703 ***
*** TEST No, 704 ***
*** TEST No, 705 ***
*** TEST No, 706 ***
*** TEST No, 707 ***
*** TEST No, 708 ***
*** TEST No, 709 ***
*** TEST No, 710 ***
*** TEST No, 711 ***
*** TEST No, 712 ***
*** TEST No, 713 ***
*** TEST No, 714 ***
*** TEST No, 715 ***
*** TEST No, 716 ***
*** TEST No, 717 ***
*** TEST No, 718 ***
*** TEST No, 719 ***
*** TEST No, 720 ***
*** TEST No, 721 ***
*** TEST No, 722 ***
*** TEST No, 723 ***
*** TEST No, 724 ***
*** TEST No, 725 ***
*** TEST No, 726 ***
*** TEST No, 727 ***
*** TEST No, 728 ***
*** TEST No, 729 ***
*** TEST No, 730 ***
*** TEST No, 731 ***
*** TEST No, 732 ***
*** TEST No, 733 ***
*** TEST No, 734 ***
*** TEST No, 735 ***
*** TEST No, 736 ***
*** TEST No, 737 ***
*** TEST No, 738 ***
*** TEST No, 739 ***
*** TEST No, 740 ***
*** TEST No, 741 ***
*** TEST No, 742 ***
*** TEST No, 743 ***
*** TEST No, 744 ***
*** TEST No, 745 ***
*** TEST No, 746 ***
*** TEST No, 747 ***
*** TEST No, 748 ***
*** TEST No, 749 ***
*** TEST No, 750 ***
*** TEST No, 751 ***
*** TEST No, 752 ***
*** TEST No, 753 ***
*** TEST No, 754 ***
*** TEST No, 755 ***
*** TEST No, 756 ***
*** TEST No, 757 ***
*** TEST No, 758 ***
*** TEST No, 759 ***
*** TEST No, 760 ***
*** TEST No, 761 ***
*** TEST No, 762 ***
*** TEST No, 763 ***
*** TEST No, 764 ***
*** TEST No, 765 ***
*** TEST No, 766 ***
*** TEST No, 767 ***
*** TEST No, 768 ***
*** TEST No, 769 ***
*** TEST No, 770 ***
*** TEST No, 771 ***
*** TEST No, 772 ***
*** TEST No, 773 ***
*** TEST No, 774 ***
*** TEST No, 775 ***
*** TEST No, 776 ***
*** TEST No, 777 ***
*** TEST No, 778 ***
*** TEST No, 779 ***
*** TEST No, 780 ***
*** TEST No, 781 ***
*** TEST No, 782 ***
*** TEST No, 783 ***
*** TEST No, 784 ***
*** TEST No, 785 ***
*** TEST No, 786 ***
*** TEST No, 787 ***
*** TEST No, 788 ***
*** TEST No, 789 ***
*** TEST No, 790 ***
*** TEST No, 791 ***
*** TEST No, 792 ***
*** TEST No, 793 ***

*** TEST No, 794 ***
*** TEST No, 795 ***
*** TEST No, 796 ***
*** TEST No, 797 ***
*** TEST No, 798 ***
*** TEST No, 799 ***
*** TEST No, 800 ***
*** TEST No, 801 ***
*** TEST No, 802 ***
*** TEST No, 803 ***
*** TEST No, 804 ***
*** TEST No, 805 ***
*** TEST No, 806 ***
*** TEST No, 807 ***
*** TEST No, 808 ***
*** TEST No, 809 ***
*** TEST No, 810 ***
*** TEST No, 811 ***
*** TEST No, 812 ***
*** TEST No, 813 ***
*** TEST No, 814 ***
*** TEST No, 815 ***
*** TEST No, 816 ***
*** TEST No, 817 ***
*** TEST No, 818 ***
*** TEST No, 819 ***
*** TEST No, 820 ***
*** TEST No, 821 ***
*** TEST No, 822 ***
*** TEST No, 823 ***
*** TEST No, 824 ***
*** TEST No, 825 ***
*** TEST No, 826 ***
*** TEST No, 827 ***
*** TEST No, 828 ***
*** TEST No, 829 ***
*** TEST No, 830 ***
*** TEST No, 831 ***
*** TEST No, 832 ***
*** TEST No, 833 ***
*** TEST No, 834 ***
*** TEST No, 835 ***
*** TEST No, 836 ***
*** TEST No, 837 ***
*** TEST No, 838 ***
*** TEST No, 839 ***
*** TEST No, 840 ***
*** TEST No, 841 ***
*** TEST No, 842 ***
*** TEST No, 843 ***
*** TEST No, 844 ***
*** TEST No, 845 ***
*** TEST No, 846 ***
*** TEST No, 847 ***
*** TEST No, 848 ***
*** TEST No, 849 ***
*** TEST No, 850 ***
*** TEST No, 851 ***
*** TEST No, 852 ***
*** TEST No, 853 ***
*** TEST No, 854 ***
*** TEST No, 855 ***
*** TEST No, 856 ***
*** TEST No, 857 ***
*** TEST No, 858 ***
*** TEST No, 859 ***
*** TEST No, 860 ***
*** TEST No, 861 ***
*** TEST No, 862 ***
*** TEST No, 863 ***
*** TEST No, 864 ***
*** TEST No, 865 ***
*** TEST No, 866 ***
*** TEST No, 867 ***
*** TEST No, 868 ***
*** TEST No, 869 ***
*** TEST No, 870 ***
*** TEST No, 871 ***
*** TEST No, 872 ***
*** TEST No, 873 ***
*** TEST No, 874 ***
*** TEST No, 875 ***
*** TEST No, 876 ***
*** TEST No, 877 ***
*** TEST No, 878 ***
*** TEST No, 879 ***
*** TEST No, 880 ***
*** TEST No, 881 ***
*** TEST No, 882 ***
*** TEST No, 883 ***
*** TEST No, 884 ***
*** TEST No, 885 ***
*** TEST No, 886 ***
*** TEST No, 887 ***
*** TEST No, 888 ***
*** TEST No, 889 ***
*** TEST No, 890 ***
*** TEST No, 891 ***
*** TEST No, 892 ***
*** TEST No, 893 ***
*** TEST No, 894 ***
*** TEST No, 895 ***
*** TEST No, 896 ***
*** TEST No, 897 ***
*** TEST No, 898 ***
*** TEST No, 899 ***
*** TEST No, 900 ***
*** TEST No, 901 ***
*** TEST No, 902 ***
*** TEST No, 903 ***
*** TEST No, 904 ***
*** TEST No, 905 ***
*** TEST No, 906 ***
*** TEST No, 907 ***
*** TEST No, 908 ***
*** TEST No, 909 ***
*** TEST No, 910 ***
*** TEST No, 911 ***
*** TEST No, 912 ***
*** TEST No, 913 ***
*** TEST No, 914 ***
*** TEST No, 915 ***
*** TEST No, 916 ***
*** TEST No, 917 ***
*** TEST No, 918 ***
*** TEST No, 919 ***
*** TEST No, 920 ***
*** TEST No, 921 ***
*** TEST No, 922 ***
*** TEST No, 923 ***
*** TEST No, 924 ***
*** TEST No, 925 ***
*** TEST No, 926 ***
*** TEST No, 927 ***
*** TEST No, 928 ***
*** TEST No, 929 ***
*** TEST No, 930 ***
*** TEST No, 931 ***
*** TEST No, 932 ***
*** TEST No, 933 ***
*** TEST No, 934 ***
*** TEST No, 935 ***
*** TEST No, 936 ***
*** TEST No, 937 ***
*** TEST No, 938 ***
*** TEST No, 939 ***
*** TEST No, 940 ***
*** TEST No, 941 ***
*** TEST No, 942 ***
*** TEST No, 943 ***
*** TEST No, 944 ***
*** TEST No, 945 ***
*** TEST No, 946 ***
*** TEST No, 947 ***
*** TEST No, 948 ***
*** TEST No, 949 ***
*** TEST No, 950 ***
*** TEST No, 951 ***
*** TEST No, 952 ***
*** TEST No, 953 ***
*** TEST No, 954 ***
*** TEST No, 955 ***
*** TEST No, 956 ***
*** TEST No, 957 ***
*** TEST No, 958 ***
*** TEST No, 959 ***
*** TEST No, 960 ***
*** TEST No, 961 ***
*** TEST No, 962 ***
*** TEST No, 963 ***
*** TEST No, 964 ***
*** TEST No, 965 ***
*** TEST No, 966 ***
*** TEST No, 967 ***
*** TEST No, 968 ***
*** TEST No, 969 ***
*** TEST No, 970 ***
*** TEST No, 971 ***
*** TEST No, 972 ***
*** TEST No, 973 ***
*** TEST No, 974 ***
*** TEST No, 975 ***
*** TEST No, 976 ***
*** TEST No, 977 ***
*** TEST No, 978 ***
*** TEST No, 979 ***
*** TEST No, 980 ***
*** TEST No, 981 ***
*** TEST No, 982 ***
*** TEST No, 983 ***
*** TEST No, 984 ***
*** TEST No, 985 ***
*** TEST No, 986 ***
*** TEST No, 987 ***
*** TEST No, 988 ***
*** TEST No, 989 ***
*** TEST No, 990 ***
*** TEST No, 991 ***
*** TEST No, 992 ***
*** TEST No, 993 ***
*** TEST No, 994 ***
*** TEST No, 995 ***
*** TEST No, 996 ***
*** TEST No, 997 ***
*** TEST No, 998 ***
*** TEST No, 999 ***
*** TEST No, 1000 ***
*** TEST No, 1001 ***

In [105]:
# summary = dump_format_change(summary, "summaries")

In [106]:
# spacy_keys

In [107]:
# tech_keys

In [108]:
summary['Tech_from_string_match']=tech_keys
summary.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in..."
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc..."
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in..."
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion..."
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it..."

In [109]:
# summary["exact_matched_patt_contextual"][11]

In [110]:
summary['spacy_format_v1']=spacy_keys
summary.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in...","[[alis, 223, 227, ORG], [and co, 142, 148, ORG..."
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc...","[[alis, 1135, 1139, ORG], [and co, 358, 364, O..."
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in...","[[air, 29, 32, ORG], [candid, 695, 701, ORG], ..."
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion...","[[alis, 94, 98, ORG], [and co, 434, 440, ORG],..."
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it...","[[ami, 602, 605, ORG], [and co, 359, 365, ORG]..."

In [111]:
summary["summaries"][0]

['senior director of clinical services housing assistance and hiv aids services with focus in clinical supervision trauma informed care trainer and consultant program development and leadership building behavior support specialist behavior therapist lcsw/ provide supervision to therapist obtaining credentials former management of autism circles of treatment support grant consultation in the area of intellectual disabilities and mental health needs expertise in the area and advocate of social and sexual awareness and needs for individuals participated and trained as a volunteer for the kentucky crisis response team volunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters presentations in a variety of areas to assist clients and staff in behavioral and mental health needs former member of steering committee for trauma informed care and development of training, senior director of clinical services\nhousing programs with focus in clinical services\ntrauma informed care trainer and consultant \nprogram development and leadership building\nbehavior support specialist\nbehavior therapist\nlcsw/ provide supervision to therapist obtaining credentials \nformer management of autism circles of treatment support grant\nconsultation in the area of intellectual disabilities and mental health needs\nexpertise in the area and advocate of social and sexual awareness and needs for individuals\nparticipated and trained as a volunteer for the kentucky crisis response team\nvolunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters\npresentations in a variety of areas to assist clients and staff in behavioral and mental health needs\nformer member of steering committee for trauma informed care and development of training, senior director of clinical services at volunteers of america of kentucky, senior director at volunteers of america mid-states']

In [112]:
df = summary

In [113]:
df["summaries"][0]

['senior director of clinical services housing assistance and hiv aids services with focus in clinical supervision trauma informed care trainer and consultant program development and leadership building behavior support specialist behavior therapist lcsw/ provide supervision to therapist obtaining credentials former management of autism circles of treatment support grant consultation in the area of intellectual disabilities and mental health needs expertise in the area and advocate of social and sexual awareness and needs for individuals participated and trained as a volunteer for the kentucky crisis response team volunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters presentations in a variety of areas to assist clients and staff in behavioral and mental health needs former member of steering committee for trauma informed care and development of training, senior director of clinical services\nhousing programs with focus in clinical services\ntrauma informed care trainer and consultant \nprogram development and leadership building\nbehavior support specialist\nbehavior therapist\nlcsw/ provide supervision to therapist obtaining credentials \nformer management of autism circles of treatment support grant\nconsultation in the area of intellectual disabilities and mental health needs\nexpertise in the area and advocate of social and sexual awareness and needs for individuals\nparticipated and trained as a volunteer for the kentucky crisis response team\nvolunteered for american red cross to debrief victims of katrina, flood and tropical storm disasters\npresentations in a variety of areas to assist clients and staff in behavioral and mental health needs\nformer member of steering committee for trauma informed care and development of training, senior director of clinical services at volunteers of america of kentucky, senior director at volunteers of america mid-states']

In [114]:
# def final_run_string(summary_copy, tech):
    
#     tech_list = []
#     summary_list = []
#     id_list = []
    
#     start = time.time()

#     for i in range(0, len(summary_copy)):
#         print(i)
#         string = summary_copy.loc[i, "summaries"][0]
#         string = string.lower()

#         for j in range(0, len(tech)):
#             pat = tech.loc[j,"title"]
#             pat = pat.lower()


#             initial_index = KMP_String(pat, string)
#             if len(initial_index)!=0:

#                 tech_list.append(pat)    
#                 summary_list.append(string)
#                 id_list.append(summary_copy.loc[i,"id"])

#     end = time.time() - start
#     print("\n Time Taken \n", end)
#     return tech_list, summary_list, id_list

In [115]:
# tech_list, summary_list, id_list = final_run_string(summary, tech)

In [116]:
# tech_list_copy = tech_list
# id_list_copy = id_list
# summary_list_copy = summary_list

In [117]:
# def getDuplicatesWithInfo(listOfElems):
#     ''' Get duplicate element in a list along with thier indices in list
#      and frequency count'''
#     dictOfElems = dict()
#     index = 0
#     # Iterate over each element in list and keep track of index
#     for elem in listOfElems:
#         # If element exists in dict then keep its index in list & increment its frequency
#         if elem in dictOfElems:
#             dictOfElems[elem][0] += 1
#             dictOfElems[elem][1].append(index)
#         else:
#             # Add a new entry in dictionary 
#             dictOfElems[elem] = [1, [index]]
#         index += 1    
 
#     dictOfElems = { key:value for key, value in dictOfElems.items() if value[0] > 1}
#     return dictOfElems

In [118]:
# # List of strings
# listOfElems = id_list
# dictOfElems = getDuplicatesWithInfo(listOfElems)

In [119]:
# df = pd.DataFrame(list(zip(id_list, summary_list, tech_list)), 
#                columns =['id', 'summaries', "Tech_from_string_match"])

In [120]:
# for key, value in dictOfElems.items():
# #     print("******************")
# #     print("\n ID is..", key )
#     a = df["Tech_from_string_match"][value[1][0]] #this needs to be changed
#     b = []
#     b.insert(0,a)
# #     print("List at first index", b)
#     for i in range(0, len(value[1])-1):
#         b.append(df["Tech_from_string_match"][value[1][i+1]])
#         df["Tech_from_string_match"][value[1][0]] = b
        
#     for i in range(0, len(value[1])-1):
#         df = df.drop(index = [value[1][i+1]])
# #         print('Element = ', key , ' :: Repeated Count = ', value[0] , ' :: Index Positions =  ', value[1])

In [121]:
df.reset_index(inplace = True, drop = True)

In [122]:
# Applying Regex to filter out Invalid Words

def get_exact_match(txt, tech):
    try:
        patt = '|'.join(['\\b'+elem+'\\b' for elem in tech])
        matched_patt = re.findall(patt,txt)
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [123]:
df['exact_matched_patt'] = df.apply(lambda x: get_exact_match(x["summaries"][0], x["Tech_from_string_match"]), axis = 1)

multiple repeat at position 20
multiple repeat at position 50
multiple repeat at position 20
multiple repeat at position 47
multiple repeat at position 40
multiple repeat at position 102
multiple repeat at position 55
multiple repeat at position 35
multiple repeat at position 71
multiple repeat at position 67
multiple repeat at position 20
multiple repeat at position 51
multiple repeat at position 78
multiple repeat at position 21
multiple repeat at position 20

In [124]:
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in...","[[alis, 223, 227, ORG], [and co, 142, 148, ORG...","[awareness, tropical, storm, awareness, tropic..."
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc...","[[alis, 1135, 1139, ORG], [and co, 358, 364, O...","[storyteller, brain, brain, grow]"
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in...","[[air, 29, 32, ORG], [candid, 695, 701, ORG], ...",[foundation]
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion...","[[alis, 94, 98, ORG], [and co, 434, 440, ORG],...",[]
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it...","[[ami, 602, 605, ORG], [and co, 359, 365, ORG]...","[speak, front]"

In [125]:
df["spacy_format_v1"][0]

[['alis', 223, 227, 'ORG'],
 ['and co', 142, 148, 'ORG'],
 ['awareness', 506, 515, 'ORG'],
 ['cat', 480, 483, 'ORG'],
 ['circle', 337, 343, 'ORG'],
 ['flo', 686, 689, 'ORG'],
 ['inform', 120, 126, 'ORG'],
 ['intel', 400, 405, 'ORG'],
 ['intellect', 400, 409, 'ORG'],
 ['ion', 109, 112, 'ORG'],
 ['nex', 1346, 1349, 'ORG'],
 ['ning', 292, 296, 'ORG'],
 ['ora', 794, 797, 'ORG'],
 ['rain', 135, 139, 'ORG'],
 ['soci', 488, 492, 'ORG'],
 ['staf', 779, 783, 'ORG'],
 ['steer', 840, 845, 'ORG'],
 ['storm', 705, 710, 'ORG'],
 ['tia', 303, 306, 'ORG'],
 ['tor', 12, 15, 'ORG'],
 ['tropical', 696, 704, 'ORG'],
 ['vision', 106, 112, 'ORG'],
 ['vocate', 478, 484, 'ORG']]

In [126]:
# Applying Regex to filter out Invalid Words

def get_exact_match_2(txt, tech):
    try:
        patt = '|'.join(['\\s'+elem+'\\s' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [127]:
df['matched_NER_final'] = df.apply(lambda x: get_exact_match_2(x["summaries"][0], x["exact_matched_patt"]), axis = 1)

In [128]:
from collections import OrderedDict

In [129]:
for ind in df.index:
    res = list(OrderedDict.fromkeys(df["exact_matched_patt"][ind]))
    df["exact_matched_patt"][ind] = res

In [130]:
for i in range(0, len(df)):
    for word in list(df["exact_matched_patt"][i]):
        if word in remove_list:
            df["exact_matched_patt"][i].remove(word)

In [131]:
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in...","[[alis, 223, 227, ORG], [and co, 142, 148, ORG...","[awareness, tropical, storm]",[]
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc...","[[alis, 1135, 1139, ORG], [and co, 358, 364, O...","[storyteller, brain, grow]",[]
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in...","[[air, 29, 32, ORG], [candid, 695, 701, ORG], ...",[foundation],[]
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion...","[[alis, 94, 98, ORG], [and co, 434, 440, ORG],...",[],"[, ]"
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it...","[[ami, 602, 605, ORG], [and co, 359, 365, ORG]...","[speak, front]",[]

In [132]:
df["spacy_format_v1"][0]

[['alis', 223, 227, 'ORG'],
 ['and co', 142, 148, 'ORG'],
 ['awareness', 506, 515, 'ORG'],
 ['cat', 480, 483, 'ORG'],
 ['circle', 337, 343, 'ORG'],
 ['flo', 686, 689, 'ORG'],
 ['inform', 120, 126, 'ORG'],
 ['intel', 400, 405, 'ORG'],
 ['intellect', 400, 409, 'ORG'],
 ['ion', 109, 112, 'ORG'],
 ['nex', 1346, 1349, 'ORG'],
 ['ning', 292, 296, 'ORG'],
 ['ora', 794, 797, 'ORG'],
 ['rain', 135, 139, 'ORG'],
 ['soci', 488, 492, 'ORG'],
 ['staf', 779, 783, 'ORG'],
 ['steer', 840, 845, 'ORG'],
 ['storm', 705, 710, 'ORG'],
 ['tia', 303, 306, 'ORG'],
 ['tor', 12, 15, 'ORG'],
 ['tropical', 696, 704, 'ORG'],
 ['vision', 106, 112, 'ORG'],
 ['vocate', 478, 484, 'ORG']]

In [133]:
# df["exact_matched_patt_contextual"].fillna('[]')
df["exact_matched_patt"][3]

[]

In [134]:
df["exact_matched_patt_contextual"][33]

['microsoft office', 'adobe']

In [135]:
# df['exact_matched_patt_contextual'] = [ [] if x is np.NaN else x for x in df['exact_matched_patt_contextual'] ]

In [136]:
df

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in...","[[alis, 223, 227, ORG], [and co, 142, 148, ORG...","[awareness, tropical, storm]",[]
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc...","[[alis, 1135, 1139, ORG], [and co, 358, 364, O...","[storyteller, brain, grow]",[]
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in...","[[air, 29, 32, ORG], [candid, 695, 701, ORG], ...",[foundation],[]
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion...","[[alis, 94, 98, ORG], [and co, 434, 440, ORG],...",[],"[, ]"
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it...","[[ami, 602, 605, ORG], [and co, 359, 365, ORG]...","[speak, front]",[]
...,...,...,...,...,...,...,...,...
996,-EQeYEq-03cWVCkfnsUgow_0000,[],"[eric is an experienced risk, insurance, and p...","['eric is an experienced risk, insurance, and ...","[ami, ark, ava, big picture, cat, communicator...","[[ami, 454, 457, ORG], [ark, 671, 674, ORG], [...","[communicator, big picture]",[]
997,-EJPzKCOhrcLUKsIiC35Ow_0000,[],[team manager with 8 years of experience enabl...,['team manager with 8 years of experience enab...,"[ace, ami, cat, chai, devi, directly, ecos, em...","[[ace, 318, 321, ORG], [ami, 344, 347, ORG], [...","[stay, lob, later]",[]
998,-BSYFSH4GWqbTH-JhxVExA_0000,[],[i am currently a junior at cal poly san luis ...,"[""i am currently a junior at cal poly san luis...","[ace, actor, ark, astro, cat, continu, esign, ...","[[ace, 1719, 1722, ORG], [actor, 2430, 2435, O...","[gain, astro, honestly]",[]
999,-4ldAQ53se0hp9GU5FgnIQ_0000,[],[an extremely driven professional within the b...,['an extremely driven professional within the ...,"[ace, and co, assess, attend, batch, cat, cien...","[[ace, 192, 195, ORG], [and co, 765, 771, ORG]...","[batch, attend, daily]",[]
1000,-18msGiQiE2XLdy6XWGAEQ_0000,[],[10+ years of leveraged finance and investment...,['10+ years of leveraged finance and investmen...,"[ami, ark, asset, inv, ion, lever, lua, omp, p...","[[ami, 800, 803, ORG], [ark, 566, 569, ORG], [...",[asset],[]

In [137]:
# remove invalid entries from spacy format column

def remove_invalid(final_tech, spacy_format):
    
    for i in list(spacy_format):
        if i[0] not in final_tech:
            spacy_format.remove(i)

    return spacy_format

In [138]:
df["spacy_format_manual_tag"] = df.apply(lambda x: remove_invalid(x["exact_matched_patt_contextual"], x["spacy_format_v1"]), axis = 1)

In [139]:
# df.to_csv("lookup_data.csv", index = False)

# Commenting removing technology name function for now

In [140]:
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,zsDSYc5UzpyXekOABZBfnQ_0000,[],[senior director of clinical services housing ...,['senior director of clinical services housing...,"[alis, and co, awareness, cat, circle, flo, in...",[],"[awareness, tropical, storm]",[],[]
1,zs1YNrrCeorFkGLEXSSp-A_0000,[],[i believe that passions are meant to be share...,['i believe that passions are meant to be shar...,"[alis, and co, ark, brain, cat, cien, construc...",[],"[storyteller, brain, grow]",[],[]
2,zowirq8ZhxhchApaRMhNSA_0000,[],[bill bryant is founder and chairman of bryant...,"[""bill bryant is founder and chairman of bryan...","[air, candid, cat, chai, found, foundation, in...",[],[foundation],[],[]
3,zoQVkPCfXB9n3AaPGHHwzg_0000,[],[undertaking a trilingual masters degree in eu...,['undertaking a trilingual masters degree in e...,"[alis, and co, ark, cat, emplo, enth, ics, ion...",[],[],"[, ]",[]
4,zmIr2glBZ3Ef8CSS0jw1og_0000,[],[career objective a role within marketing and ...,"[""career objective a role within marketing and...","[ami, and co, ark, cat, combin, front, ion, it...",[],"[speak, front]",[],[]

In [141]:
len(df["exact_matched_patt"][0])

3

In [142]:
index_drop = []
for i in range(0, len(df)):
    print(i)
    if len(df["spacy_format_manual_tag"][i])==0:
        index_drop.append(i)
df = df.drop(labels = index_drop, axis = 0)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [143]:
len(df)

288

In [144]:
df

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
6,zlBvzxx47BewWlO67-zK3Q_0000,[republic],[i am a 19 year old entrepreneur and manager o...,"[""i am a 19 year old entrepreneur and manager ...","[ada, and co, construct, countr, ebs, found, g...","[[republic, 196, 204, ORG]]","[republic, turn, grow]",[],"[[republic, 196, 204, ORG]]"
7,zekuTL0ONYTX2XawUBa-9A_0000,[dell],[i am a self motivated professional with 13+ y...,['i am a self motivated professional with 13+ ...,"[ada, ark, cat, d custom, dell, emplo, ento, g...","[[dell, 2431, 2435, ORG]]","[grow, dell]",[],"[[dell, 2431, 2435, ORG]]"
8,zaByWGsar5hVdBWLEYykcg_0000,"[wordpress, joomla, drupal]",[as owner and director of projects at metro in...,['as owner and director of projects at metro i...,"[accurate, amo, and co, ark, blis, cat, ddi, d...","[[drupal, 940, 946, ORG], [joomla, 921, 927, O...","[promote, accurate, medium, portal, joomla, wo...",[],"[[drupal, 940, 946, ORG], [joomla, 921, 927, O..."
9,zPnnWGWHb2gSYnd98GKaag_0000,[unity],[15+ years within the recruiting industry comb...,['15+ years within the recruiting industry com...,"[candid, capabiliti, cat, combin, ento, forge,...","[[unity, 3286, 3291, ORG]]","[here, guru, unicorn, purple, hunter, snap, un...",[],"[[unity, 3286, 3291, ORG]]"
12,z5LcE0BcZevf5WmwL8nunQ_0000,"[microsoft office, juniper, workday, python, l...","[bachelor of science (b.s) degree in "" telecom...","['bachelor of science (b.s) degree in "" teleco...","[alis, ava, cat, cien, electron, eploy, format...","[[juniper, 955, 962, ORG], [linux, 992, 997, O...","[route, switch, link, juniper, linux, python, ...",[],"[[juniper, 955, 962, ORG], [linux, 992, 997, O..."
...,...,...,...,...,...,...,...,...,...
984,-nbbpInS-iD0thomdMs6BQ_0000,[zoom],[i am a self-motivated sales & marketing profe...,"[""i am a self-motivated sales & marketing prof...","[air, ami, ark, cat, construct, continu, ddi, ...","[[zoom, 689, 693, ORG]]","[rapport, zoom, stay, promote, wing, flight]",[],"[[zoom, 689, 693, ORG]]"
985,-jsY6ula0lsaOQ5rBHxHLg_0000,"[invision, pixate, xcode, html]",[www.lisawilkins.com specialties: visual/ui/ux...,"[""www.lisawilkins.com specialties: visual/ui/u...","[accept, aps, ava, cod, connect, construct, de...","[[html, 382, 386, ORG], [invision, 341, 349, O...","[invisible, invision, pixate, soon, html, unif...",[],"[[html, 382, 386, ORG], [invision, 341, 349, O..."
986,-iRef22R0w52UJT280zoxQ_0000,"[bootstrap, sitecore, asp.net, jquery]",[senior software engineer with 6+ years in ana...,['senior software engineer with 6+ years in an...,"[ami, amo, apt, asp.net, bootstrap, cat, esign...","[[asp.net, 288, 295, ORG], [bootstrap, 395, 40...","[asp.net, jquery, bootstrap, less, proved, sol...",[],"[[asp.net, 288, 295, ORG], [bootstrap, 395, 40..."
990,-bBI1d6Emr0wtwLVEvrssw_0000,[groupe],"[managing director, ceo, strategic business un...","['managing director, ceo, strategic business u...","[ark, construct, electron, esign, groupe, grow...","[[groupe, 1678, 1684, ORG]]","[sigma, groupe]",[],"[[groupe, 1678, 1684, ORG]]"
991,-XuwuUKT3N67akPl8CI8rw_0000,[microsoft word],[i'm assisting in the expansion of our company...,"[""i'm assisting in the expansion of our compan...","[alis, apt, ark, capture, ets, flo, front, gro...","[[microsoft word, 1638, 1652, ORG]]","[front, shift, soon, capture, paid, grow, shar...",[],"[[microsoft word, 1638, 1652, ORG]]"

In [145]:
df.reset_index(inplace = True, drop = True)

In [146]:
df.to_csv("lookup_data.csv", index = False)

In [147]:
def remove_name(spacy_format_final):
    for i in range(0, len(list(spacy_format_final))):
        name = spacy_format_final[i][0]
        spacy_format_final[i].remove(name)
        
    return spacy_format_final

In [148]:
df["spacy_format_manual_tag"] = df.apply(lambda x: remove_name(x["spacy_format_manual_tag"]), axis = 1)

In [149]:
# df = df.loc[(df["exact_matched_patt"]) == '[]']
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,zlBvzxx47BewWlO67-zK3Q_0000,[republic],[i am a 19 year old entrepreneur and manager o...,"[""i am a 19 year old entrepreneur and manager ...","[ada, and co, construct, countr, ebs, found, g...","[[196, 204, ORG]]","[republic, turn, grow]",[],"[[196, 204, ORG]]"
1,zekuTL0ONYTX2XawUBa-9A_0000,[dell],[i am a self motivated professional with 13+ y...,['i am a self motivated professional with 13+ ...,"[ada, ark, cat, d custom, dell, emplo, ento, g...","[[2431, 2435, ORG]]","[grow, dell]",[],"[[2431, 2435, ORG]]"
2,zaByWGsar5hVdBWLEYykcg_0000,"[wordpress, joomla, drupal]",[as owner and director of projects at metro in...,['as owner and director of projects at metro i...,"[accurate, amo, and co, ark, blis, cat, ddi, d...","[[940, 946, ORG], [921, 927, ORG], [929, 938, ...","[promote, accurate, medium, portal, joomla, wo...",[],"[[940, 946, ORG], [921, 927, ORG], [929, 938, ..."
3,zPnnWGWHb2gSYnd98GKaag_0000,[unity],[15+ years within the recruiting industry comb...,['15+ years within the recruiting industry com...,"[candid, capabiliti, cat, combin, ento, forge,...","[[3286, 3291, ORG]]","[here, guru, unicorn, purple, hunter, snap, un...",[],"[[3286, 3291, ORG]]"
4,z5LcE0BcZevf5WmwL8nunQ_0000,"[microsoft office, juniper, workday, python, l...","[bachelor of science (b.s) degree in "" telecom...","['bachelor of science (b.s) degree in "" teleco...","[alis, ava, cat, cien, electron, eploy, format...","[[955, 962, ORG], [992, 997, ORG], [2336, 2352...","[route, switch, link, juniper, linux, python, ...",[],"[[955, 962, ORG], [992, 997, ORG], [2336, 2352..."

In [150]:
len(df)

288

In [151]:
def format_arrange(summaries, spacy_format_final):
    
    d = {}
    for i in spacy_format_final:
        i = tuple(i)
        d.setdefault("entities", [])
        d["entities"].append(i)    
    summary_tuple = (summaries[0], d)

    return summary_tuple

In [152]:
df["spacy_format_manual_tag"] = df.apply(lambda x: format_arrange(x["summaries"], x["spacy_format_manual_tag"]), axis = 1)

In [153]:
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,zlBvzxx47BewWlO67-zK3Q_0000,[republic],[i am a 19 year old entrepreneur and manager o...,"[""i am a 19 year old entrepreneur and manager ...","[ada, and co, construct, countr, ebs, found, g...","[[196, 204, ORG]]","[republic, turn, grow]",[],(i am a 19 year old entrepreneur and manager o...
1,zekuTL0ONYTX2XawUBa-9A_0000,[dell],[i am a self motivated professional with 13+ y...,['i am a self motivated professional with 13+ ...,"[ada, ark, cat, d custom, dell, emplo, ento, g...","[[2431, 2435, ORG]]","[grow, dell]",[],(i am a self motivated professional with 13+ y...
2,zaByWGsar5hVdBWLEYykcg_0000,"[wordpress, joomla, drupal]",[as owner and director of projects at metro in...,['as owner and director of projects at metro i...,"[accurate, amo, and co, ark, blis, cat, ddi, d...","[[940, 946, ORG], [921, 927, ORG], [929, 938, ...","[promote, accurate, medium, portal, joomla, wo...",[],(as owner and director of projects at metro in...
3,zPnnWGWHb2gSYnd98GKaag_0000,[unity],[15+ years within the recruiting industry comb...,['15+ years within the recruiting industry com...,"[candid, capabiliti, cat, combin, ento, forge,...","[[3286, 3291, ORG]]","[here, guru, unicorn, purple, hunter, snap, un...",[],(15+ years within the recruiting industry comb...
4,z5LcE0BcZevf5WmwL8nunQ_0000,"[microsoft office, juniper, workday, python, l...","[bachelor of science (b.s) degree in "" telecom...","['bachelor of science (b.s) degree in "" teleco...","[alis, ava, cat, cien, electron, eploy, format...","[[955, 962, ORG], [992, 997, ORG], [2336, 2352...","[route, switch, link, juniper, linux, python, ...",[],"(bachelor of science (b.s) degree in "" telecom..."

In [154]:
df["spacy_format_manual_tag"][4]

('bachelor of science (b.s) degree in " telecommunications networks and software " program at politehnica university - electronics ,telecommunications and information technology faculty master of science ( m.s.) degree in " management of networks and services " program at politehnica university - electronics ,telecommunications and information technology faculty routing and switching skills cisco ccna ( 640-802 certification ) cisco ccnp route ( 642-902 certification : implementing cisco ip routing ) cisco ccnp switch ( 642-813 certification: implementing cisco ip switched networks ) cisco ccnp tshoot ( 642-832 certification: troubleshooting and maintaining cisco ip networks ) experience in troubleshooting and deploying networks using major l2/l3 protocols and platforms: - routing protocols (rip, ospf, eigrp,is-is,bgp) - data link protocols (stp, rstp,mstp) - first hop redundancy protocols: hsrp, vrrp, glbp - mpls fundamentals - cisco, nexus, juniper, alcatel sr platforms - unix/linux - basic, master of science ( m.s.) degree in " management of networks and services " - politehnica university - electronics ,telecommunications and information technology faculty bachelor of science (b.s) in " telecommunications networks and software " - politehnica university - electronics ,telecommunications and information technology faculty experience in operation and maintenance, planning and deploying large scale networks using high availability / routing and switching technologies in the likes of: hsrp / vrrp, ospf, bgp, mpls, ldp experience in working with network automation and deployment tools and scripts using versioned repositories (git), jinja templates, bash/python scripts. cisco certified network professional routing and switching (ccnp routing and switching), \'politehnica\' university of bucharest graduate in 2011, electronics, telecommunications and information technology faculty\n \nmaster in networks and services management at the same faculty, diploma obtained in july 2013.\n\nbachelor degree in telecommunications software and networks\n\n\n- routing protocols (rip, ospf, eigrp,is-is,bgp)\n- data link protocols (stp, rstp,mstp,cdp,ppp)\n- first hop redundancy protocols: hsrp, vrrp, glbp\n- mpls fundamentals\n- cisco, nexus, juniper, alcatel sr platforms\n- unix/linux - basic\n- good knowledge of microsoft office suite: word, excel, power point, visio\n\nspecialties\n-cisco routing and switching\n-cisco ccna certified\n-cisco ccnp route diploma\n-sdh/dwdm - basic level, mihnea tudor. network development engineer - internet services at amazon ... bachelor of science (b.s) degree in &quot; telecommunications networks and software &quot; program at politehnica university - electronics ... cisco, nexus, juniper, alcatel sr platforms .... network engineer at workday ... linkedin members in ireland:., senior network analyst at continent 8 technologies, network specialist at asavie',
 {'entities': [(955, 962, 'ORG'),
   (992, 997, 'ORG'),
   (2336, 2352, 'ORG'),
   (1679, 1685, 'ORG'),
   (2802, 2809, 'ORG')]})

In [155]:
df.head()

,id,exact_matched_patt_contextual,summaries,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,zlBvzxx47BewWlO67-zK3Q_0000,[republic],[i am a 19 year old entrepreneur and manager o...,"[""i am a 19 year old entrepreneur and manager ...","[ada, and co, construct, countr, ebs, found, g...","[[196, 204, ORG]]","[republic, turn, grow]",[],(i am a 19 year old entrepreneur and manager o...
1,zekuTL0ONYTX2XawUBa-9A_0000,[dell],[i am a self motivated professional with 13+ y...,['i am a self motivated professional with 13+ ...,"[ada, ark, cat, d custom, dell, emplo, ento, g...","[[2431, 2435, ORG]]","[grow, dell]",[],(i am a self motivated professional with 13+ y...
2,zaByWGsar5hVdBWLEYykcg_0000,"[wordpress, joomla, drupal]",[as owner and director of projects at metro in...,['as owner and director of projects at metro i...,"[accurate, amo, and co, ark, blis, cat, ddi, d...","[[940, 946, ORG], [921, 927, ORG], [929, 938, ...","[promote, accurate, medium, portal, joomla, wo...",[],(as owner and director of projects at metro in...
3,zPnnWGWHb2gSYnd98GKaag_0000,[unity],[15+ years within the recruiting industry comb...,['15+ years within the recruiting industry com...,"[candid, capabiliti, cat, combin, ento, forge,...","[[3286, 3291, ORG]]","[here, guru, unicorn, purple, hunter, snap, un...",[],(15+ years within the recruiting industry comb...
4,z5LcE0BcZevf5WmwL8nunQ_0000,"[microsoft office, juniper, workday, python, l...","[bachelor of science (b.s) degree in "" telecom...","['bachelor of science (b.s) degree in "" teleco...","[alis, ava, cat, cien, electron, eploy, format...","[[955, 962, ORG], [992, 997, ORG], [2336, 2352...","[route, switch, link, juniper, linux, python, ...",[],"(bachelor of science (b.s) degree in "" telecom..."

In [156]:
TRAIN_DATA = []

for i in range(0, len(df)):
    
    TRAIN_DATA.append(df["spacy_format_manual_tag"][i])

In [158]:
# TRAIN_DATA

# Checking training lg model STARTS HERE...

In [159]:
# import random
# import spacy
# from spacy.training import Example

In [160]:
# nlp = spacy.load('en_core_web_lg')  # load existing spaCy model
# ner = nlp.get_pipe('ner')
# ner.add_label("ORG")
# print(ner.move_names) # Here I see, that the new label was added
# optimizer = nlp.create_optimizer()
# # get names of other pipes to disable them during training
# other_pipes = [pipe for pipe in nlp.pipe_names if pipe != "ner"]
# with nlp.disable_pipes(*other_pipes):  # only train NER
#     for itn in range(2):
#         random.shuffle(TRAIN_DATA)
#         losses = {}
#         for text, annotations in TRAIN_DATA:
#             doc = nlp.make_doc(text)
#             example = Example.from_dict(doc, annotations)
            
#             nlp.update([example], drop=0.35, sgd=optimizer, losses=losses)
#         print(losses)
# # test the trained model # add some dummy sentences with many NERs

In [161]:
# # test the trained model # add some dummy sentences with many NERs

# test_text = 'Do you like horses?'
# doc = nlp(test_text)
# print("Entities in '%s'" % test_text)
# for ent in doc.ents:
#     print(ent.label_, " -- ", ent.text)

# Checking training lg model ENDS HERE...

In [162]:
len(TRAIN_DATA)

288

In [163]:
TRAINING_DATA = TRAIN_DATA[:200]
TEST_DATA = TRAIN_DATA[200:]

In [164]:
print(len(TRAINING_DATA), len(TEST_DATA))

200 88

In [165]:
def load_data(file):
    with open(file, "r", encoding = "utf-8") as f:
        data = json.load(f)
    return (data)

In [166]:
def save_data(file, data):
    with open(file, "w", encoding = "utf-8") as f:
        json.dump(data, f, indent = 4)

In [167]:
# df.to_csv("KMP_string_Match_newer_1000.csv", index = False)

In [168]:
save_data("spacy_dataset/training_data_spacy.json", TRAINING_DATA)
save_data("spacy_dataset/validation_data_spacy.json", TEST_DATA)

In [169]:
train = load_data("spacy_dataset/training_data_spacy.json")
valid = load_data("spacy_dataset/validation_data_spacy.json")

In [170]:
train[12]

["highly organized, creative, want to be involved in an inspiring project where i can utilize skill and creatively involved with system that effectively contributes to the growth of the project and putting a smile on my customers faces.\n\nmy work experience has provided me with the skills to take charge in all facets of planning and coordinating events, activities, tasks, contract negotiation and also use my creative skills to design any printed materials such as brochures, flyers and posters, ..., etc as per the event requirements. \n\non the other hand, my administrative expertise allowed me to build on my skills in managing multiple task and being adaptable to unpredictable scenarios and challenges. i also possess considerable knowledge in working with computer software programs such as microsoft office and adobe.\n\ni enjoy a demanding and variable work environments and am open to work on new and challenging tasks to enhance my knowledge and career., i have many years of experience as a communications specialist, my strength lies in my strong interpersonal, communication and creative support, leadership, computer and research competency, and the ability to work independently and with others from all levels of the organization. i am an ambitious and goal-oriented person, currently seeking an opportunity to implement gained skills and experience in your organisation. i have excellent communication skills, sharp organizational skills, attention to detail and excellent ability to work with speed and accuracy. i master creating plans, solutions and artwork when needed. i instinctively understand others' needs and a i possess a strong ability and desire to bring out the most in others. i put a high value on organization, productivity, and meeting deadlines., an account executive with a demonstrated history of working in the public relations and communications industry. skilled in creativity skills, arabic copywriting, media relations with a bachelor's degree focused in multimedia design from american university of sharjah., freelance graphic designer and event coordinator, communicator specialist / freelance designer",
 {'entities': [[821, 826, 'ORG'], [800, 816, 'ORG']]}]

# Training_conversion

In [171]:
import pandas as pd
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin

In [172]:
# nlp = spacy.blank("en") # load a new spacy model
# db = DocBin() # create a DocBin object

In [173]:
# for text, annot in tqdm(TRAIN_DATA): # data in previous format
#     doc = nlp.make_doc(text) # create doc object from text
#     ents = []
#     try:
#         for start, end, label in annot["entities"]: # add character indexes
# #             print("\n start \n", start, "\n end \n", end, "\n label \n", label)
#             span = doc.char_span(start, end, label=label, alignment_mode="contract")
# #             print("\n span \n", span)
#             if span is None:
#                 print("Skipping entity")
#             else:
#                 ents.append(span)
#         doc.ents = ents # label the text with the ents
#         db.add(doc)
#     except Exception as e:
#         pass

In [174]:
# for i in train:
#     print(i)
import sys

# All is correct but spans are generated in a wrong way

In [175]:
nlp = spacy.blank("en") # load a new spacy model
db = DocBin() # create a DocBin object
check_ents = []
for text, annot in tqdm(train):
#     print("\nannot\n", annot)# data in previous format
    doc = nlp.make_doc(text) # create doc object from text
#     print("\ndoc\n", doc)
    ents = []
    try:
        for start, end, label in annot["entities"]: # add character indexes
            span = doc.char_span(start, end, label=label, alignment_mode="strict")
#             print("\nspan\n",span,"\nannot\n", annot)
            if span is None:
                print("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents # label the text with the ents
        check_ents.append(ents)
#         doc.ents = [e for e in doc.ents if not e.text.isspace()]
        db.add(doc)
    except Exception as e:
        pass
# print(check_ents)
db.to_disk("/Users/shubhamsunwalka/Desktop/Slintel_2/training_spacy/train_2.spacy") # save the docbin object

 10%|         | 21/200 [00:00<00:01, 107.47it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 27%|       | 54/200 [00:00<00:01, 142.39it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 51%|     | 102/200 [00:00<00:00, 153.33it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 69%|   | 138/200 [00:00<00:00, 139.40it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 86%| | 173/200 [00:01<00:00, 152.57it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

100%|| 200/200 [00:01<00:00, 146.12it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [176]:
import spacy
from spacy.training import Example
from spacy.tokens import DocBin

In [177]:
!pwd

/Users/shubhamsunwalka/Desktop/Slintel_2/training_spacy

In [178]:
!python -m spacy init fill-config base_config.cfg config.cfg

 Auto-filled config with all values
 Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [180]:
!spacy debug data -V config.cfg

============================ Data file validation ============================
 Corpus is loadable
 Pipeline can be initialized with data

=============================== Training stats ===============================
Language: en
Training pipeline: tok2vec, ner
195 training docs
195 evaluation docs
 195 training examples also in evaluation data
 Low number of examples to train a new pipeline (195)
It's recommended to use at least 2000 examples (minimum 100)

============================== Vocab & Vectors ==============================
 81046 total word(s) in the data (6841 unique)
10 most common words: ',' (7056), 'and' (3440), '.' (2811), 'in' (1684), '-'
(1655), 'of' (1422), 'to' (1175), 'the' (1105), 'a' (955), 'i' (921)
 No word vectors present in the package

========================== Named Entity Recognition ==========================
 0 new label(s), 1 existing label(s)
0 missing value(s) (tokens with '-' label)
Existing: 'ORG'
 1 entity span(s) with punctuation
 Good amount of examples for all labels
 Examples without occurrences available for all labels
 No entities consisting of or starting/ending with whitespace
Entity spans consisting of or starting/ending with punctuation can not be
trained with a noise level > 0.

================================== Summary ==================================
 5 checks passed
 3 warnings

In [179]:
!python -m spacy train config.cfg --output ./output

 Using CPU

=========================== Initializing pipeline ===========================
[2021-06-07 16:40:47,736] [INFO] Set up nlp object from config
[2021-06-07 16:40:47,752] [INFO] Pipeline: ['tok2vec', 'ner']
[2021-06-07 16:40:47,757] [INFO] Created vocabulary
[2021-06-07 16:40:47,758] [INFO] Finished initializing nlp object
[2021-06-07 16:40:50,304] [INFO] Initialized pipeline components: ['tok2vec', 'ner']
 Initialized pipeline

============================= Training pipeline =============================
 Pipeline: ['tok2vec', 'ner']
 Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00    146.33    0.04    0.02    0.65    0.00
  1     200         34.52   2707.80    1.92   50.00    0.98    0.02
  2     400         66.25    598.75    0.00    0.00    0.00    0.00
  3     600         83.19    547.17   35.29   53.29   26.38    0.35
  4     800        114.39    541.45   43.05   53.92   35.83    0.43
  5    1000        181.54    495.80   56.54   56.72   56.35    0.57
  6    1200        152.79    426.90   60.43   61.99   58.96    0.60
  7    1400       2430.38    499.85   60.00   73.24   50.81    0.60
  8    1600       1761.11    371.20   65.84   56.87   78.18    0.66
  9    1800        230.61    360.15   67.30   65.63   69.06    0.67
 10    2000     120269.02    544.39   63.86   83.25   51.79    0.64
 11    2200        294.89    350.14   66.35   65.00   67.75    0.66
 12    2400        287.65    339.80   67.24   60.15   76.22    0.67
 13    2600       2996.81    257.96   71.45   61.11   85.99    0.71
 14    2800        383.93    332.64   66.27   52.15   90.88    0.66
 15    3000        314.15    341.63   72.83   65.45   82.08    0.73
 16    3200        294.15    306.89   70.78   79.92   63.52    0.71
 17    3400        269.41    290.18   68.95   83.03   58.96    0.69
 18    3600        260.70    246.94   70.05   57.38   89.90    0.70
 19    3800        282.86    276.79   69.48   84.58   58.96    0.69
 20    4000        252.87    217.75   71.17   62.62   82.41    0.71
 21    4200       2737.43    343.02   73.14   61.80   89.58    0.73
 22    4400        324.03    276.25   73.03   64.20   84.69    0.73
 23    4600        798.97    270.31   74.34   71.13   77.85    0.74
 24    4800        268.53    242.08   71.92   66.12   78.83    0.72
 25    5000        290.28    254.65   73.09   82.72   65.47    0.73
 26    5200        288.68    259.44   71.71   92.31   58.63    0.72
 27    5400        398.58    225.89   74.86   65.53   87.30    0.75
 28    5600        239.35    226.91   75.49   83.73   68.73    0.75
 29    5800        475.11    263.57   73.58   78.31   69.38    0.74
 30    6000        230.98    194.66   75.92   82.44   70.36    0.76
 31    6200        284.36    225.89   76.75   76.62   76.87    0.77
 32    6400        238.05    230.48   73.89   74.50   73.29    0.74
 33    6600        240.27    219.46   74.69   81.78   68.73    0.75
 34    6800       1340.10    197.80   77.58   70.89   85.67    0.78
 35    7000        171.76    211.00   77.16   68.34   88.60    0.77
 36    7200        355.10    210.93   76.25   78.35   74.27    0.76
 37    7400        333.79    210.43   74.03   91.39   62.21    0.74
 38    7600        427.92    218.87   75.93   63.92   93.49    0.76
 40    7800       1053.54    216.27   77.46   79.45   75.57    0.77
 41    8000        549.31    197.66   77.00   82.77   71.99    0.77
 42    8200        262.14    208.42   77.34   75.31   79.48    0.77
 43    8400        284.17    187.20   76.08   90.18   65.80    0.76
 Saved pipeline to output directory
output/model-last

# TEsting the train model

In [185]:

nlp1 = spacy.load("../training_spacy/output/model-best") #load the best model
doc1 = nlp1("as owner and director of projects at metro infodesign, i proudly promote our unrivaled web design, internet marketing and technical communications services that are ideal for information-intensive businesses that require the fastest, most accurate and scalable means for publishing over the internet and managing large amounts of data, information and content. in addition to serving the small-to-medium size business community, metro infodesign is very supportive to and intimate with web-based cultural and community development projects, in addition to community technology access initiatives. specialties: web design, web development, project management, web portal administration, content development, content management, internet marketing, web promotion, seo, sem, search engine optimization, technical communications, personal branding, clerical methods analysis, business process analysis, meta-data management, joomla, wordpress, drupal, cms, curriculum development, photography, multimedia production., as owner and director of projects at metro infodesign, i proudly promote our unrivaled web development and technical communications services that are ideal for information-intensive businesses that require speed, accuracy, scalability and a means for publishing over the internet and managing large amounts of content. in addition to serving the small-to-medium size business community, metro infodesign is very supportive to and intimate with web-based cultural and community development projects, in addition to community technology access initiatives. specialties: web design, web development, project management, web portal administration, content development, content management, web promotion, technical communications, personal branding, clerical methods analysis, business process analysis, meta-data management, joomla, wordpress, drupal, cms, curriculum development, photography, multimedia production., director of projects and lead photographer at displaymode media | sr. project manager at metro infodesign, director of projects at displaymode media & metro infodesign") # input sample text
for ent in doc1.ents:
    print(ent.label_, ':', ent.text)

ORG : joomla
ORG : wordpress
ORG : drupal
ORG : joomla
ORG : wordpress
ORG : drupal