In [1]:
import pandas as pd
import numpy as np

In [2]:
# data=pd.read_csv("BERT_Pred_189_FULL.csv")
data=pd.read_csv("Manually_500_pred_BERT_ROW_WISE.csv")
data=data.iloc[:,2:]

In [3]:
data.head()

,id,summaries,exact_matched_patt_contextual,Tech_from_string_match,BERT_Tags
0,d3sBpLsn19JAgs2I3eoQLw_0000,a multiskilled economist and project manager w...,['qlikview'],NaN,"['qlikview', 'ultiple']"
1,d2xmOwryxUIws0gqCBzNMw_0000,a multiskilled economist and project manager ...,['qlikview'],"['able', 'and co', 'board', 'cat', 'cci', 'cin...",['qlikview']
2,bfP0BXlhcOgqCouGfIIbHw_0000,ive been involved in software development usi...,['openedge'],"['able', 'ace', 'ada', 'adapt', 'apt', 'flo', ...",['openedge']
3,bdTTj0aGQRypq5vd-I1o-A_0000,information technology professional extensive...,['netsuite'],"['acl', 'ada', 'blis', 'cat', 'cien', 'ento', ...","['netsuite', 'microstrategy']"
4,6pXOo5YPZzwFBbuhuBzjOQ_0000,experienced sales executive with a demonstrat...,['getswift'],"['ark', 'dot', 'driven', 'ets', 'getswift', 'g...","['grubhubcom', 'dotmenu', 'getswift']"

In [4]:
def remove_space(string_list):
    k = [i.replace(' ', '') for i in string_list]
    return k

In [5]:
data["BERT_Tags"] = data["BERT_Tags"].apply(eval)
# data["BERT_Tags"] = data["BERT_Tags"].apply(remove_space)

In [6]:
data.head()

,id,summaries,exact_matched_patt_contextual,Tech_from_string_match,BERT_Tags
0,d3sBpLsn19JAgs2I3eoQLw_0000,a multiskilled economist and project manager w...,['qlikview'],NaN,"[qlikview, ultiple]"
1,d2xmOwryxUIws0gqCBzNMw_0000,a multiskilled economist and project manager ...,['qlikview'],"['able', 'and co', 'board', 'cat', 'cci', 'cin...",[qlikview]
2,bfP0BXlhcOgqCouGfIIbHw_0000,ive been involved in software development usi...,['openedge'],"['able', 'ace', 'ada', 'adapt', 'apt', 'flo', ...",[openedge]
3,bdTTj0aGQRypq5vd-I1o-A_0000,information technology professional extensive...,['netsuite'],"['acl', 'ada', 'blis', 'cat', 'cien', 'ento', ...","[netsuite, microstrategy]"
4,6pXOo5YPZzwFBbuhuBzjOQ_0000,experienced sales executive with a demonstrat...,['getswift'],"['ark', 'dot', 'driven', 'ets', 'getswift', 'g...","[grubhubcom, dotmenu, getswift]"

In [7]:
# for i, l in enumerate(tech_data["Tech_word"]):
#  print("list",i,"is",type(l))

In [8]:
import nltk
import re
from bs4 import BeautifulSoup

nltk.download("punkt")

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = BeautifulSoup(text, "lxml").text # HTML decoding
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    return text

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohitbagaria/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [9]:
tech_data = pd.read_csv("Tech_pydictionary_2.csv")
tech_data["Tech_word"]=tech_data["Tech_word"].apply(clean_text)

eng_data = pd.read_csv("Eng_pydictionary_2.csv")
eng_data.head()

   Unnamed: 0              English_word
0           0                   Lattice
1          16  EMERGE Background Checks
2          35                   Tenfold
3          39           Friday Feedback
4          45                Data Dwell

In [10]:
eng_data=eng_data.drop(columns="Unnamed: 0")
eng_data["English_word"]=eng_data["English_word"].apply(clean_text)

In [11]:
# tech_data["Tech_word"]

In [12]:
eng_data.head()

               English_word
0                   lattice
1  emerge background checks
2                   tenfold
3           friday feedback
4                data dwell

In [13]:
eng_data.shape

(5291, 1)

In [14]:
def to_list(inp):
    return "['"+inp+"']"

In [15]:
tech_dict = {}
for j in tech_data["Tech_word"]:
    if j not in tech_dict:
        tech_dict[j] = 1
    else:
        tech_dict[j] += 1

eng_dict = {}
for j in eng_data["English_word"]:
    if j not in eng_dict:
        eng_dict[j] = 1
    else:
        eng_dict[j] += 1
        
tech_list=[]
all_list=[]
eng_list=[]
for i in tech_dict:
    tech_list.append(i)
    all_list.append(i)
for i in eng_dict:
    all_list.append(i)
    eng_list.append(i)

In [16]:
tech_dict['informatica']

1

In [17]:
len(tech_list),len(all_list)

(23962, 29242)

In [18]:
len(list(set(tech_list)))

23962

In [19]:
# tech_data["Tech_word"]

# tech_list

In [20]:
data.head()

,id,summaries,exact_matched_patt_contextual,Tech_from_string_match,BERT_Tags
0,d3sBpLsn19JAgs2I3eoQLw_0000,a multiskilled economist and project manager w...,['qlikview'],NaN,"[qlikview, ultiple]"
1,d2xmOwryxUIws0gqCBzNMw_0000,a multiskilled economist and project manager ...,['qlikview'],"['able', 'and co', 'board', 'cat', 'cci', 'cin...",[qlikview]
2,bfP0BXlhcOgqCouGfIIbHw_0000,ive been involved in software development usi...,['openedge'],"['able', 'ace', 'ada', 'adapt', 'apt', 'flo', ...",[openedge]
3,bdTTj0aGQRypq5vd-I1o-A_0000,information technology professional extensive...,['netsuite'],"['acl', 'ada', 'blis', 'cat', 'cien', 'ento', ...","[netsuite, microstrategy]"
4,6pXOo5YPZzwFBbuhuBzjOQ_0000,experienced sales executive with a demonstrat...,['getswift'],"['ark', 'dot', 'driven', 'ets', 'getswift', 'g...","[grubhubcom, dotmenu, getswift]"

In [21]:
# (all entries which are not in tech+eng dictionary)
eng_bert_tags=[]
removed=0
kept=0
for i in range(0,len(data)):
    eng_bert_1sen=[]
    tags = data['BERT_Tags'][i]
    
    for j in tags:
#         print(j)
        if j not in all_list:
            removed+=1
#             print(j)
        else:
            kept+=1
            eng_bert_1sen.append(j)
    eng_bert_tags.append(eng_bert_1sen)
data['BERT_Tags']=eng_bert_tags

In [22]:
removed, kept

(243, 299)

In [23]:
data.head()

,id,summaries,exact_matched_patt_contextual,Tech_from_string_match,BERT_Tags
0,d3sBpLsn19JAgs2I3eoQLw_0000,a multiskilled economist and project manager w...,['qlikview'],NaN,[qlikview]
1,d2xmOwryxUIws0gqCBzNMw_0000,a multiskilled economist and project manager ...,['qlikview'],"['able', 'and co', 'board', 'cat', 'cci', 'cin...",[qlikview]
2,bfP0BXlhcOgqCouGfIIbHw_0000,ive been involved in software development usi...,['openedge'],"['able', 'ace', 'ada', 'adapt', 'apt', 'flo', ...",[openedge]
3,bdTTj0aGQRypq5vd-I1o-A_0000,information technology professional extensive...,['netsuite'],"['acl', 'ada', 'blis', 'cat', 'cien', 'ento', ...","[netsuite, microstrategy]"
4,6pXOo5YPZzwFBbuhuBzjOQ_0000,experienced sales executive with a demonstrat...,['getswift'],"['ark', 'dot', 'driven', 'ets', 'getswift', 'g...",[getswift]

In [24]:
# data.to_csv("BERT_Pred_189_FULL_with_eng.csv",index=False)
data.to_csv("BERT_Pred_500_without_MASTER_ENG+TECH_ROW_WISE.csv",index=False)