In [6]:
import pandas as pd
import numpy as np

In [9]:
# data=pd.read_csv("BERT_Pred_189_FULL.csv")
# data=pd.read_csv("Manually_500_pred_BERT_ROW_WISE.csv")
data=pd.read_csv("Bert_Preds_EXP_Summary.csv")
# data=data.iloc[:,2:]
data=data[['id','summaries','manually Tagged','BERT_Tags']]

In [10]:
data.head()

,id,summaries,manually Tagged,BERT_Tags
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...","[' server', ' 10g', ' xp', 'tidal', ' 7']"
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']","['html', 'php', 'javascript', 'winkel']"
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...","['dell', 'sharepoint', 'versionone', 'ios', 'x..."
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [11]:
def remove_space(string_list):
    k = [i.replace(' ', '') for i in string_list]
    return k

In [12]:
data["BERT_Tags"] = data["BERT_Tags"].apply(eval)
# data["BERT_Tags"] = data["BERT_Tags"].apply(remove_space)

In [13]:
data.head()

,id,summaries,manually Tagged,BERT_Tags
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...","[ server, 10g, xp, tidal, 7]"
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']","[html, php, javascript, winkel]"
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...","[dell, sharepoint, versionone, ios, xenmobile]"
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [14]:
# for i, l in enumerate(tech_data["Tech_word"]):
#  print("list",i,"is",type(l))

In [15]:
import nltk
import re
from bs4 import BeautifulSoup

nltk.download("punkt")

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = BeautifulSoup(text, "lxml").text # HTML decoding
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    return text

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohitbagaria/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [16]:
tech_data = pd.read_csv("Tech_pydictionary_2.csv")
tech_data["Tech_word"]=tech_data["Tech_word"].apply(clean_text)

eng_data = pd.read_csv("Eng_pydictionary_2.csv")
eng_data.head()

   Unnamed: 0              English_word
0           0                   Lattice
1          16  EMERGE Background Checks
2          35                   Tenfold
3          39           Friday Feedback
4          45                Data Dwell

In [17]:
eng_data=eng_data.drop(columns="Unnamed: 0")
eng_data["English_word"]=eng_data["English_word"].apply(clean_text)

In [18]:
# tech_data["Tech_word"]

In [19]:
eng_data.head()

               English_word
0                   lattice
1  emerge background checks
2                   tenfold
3           friday feedback
4                data dwell

In [20]:
eng_data.shape

(5291, 1)

In [21]:
def to_list(inp):
    return "['"+inp+"']"

In [22]:
# # tech_data["Tech_word"]=tech_data["Tech_word"].astype(str)
# # tech_data["Tech_word"] = tech_data["Tech_word"].apply(to_list)

# # tech_data["Tech_word"]=tech_data["Tech_word"].apply(eval)

# tech_dict = {}

# for j in tech_data["Tech_word"]:
#     if j not in tech_dict:
#         tech_dict[j] = 1
#     else:
#         tech_dict[j] += 1
        
# for j in eng_data["English_word"]:
#     if j not in tech_dict:
#         tech_dict[j] = 1
#     else:
#         tech_dict[j] += 1

# all_dict={}
# for j in tech_data["Tech_word"]:
#     if j not in tech_dict:
#         all_dict[j] = 1
#     else:
#         all_dict[j] += 1
        
# for j in eng_data["English_word"]:
#     if j not in tech_dict:
#         tech_dict[j] = 1
#     else:
#         tech_dict[j] += 1
# tech_list=[]
# tech_multi_words=[]
# for i in tech_dict:
# #     if ((' ' in i) == True):
# #         tech_multi_words.append(i)
# #     else:
#         tech_list.append(i)

In [23]:
tech_dict = {}
for j in tech_data["Tech_word"]:
    if j not in tech_dict:
        tech_dict[j] = 1
    else:
        tech_dict[j] += 1

eng_dict = {}
for j in eng_data["English_word"]:
    if j not in eng_dict:
        eng_dict[j] = 1
    else:
        eng_dict[j] += 1
        
tech_list=[]
all_list=[]
eng_list=[]
for i in tech_dict:
    tech_list.append(i)
    all_list.append(i)
for i in eng_dict:
    all_list.append(i)
    eng_list.append(i)

In [24]:
tech_dict['informatica']

1

In [25]:
len(tech_list),len(all_list)

(23962, 29242)

In [26]:
len(list(set(tech_list)))

23962

In [27]:
# tech_data["Tech_word"]

# tech_list

In [28]:
data.head()

,id,summaries,manually Tagged,BERT_Tags
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...","[ server, 10g, xp, tidal, 7]"
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']","[html, php, javascript, winkel]"
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...","[dell, sharepoint, versionone, ios, xenmobile]"
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [29]:
# (all entries which are not in tech+eng dictionary)
eng_bert_tags=[]
removed=0
kept=0
for i in range(0,len(data)):
    eng_bert_1sen=[]
    tags = data['BERT_Tags'][i]
    
    for j in tags:
#         print(j)
        if j not in all_list:
            removed+=1
#             print(j)
        else:
            kept+=1
            eng_bert_1sen.append(j)
    eng_bert_tags.append(eng_bert_1sen)
data['BERT_Tags']=eng_bert_tags

In [30]:
removed, kept

(503, 646)

In [31]:
data.head()

,id,summaries,manually Tagged,BERT_Tags
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...",[tidal]
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']","[html, php, javascript]"
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...","[dell, sharepoint, versionone, ios]"
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [32]:
#Removing tech entries
eng_bert_tags=[]
removed=0
kept=0
for i in range(0,len(data)):
    eng_bert_1sen=[]
    tags= data['BERT_Tags'][i]
    for j in tags:
#         print(j)
        if j in tech_list:
            removed+=1
#             print(j)
        else:
            kept+=1
            eng_bert_1sen.append(j)
    eng_bert_tags.append(eng_bert_1sen)
data['BERT_Tags']=eng_bert_tags

In [33]:
removed, kept

(382, 264)

In [34]:
data.head()

,id,summaries,manually Tagged,BERT_Tags
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...",[tidal]
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']",[html]
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...",[dell]
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [28]:
# # (all entries which are in eng dictionary)
# eng_bert_tags=[]
# removed=0
# kept=0
# for i in range(0,len(data)):
#     eng_bert_1sen=[]
#     tags= data['BERT_Tags'][i]
#     for j in tags:
# #         print(j)
#         if j in eng_list:
#             kept+=1
#             eng_bert_1sen.append(j)
#         else:
#             removed+=1
            
#     eng_bert_tags.append(eng_bert_1sen)
# data['BERT_Tags']=eng_bert_tags

In [35]:
# data.to_csv("BERT_Pred_189_FULL_with_eng.csv",index=False)
data.to_csv("Bert_Preds_EXP_Summary_ENG_only.csv",index=False)