- Importing the libraries here...

In [32]:
import nltk
import pandas as pd
import spacy
# import en_core_web_lg
# nlp = en_core_web_lg.load()
import re
import truecase
import numpy as np
import ast
import json

In [33]:
# Load trained model
nlp = spacy.load("training_spacy/output/model-last") #load the best model

In [34]:
tech = pd.read_csv("Eng_pydictionary_2.csv")
summary = pd.read_csv("training_spacy/spacy_test_data_189.csv")
output = pd.read_csv("Dataset/output - output.csv")

In [35]:
summary.head()

,ID,summaries,exact_matched_patt_contextual,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,8ndhZBQs0dZ0ye0knHLmaQ_0000,['i will accept all requests to connect. i hav...,"['vertica', 'vb.net', 'informatica', 'java', '...",['i will accept all requests to connect. i hav...,"['accept', 'ace', 'acl', 'air', 'alis', 'amp',...","[[915, 926, 'ORG'], [937, 941, 'ORG'], [928, 9...","['accept', 'connect', 'vertica', 'vb.net', 'in...",[],('i will accept all requests to connect. i hav...
1,8nS3Y5jolvkqg3DM5GCi7A_0000,"[""is your company leveraging technology to inc...",['ios'],"[""is your company leveraging technology to inc...","['ace', 'acl', 'ava', 'chai', 'cien', 'ease', ...","[[1467, 1470, 'ORG']]","['integrate', 'ios']",[],"(""is your company leveraging technology to inc..."
2,8hxEcLBmf6FkYIwb0N3qCA_0000,['architect and developer specialising in the ...,"['microsoft dynamics', 'microsoft.net', 'andro...",['architect and developer specialising in the ...,"['alis', 'ami', 'android', 'built', 'cat', 'd ...","[[639, 646, 'ORG'], [89, 107, 'ORG'], [125, 13...","['built', 'microsoft dynamics', 'microsoft.net...",[],('architect and developer specialising in the ...
3,8go4mNkO9BMUs-OOQkoKzQ_0000,['result oriented and self motivated digital m...,['sokrati'],['result oriented and self motivated digital m...,"['ace', 'ark', 'digital marketer', 'ets', 'gro...","[[2685, 2692, 'ORG']]","['digital marketer', 'sokrati']",[],('result oriented and self motivated digital m...
4,8XFOXd4YT0LhvmPQcMhHoA_0000,['organizational & cooperate culture change is...,"['microsoft excel', 'microsoft word', 'beacon']",['organizational & cooperate culture change is...,"['accountable', 'air', 'ami', 'ark', 'beacon',...","[[627, 633, 'ORG'], [184, 199, 'ORG'], [201, 2...","['microsoft excel', 'microsoft word', 'sigma',...",[],('organizational & cooperate culture change is...

In [36]:
# summary = summary.loc[:1]

In [37]:
len(tech)

5291

In [38]:
summary = summary.sort_values(by=['ID'], ascending=False)
summary.reset_index(inplace = True, drop = True)

In [39]:
summary.drop(columns = ["summaries_matching", "Tech_from_string_match", "spacy_format_v1", "exact_matched_patt", "matched_NER_final", "spacy_format_manual_tag"], axis =1, inplace = True)

In [40]:
summary.rename(columns={"ID":"id"}, inplace = True)

In [41]:
summary.head()

,id,summaries,exact_matched_patt_contextual
0,8ndhZBQs0dZ0ye0knHLmaQ_0000,['i will accept all requests to connect. i hav...,"['vertica', 'vb.net', 'informatica', 'java', '..."
1,8nS3Y5jolvkqg3DM5GCi7A_0000,"[""is your company leveraging technology to inc...",['ios']
2,8hxEcLBmf6FkYIwb0N3qCA_0000,['architect and developer specialising in the ...,"['microsoft dynamics', 'microsoft.net', 'andro..."
3,8go4mNkO9BMUs-OOQkoKzQ_0000,['result oriented and self motivated digital m...,['sokrati']
4,8XFOXd4YT0LhvmPQcMhHoA_0000,['organizational & cooperate culture change is...,"['microsoft excel', 'microsoft word', 'beacon']"

In [42]:
tech.head()

   Unnamed: 0              English_word
0           0                   Lattice
1          16  EMERGE Background Checks
2          35                   Tenfold
3          39           Friday Feedback
4          45                Data Dwell

In [43]:

tech.columns = ["index", "title"]
tech.drop(columns = ["index"], axis = 1, inplace=True)

In [44]:
tech.reset_index(inplace = True, drop = True)

In [45]:
summary["summaries"][0]

"['i will accept all requests to connect. i have an open philosophy. molly@synchrony-solutions.com. synchrony solutions, inc. is an executive search firm which specializes in placing professionals in statistical analysis, information technology, business intelligence, big data, sas, etl, predictive analytics and modeling, data mining, clinical trials. verticals include pharmaceutical, biotechnology, healthcare, financial/credit, market research, and fast-growing/emerging companies. specialties: -biostatisticians -statisticians -sas programmers -statistical programmers -oracle clinical programmers -clinical data managers/coordinators -clinical research associates -clinical study managers -director clinical operations -medical writers -regulatory affairs specialists -senior management -project management -analysis -programming and development -production support -vertica -.net, c#.net, vb.net, -sql server -informatica -java and j2ee -business objects -big data, business development manager/recruiter ... sphr:vp talent acquisition & hris: driver of global strategy to amplify talent attraction and deliver empowering..., original slogan: need a nerd? people got insulted. now: serious sourcing! no laughing, just staffing. i like puns & stupid jokes. connect on linkedin too., molly@synchrony-solutions.com, president & ceo, synchrony solutions, inc. (lion open networker at synchrony solutions, inc., executive recruiter specializing in data and analytics, president & ceo (lion linkedin open networker), data and analytics recruiter, president and ceo, synchrony solutions, inc., social media coordinator at western users of sas software (wuss), application development and maintenance, investment banking - middle office, sales ops, marketing & corpdev']"

In [46]:
# for i in range(0, len(summary)):
#     if summary["summaries"][i] is not np.nan:
#         demo = summary["summaries"][i]
#         res = demo.strip('][')
#         resl = []
#         resl.append(res)
#         summary["summaries"][i] = resl
        
#     else:
#         summary["summaries"][i] = '[]'
#         demo = summary["summaries"][i]
#         res = demo.strip('][')
#         resl = []
#         resl.append(res)
#         summary["summaries"][i] = resl

# converts the string of list of string
def summary_text_preprocess(df, summary_col_name):
    
    for i in range(0, len(df)):
        
        if df[summary_col_name][i] is not np.nan:
            demo = df[summary_col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[summary_col_name][i] = resl

        else:
            df[summary_col_name][i] = '[]'
            demo = df[summary_col_name][i]
            res = demo.strip('][')
            resl = []
            resl.append(res)
            df[summary_col_name][i] = resl

    return df

In [47]:
# summary = summary_text_preprocess(summary, "summaries")

In [48]:
summary['exact_matched_patt_contextual'] = [ '[]' if x is np.NaN else x for x in summary['exact_matched_patt_contextual'] ]

In [49]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        print(i)
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [50]:
summary = convert_data_format(summary, "exact_matched_patt_contextual")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188

In [51]:
summary["exact_matched_patt_contextual"][0]

['vertica', 'vb.net', 'informatica', 'java', 'j2ee']

In [52]:
summary = convert_data_format(summary, "summaries")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188

In [53]:
summary["summaries"][0]

['i will accept all requests to connect. i have an open philosophy. molly@synchrony-solutions.com. synchrony solutions, inc. is an executive search firm which specializes in placing professionals in statistical analysis, information technology, business intelligence, big data, sas, etl, predictive analytics and modeling, data mining, clinical trials. verticals include pharmaceutical, biotechnology, healthcare, financial/credit, market research, and fast-growing/emerging companies. specialties: -biostatisticians -statisticians -sas programmers -statistical programmers -oracle clinical programmers -clinical data managers/coordinators -clinical research associates -clinical study managers -director clinical operations -medical writers -regulatory affairs specialists -senior management -project management -analysis -programming and development -production support -vertica -.net, c#.net, vb.net, -sql server -informatica -java and j2ee -business objects -big data, business development manager/recruiter ... sphr:vp talent acquisition & hris: driver of global strategy to amplify talent attraction and deliver empowering..., original slogan: need a nerd? people got insulted. now: serious sourcing! no laughing, just staffing. i like puns & stupid jokes. connect on linkedin too., molly@synchrony-solutions.com, president & ceo, synchrony solutions, inc. (lion open networker at synchrony solutions, inc., executive recruiter specializing in data and analytics, president & ceo (lion linkedin open networker), data and analytics recruiter, president and ceo, synchrony solutions, inc., social media coordinator at western users of sas software (wuss), application development and maintenance, investment banking - middle office, sales ops, marketing & corpdev']

# Truecasing

In [54]:
for ind in summary.index:
    summary["summaries"][ind][0] = truecase.get_true_case(summary["summaries"][ind][0])

In [55]:

def dictionary_with_title_description(df):
    company_names_description = {}
    
    for i in range(0, len(df)):
        
        doc = nlp(df.loc[i, "summaries"][0])
        
        for X in doc.ents:
            if (X.label_ == 'ORG'):
                
                company_names_description.setdefault(df.loc[i, "id"], [])
                company_names_description[df.loc[i, "id"]].append(X.text)
                
    print("Company names extracted from Summaries : \n",company_names_description)

    return company_names_description

In [56]:
# function call
company_names_description = dictionary_with_title_description(summary)

Company names extracted from Summaries :
 {}

In [57]:
# taking unique and removing duplicate names
for key_3, value_3 in company_names_description.items():
    company_names_description[key_3] = list(set(company_names_description[key_3]))

In [58]:
def new_swapped_dict(df, company_names_description):

    
    final_dictionary = {}
    
    for key_2, val_2 in company_names_description.items():
        
        for m in range(0 , len(tech)):
            for o in range(0, len(val_2)):
                b = tech.loc[m, "title"]
                b=b.lower()
                company_names_description[key_2][o] = company_names_description[key_2][o].lower()
                
                if company_names_description[key_2][o] == b:
                    final_dictionary.setdefault(key_2,[])
                    final_dictionary[key_2].append(b)
                
    return final_dictionary

In [59]:
# function call
final_dictionary = new_swapped_dict(summary, company_names_description)

In [60]:
final_dictionary

{}

In [ ]:
tech["id"] = tech.index
tech.head()

In [ ]:
try:
  
  for k, v in final_dictionary.items():
    # x = summary["summaries"].loc(summary["id"] == k)
    # print(x)
    new_row = {'id':k,'Technology_Names': final_dictionary[k]}
    output = output.append(new_row, ignore_index=True)

except Exception as e :
    print("\n\n", e)

In [ ]:
## Extracting summary to Output sheet
for ind in output.index:
    for i in summary.index:
        
        if output["id"][ind]==summary["id"][i]:
            output["summaries"][ind] = summary["summaries"][i]

In [ ]:
output.to_csv("NER_train_lg_moreTAGS_simple_spacy.csv", index = False)

In [ ]:
df_summary = pd.read_csv("NER_train_lg_moreTAGS_simple_spacy.csv")
df_summary.head()

In [ ]:
# Lowercasing the summary is important for exact match finding
for ind in output.index:
    output["summaries"][ind][0] = output["summaries"][ind][0].lower()

In [ ]:
output.head()

In [ ]:
df_summary.head()

In [ ]:
# Applying Regex to filter out Invalid Words

def get_exact_match(txt, tech):
    try:
        patt = '|'.join(['\\b'+elem+'\\b' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [ ]:
output['matched_NER_by_borders'] = output.apply(lambda x: get_exact_match(x["summaries"], x["Technology_Names"]), axis = 1)

In [ ]:
output.head()

In [ ]:
# Applying Regex to filter out Invalid Words

def get_exact_match_2(txt, tech):
    try:
        patt = '|'.join(['\\s'+elem+'\\s' for elem in tech])
        matched_patt = re.findall(patt,txt[0])
    except Exception as e:
        print(e)
        matched_patt = []
    return matched_patt

In [ ]:
output['matched_NER_final'] = output.apply(lambda x: get_exact_match_2(x["summaries"], x["matched_NER_by_borders"]), axis = 1)

In [ ]:
# output.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/NER_tagged_data_ner_spacy_own_vocab_100_regex_final.csv", index = False)

In [ ]:
# strip by whitespace
for i in range(0,len(output)):
    for j in range(0, len(output['matched_NER_final'][i])):
        output['matched_NER_final'][i][j] = output['matched_NER_final'][i][j].strip()
#     print(output['matched_NER_final'][i])

In [ ]:
df_company_names_description = pd.DataFrame(list(company_names_description.items()))
df_company_names_description.columns = ["id","NER_Extracted_Tags"]

In [ ]:
# df_company_names_description["summaries"] = np.nan

In [ ]:
# # Extracting summary to Output sheet
# for ind in df_company_names_description.index:
#     for i in df_summary.index:
        
#         if df_company_names_description["id"][ind]==df_summary["id"][i]:
#             df_company_names_description["summaries"][ind] = df_summary["summaries"][i]

In [ ]:
df_company_names_description.head()
# this represents company names extracted in Round 1 from spacy NER

In [ ]:
output.head()
# output is final dictionary basically

In [ ]:
len(df_company_names_description)

In [ ]:
len(output)

In [ ]:
# df_company_names_description = df_company_names_description.sort_values(by=['id'], ascending=False)

In [ ]:
# df_company_names_description.to_csv("Dataset/Output/NER-output/NER_Extracted_Entities__lg_truecase_moreTAGS.csv", index = False)

In [ ]:
# list entries are there so merge will not happend, converting into tuple
# df_company_names_description.b = df_company_names_description.b.apply(tuple)

In [ ]:
output = output.merge(df_company_names_description, 'left')

In [ ]:
# output = pd.merge(output, df_company_names_description,on = ["id"], how = 'left')

In [ ]:
len(output)

In [ ]:
orig_df = summary.loc[:,["id", "summaries", "exact_matched_patt_contextual"]]

In [ ]:
df_final = orig_df.merge(output, 'left', on = ["id"])

In [ ]:
# orig_df = summary.loc[:,["id", "summaries", "exact_matched_patt_contextual"]]
# df_final = orig_df.merge(output, 'left', on = ["id"])
df_final.drop(columns = "summaries_y", axis  = 1, inplace = True)

In [ ]:
df_final.head()

In [ ]:
# # TrueCase summary copy from saved df_summary to df_final summary column for matching id's
# for i in df_final.index:
#     df_final["summaries_x"][i] =df_summary["summaries"].loc[df_summary["id"]==df_final["id"][i]]

In [ ]:
for i in df_final.index:
    
    for j in df_summary.index:
        if df_final["id"][i]==df_summary["id"][j]:
            df_final["summaries_x"][i] = df_summary["summaries"][j]

In [ ]:
df_final.head()

In [ ]:
len(df_final)

In [ ]:
df_final["id"].nunique()

In [ ]:
df_final.rename(columns = {"summaries_x":"summaries"}, inplace = True)

In [ ]:
df_final.head()

In [ ]:
final_df = df_final.sort_values(by=['id'], ascending=False)

In [ ]:
final_df.head()

In [ ]:
final_df["matched_NER_by_borders"] = final_df["matched_NER_by_borders"].fillna(0)

In [ ]:
# demo
for i in range(0, len(final_df)):
        if final_df["matched_NER_by_borders"][i] != 0:
            mylist = final_df["matched_NER_by_borders"][i]
            
            mylist = list(dict.fromkeys(mylist))
            final_df["matched_NER_by_borders"][i] = mylist

In [ ]:
final_df.head()

In [ ]:
final_df.to_csv("NER_tagged_1000_simple_spacy.csv", index = False)

# Until Now, it is simple spacy Run.

In [ ]:
final_df.head(-1)

# @Mohit, please update the string match prediction file here for kmp_df, it will combines these two now...

In [ ]:
# kmp_df = pd.read_csv("1000_tagged_simanchala/output_colab/KMP_string_Match_newer_1000_colab.csv")
kmp_df = pd.read_csv("1000_tagged_simanchala/output_local/KMP_string_Match_newer_1000_v2.csv")

In [ ]:
final_df = final_df.sort_values(by=['id'], ascending=False)
final_df.reset_index(inplace = True, drop = True)

In [ ]:
kmp_df = kmp_df.sort_values(by=['id'], ascending=False)
kmp_df.reset_index(inplace = True, drop = True)

In [ ]:
kmp_df.head(2)

In [ ]:
type(kmp_df["exact_matched_patt"][1])

In [ ]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [ ]:
kmp_df = convert_data_format(kmp_df, "exact_matched_patt")

In [ ]:
type(kmp_df["exact_matched_patt"][0])

In [ ]:
kmp_df["exact_matched_patt"][1]

In [ ]:
kmp_df["exact_matched_patt"][0]

In [ ]:
for i in range(0, len(kmp_df)):
    if len(kmp_df["exact_matched_patt"][i])==0:
        kmp_df["exact_matched_patt"][i] = ["0"]

In [ ]:
for i in range(0, len(final_df)):
    if (final_df["matched_NER_by_borders"][i])==0:
        final_df["matched_NER_by_borders"][i] = ["0"]

In [ ]:
type(final_df["matched_NER_by_borders"][0])

In [ ]:
for i in range(0,len(kmp_df)):
    print(i)
    if (kmp_df["id"][i]==final_df["id"][i]):
      
            final_df["matched_NER_by_borders"][i] = kmp_df["exact_matched_patt"][i]+final_df["matched_NER_by_borders"][i]            
            final_df["matched_NER_by_borders"][i] = list(set(final_df["matched_NER_by_borders"][i]))
        
#         final_df["matched_NER_by_borders"][i] = (final_df["matched_NER_by_borders"][i]+df_string_match["exact_matched_patt"][i])
#         final_df["matched_NER_by_borders"][i] = list(set(final_df["matched_NER_by_borders"][i]))

In [ ]:
final_df[final_df["id"]=="zaByWGsar5hVdBWLEYykcg_0000"]

In [ ]:
# h = final_df["matched_NER_by_borders"][3].remove(0)

In [ ]:
final_df["matched_NER_by_borders"][0][0]

In [ ]:
for i in range(0, len(final_df)):
    l = final_df["matched_NER_by_borders"][i]
    final_df["matched_NER_by_borders"][i] = [0 if element == '0' else element for element in l]

In [ ]:
# for i in range(0, len(final_df)):
#   l = final_df["matched_NER_by_borders"][i]
#   g = l[:]
#   l.remove(0)

In [ ]:
for i in range(0, len(final_df)):
  words = final_df["matched_NER_by_borders"][i]
  stopwords = [0]
  for word in list(words):
    if word in stopwords:
      words.remove(word)

In [ ]:
final_df

In [ ]:
final_df[final_df["id"]=="zaByWGsar5hVdBWLEYykcg_0000"]

# remove.csv, I have given to you already..

In [ ]:
r = pd.read_csv("Remove.csv")

In [ ]:
for i in range(0,len(r)):
    r["Remove"][i] = r["Remove"][i].lower()

In [ ]:
remove_list = r["Remove"].tolist()

In [ ]:
remove_list.append("ve")

In [ ]:
for i in range(0, len(final_df)):
    print(i)
    for word in list(final_df["matched_NER_by_borders"][i]):
        if word in remove_list:
            final_df["matched_NER_by_borders"][i].remove(word)

In [ ]:
final_df.to_csv("1000_tagged_simanchala/output_colab/final_df_string_ner_v4_1000_combined.csv", index = False)

# END, Combined sheet is prepared