In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv("Bert_Preds_EXP_Summary_ENG_only.csv")#only eng

In [2]:
for i, l in enumerate(data["BERT_Tags"]):
    print("list",i,"is",type(l))

list 0 is <class 'str'>
list 1 is <class 'str'>
list 2 is <class 'str'>
list 3 is <class 'str'>
list 4 is <class 'str'>
list 5 is <class 'str'>
list 6 is <class 'str'>
list 7 is <class 'str'>
list 8 is <class 'str'>
list 9 is <class 'str'>
list 10 is <class 'str'>
list 11 is <class 'str'>
list 12 is <class 'str'>
list 13 is <class 'str'>
list 14 is <class 'str'>
list 15 is <class 'str'>
list 16 is <class 'str'>
list 17 is <class 'str'>
list 18 is <class 'str'>
list 19 is <class 'str'>
list 20 is <class 'str'>
list 21 is <class 'str'>
list 22 is <class 'str'>
list 23 is <class 'str'>
list 24 is <class 'str'>
list 25 is <class 'str'>
list 26 is <class 'str'>
list 27 is <class 'str'>
list 28 is <class 'str'>
list 29 is <class 'str'>
list 30 is <class 'str'>
list 31 is <class 'str'>
list 32 is <class 'str'>
list 33 is <class 'str'>
list 34 is <class 'str'>
list 35 is <class 'str'>
list 36 is <class 'str'>
list 37 is <class 'str'>
list 38 is <class 'str'>
list 39 is <class 'str'>
list 40 is <class 'str'>
list 41 is <class 'str'>
list 42 is <class 'str'>
list 43 is <class 'str'>
list 44 is <class 'str'>
list 45 is <class 'str'>
list 46 is <class 'str'>
list 47 is <class 'str'>
list 48 is <class 'str'>
list 49 is <class 'str'>
list 50 is <class 'str'>
list 51 is <class 'str'>
list 52 is <class 'str'>
list 53 is <class 'str'>
list 54 is <class 'str'>
list 55 is <class 'str'>
list 56 is <class 'str'>
list 57 is <class 'str'>
list 58 is <class 'str'>
list 59 is <class 'str'>
list 60 is <class 'str'>
list 61 is <class 'str'>
list 62 is <class 'str'>
list 63 is <class 'str'>
list 64 is <class 'str'>
list 65 is <class 'str'>
list 66 is <class 'str'>
list 67 is <class 'str'>
list 68 is <class 'str'>
list 69 is <class 'str'>
list 70 is <class 'str'>
list 71 is <class 'str'>
list 72 is <class 'str'>
list 73 is <class 'str'>
list 74 is <class 'str'>
list 75 is <class 'str'>
list 76 is <class 'str'>
list 77 is <class 'str'>
list 78 is <class 'str'>
list 79 is <class 'str'>
list 80 is <class 'str'>
list 81 is <class 'str'>
list 82 is <class 'str'>
list 83 is <class 'str'>
list 84 is <class 'str'>
list 85 is <class 'str'>
list 86 is <class 'str'>
list 87 is <class 'str'>
list 88 is <class 'str'>
list 89 is <class 'str'>
list 90 is <class 'str'>
list 91 is <class 'str'>
list 92 is <class 'str'>
list 93 is <class 'str'>
list 94 is <class 'str'>
list 95 is <class 'str'>
list 96 is <class 'str'>
list 97 is <class 'str'>
list 98 is <class 'str'>
list 99 is <class 'str'>
list 100 is <class 'str'>
list 101 is <class 'str'>
list 102 is <class 'str'>
list 103 is <class 'str'>
list 104 is <class 'str'>
list 105 is <class 'str'>
list 106 is <class 'str'>
list 107 is <class 'str'>
list 108 is <class 'str'>
list 109 is <class 'str'>
list 110 is <class 'str'>
list 111 is <class 'str'>
list 112 is <class 'str'>
list 113 is <class 'str'>
list 114 is <class 'str'>
list 115 is <class 'str'>
list 116 is <class 'str'>
list 117 is <class 'str'>
list 118 is <class 'str'>
list 119 is <class 'str'>
list 120 is <class 'str'>
list 121 is <class 'str'>
list 122 is <class 'str'>
list 123 is <class 'str'>
list 124 is <class 'str'>
list 125 is <class 'str'>
list 126 is <class 'str'>
list 127 is <class 'str'>
list 128 is <class 'str'>
list 129 is <class 'str'>
list 130 is <class 'str'>
list 131 is <class 'str'>
list 132 is <class 'str'>
list 133 is <class 'str'>
list 134 is <class 'str'>
list 135 is <class 'str'>
list 136 is <class 'str'>
list 137 is <class 'str'>
list 138 is <class 'str'>
list 139 is <class 'str'>
list 140 is <class 'str'>
list 141 is <class 'str'>
list 142 is <class 'str'>
list 143 is <class 'str'>
list 144 is <class 'str'>
list 145 is <class 'str'>
list 146 is <class 'str'>
list 147 is <class 'str'>
list 148 is <class 'str'>
list 149 is <class 'str'>
list 150 is <class 'str'>
list 151 is <class 'str'>
list 152 is <class 'str'>
list 153 is <class 'str'>
list 154 is <class 'str'>
list 155 is <class 'str'>
list 156 is <class 'str'>
list 157 is <class 'str'>
list 158 is <class 'str'>
list 159 is <class 'str'>
list 160 is <class 'str'>
list 161 is <class 'str'>
list 162 is <class 'str'>
list 163 is <class 'str'>
list 164 is <class 'str'>
list 165 is <class 'str'>
list 166 is <class 'str'>
list 167 is <class 'str'>
list 168 is <class 'str'>
list 169 is <class 'str'>
list 170 is <class 'str'>
list 171 is <class 'str'>
list 172 is <class 'str'>
list 173 is <class 'str'>
list 174 is <class 'str'>
list 175 is <class 'str'>
list 176 is <class 'str'>
list 177 is <class 'str'>
list 178 is <class 'str'>
list 179 is <class 'str'>
list 180 is <class 'str'>
list 181 is <class 'str'>
list 182 is <class 'str'>
list 183 is <class 'str'>
list 184 is <class 'str'>
list 185 is <class 'str'>
list 186 is <class 'str'>
list 187 is <class 'str'>
list 188 is <class 'str'>
list 189 is <class 'str'>
list 190 is <class 'str'>
list 191 is <class 'str'>
list 192 is <class 'str'>
list 193 is <class 'str'>
list 194 is <class 'str'>
list 195 is <class 'str'>
list 196 is <class 'str'>
list 197 is <class 'str'>
list 198 is <class 'str'>
list 199 is <class 'str'>
list 200 is <class 'str'>
list 201 is <class 'str'>
list 202 is <class 'str'>
list 203 is <class 'str'>
list 204 is <class 'str'>
list 205 is <class 'str'>
list 206 is <class 'str'>
list 207 is <class 'str'>
list 208 is <class 'str'>
list 209 is <class 'str'>
list 210 is <class 'str'>
list 211 is <class 'str'>
list 212 is <class 'str'>
list 213 is <class 'str'>
list 214 is <class 'str'>
list 215 is <class 'str'>
list 216 is <class 'str'>
list 217 is <class 'str'>
list 218 is <class 'str'>
list 219 is <class 'str'>
list 220 is <class 'str'>
list 221 is <class 'str'>
list 222 is <class 'str'>
list 223 is <class 'str'>
list 224 is <class 'str'>
list 225 is <class 'str'>
list 226 is <class 'str'>
list 227 is <class 'str'>
list 228 is <class 'str'>
list 229 is <class 'str'>
list 230 is <class 'str'>
list 231 is <class 'str'>
list 232 is <class 'str'>
list 233 is <class 'str'>
list 234 is <class 'str'>
list 235 is <class 'str'>
list 236 is <class 'str'>
list 237 is <class 'str'>
list 238 is <class 'str'>
list 239 is <class 'str'>
list 240 is <class 'str'>
list 241 is <class 'str'>
list 242 is <class 'str'>
list 243 is <class 'str'>
list 244 is <class 'str'>
list 245 is <class 'str'>
list 246 is <class 'str'>
list 247 is <class 'str'>
list 248 is <class 'str'>
list 249 is <class 'str'>
list 250 is <class 'str'>
list 251 is <class 'str'>
list 252 is <class 'str'>
list 253 is <class 'str'>
list 254 is <class 'str'>
list 255 is <class 'str'>
list 256 is <class 'str'>
list 257 is <class 'str'>
list 258 is <class 'str'>
list 259 is <class 'str'>
list 260 is <class 'str'>
list 261 is <class 'str'>
list 262 is <class 'str'>
list 263 is <class 'str'>
list 264 is <class 'str'>
list 265 is <class 'str'>
list 266 is <class 'str'>
list 267 is <class 'str'>
list 268 is <class 'str'>
list 269 is <class 'str'>
list 270 is <class 'str'>
list 271 is <class 'str'>
list 272 is <class 'str'>
list 273 is <class 'str'>
list 274 is <class 'str'>
list 275 is <class 'str'>
list 276 is <class 'str'>
list 277 is <class 'str'>
list 278 is <class 'str'>
list 279 is <class 'str'>
list 280 is <class 'str'>
list 281 is <class 'str'>
list 282 is <class 'str'>
list 283 is <class 'str'>
list 284 is <class 'str'>
list 285 is <class 'str'>
list 286 is <class 'str'>
list 287 is <class 'str'>
list 288 is <class 'str'>
list 289 is <class 'str'>
list 290 is <class 'str'>
list 291 is <class 'str'>
list 292 is <class 'str'>
list 293 is <class 'str'>
list 294 is <class 'str'>
list 295 is <class 'str'>
list 296 is <class 'str'>
list 297 is <class 'str'>
list 298 is <class 'str'>
list 299 is <class 'str'>
list 300 is <class 'str'>
list 301 is <class 'str'>
list 302 is <class 'str'>
list 303 is <class 'str'>
list 304 is <class 'str'>
list 305 is <class 'str'>
list 306 is <class 'str'>
list 307 is <class 'str'>
list 308 is <class 'str'>
list 309 is <class 'str'>
list 310 is <class 'str'>
list 311 is <class 'str'>
list 312 is <class 'str'>
list 313 is <class 'str'>
list 314 is <class 'str'>
list 315 is <class 'str'>
list 316 is <class 'str'>
list 317 is <class 'str'>
list 318 is <class 'str'>
list 319 is <class 'str'>
list 320 is <class 'str'>
list 321 is <class 'str'>
list 322 is <class 'str'>
list 323 is <class 'str'>
list 324 is <class 'str'>
list 325 is <class 'str'>
list 326 is <class 'str'>
list 327 is <class 'str'>
list 328 is <class 'str'>
list 329 is <class 'str'>
list 330 is <class 'str'>
list 331 is <class 'str'>
list 332 is <class 'str'>
list 333 is <class 'str'>
list 334 is <class 'str'>
list 335 is <class 'str'>
list 336 is <class 'str'>
list 337 is <class 'str'>
list 338 is <class 'str'>
list 339 is <class 'str'>
list 340 is <class 'str'>
list 341 is <class 'str'>
list 342 is <class 'str'>
list 343 is <class 'str'>
list 344 is <class 'str'>
list 345 is <class 'str'>
list 346 is <class 'str'>
list 347 is <class 'str'>
list 348 is <class 'str'>
list 349 is <class 'str'>
list 350 is <class 'str'>
list 351 is <class 'str'>
list 352 is <class 'str'>
list 353 is <class 'str'>
list 354 is <class 'str'>
list 355 is <class 'str'>
list 356 is <class 'str'>
list 357 is <class 'str'>
list 358 is <class 'str'>
list 359 is <class 'str'>
list 360 is <class 'str'>
list 361 is <class 'str'>
list 362 is <class 'str'>
list 363 is <class 'str'>
list 364 is <class 'str'>
list 365 is <class 'str'>
list 366 is <class 'str'>
list 367 is <class 'str'>
list 368 is <class 'str'>
list 369 is <class 'str'>
list 370 is <class 'str'>
list 371 is <class 'str'>
list 372 is <class 'str'>
list 373 is <class 'str'>
list 374 is <class 'str'>
list 375 is <class 'str'>
list 376 is <class 'str'>
list 377 is <class 'str'>
list 378 is <class 'str'>
list 379 is <class 'str'>
list 380 is <class 'str'>
list 381 is <class 'str'>
list 382 is <class 'str'>
list 383 is <class 'str'>
list 384 is <class 'str'>
list 385 is <class 'str'>
list 386 is <class 'str'>
list 387 is <class 'str'>
list 388 is <class 'str'>
list 389 is <class 'str'>
list 390 is <class 'str'>

In [3]:
def remove_space(string_list):
    k = [i.replace(' ', '') for i in string_list]
    return k

In [4]:
data["BERT_Tags"] = data["BERT_Tags"].apply(str)
data["BERT_Tags"] = data["BERT_Tags"].apply(eval)
data["BERT_Tags"] = data["BERT_Tags"].apply(remove_space)

In [5]:
data["BERT_Tags"].value_counts()

[]                                                             246
[adobe]                                                         16
[java]                                                          13
[html]                                                          13
[linux]                                                          6
[android, java]                                                  6
[cognizant]                                                      5
[python]                                                         4
[angular]                                                        4
[luna]                                                           2
[html, bootstrap]                                                2
[html, sass]                                                     2
[dell]                                                           2
[tidal]                                                          2
[bootstrap]                                                      2
[java, spring]                                                   2
[outlook]                                                        2
[cadence]                                                        2
[cucumber, java]                                                 1
[html, apache, linux, adobe]                                     1
[linux, android, java]                                           1
[janus]                                                          1
[python, java]                                                   1
[html, android]                                                  1
[android]                                                        1
[angular, python, redux, react]                                  1
[html, bootstrap, angular]                                       1
[beacon, adobe]                                                  1
[java, spring, angular]                                          1
[paragon]                                                        1
                                                              ...
[magnolia]                                                       1
[sonar, html, apache, linux, eclipse, python, java, spring]      1
[python, selenium, java]                                         1
[python, java, react]                                            1
[sprint, android, selenium]                                      1
[android, java, spring]                                          1
[java, selenium]                                                 1
[adobe, java, selenium, spring, angular]                         1
[linux, java]                                                    1
[docker, python, gopher]                                         1
[nielsen]                                                        1
[python, hive]                                                   1
[bootstrap, python, java]                                        1
[html, linux, cobol, java, spring]                               1
[apache]                                                         1
[zephyr, acumen]                                                 1
[java, eclipse]                                                  1
[asana, adobe]                                                   1
[linux, aruba]                                                   1
[jetty, apache, hive, java, spring]                              1
[dell, apache, linux, android, juniper]                          1
[html, java, spring]                                             1
[html, linux, adobe, android]                                    1
[bootstrap, adobe]                                               1
[node, html, eclipse, bootstrap]                                 1
[azure, python, velocity]                                        1
[eclipse]                                                        1
[eclipse, java, selenium]                                        1
[robin]                                                          1
[linux, python, selenium, java]                                  1
Name: BERT_Tags, Length: 78, dtype: int64

In [6]:
tech = pd.read_csv("Tech_pydictionary_2.csv")

tech=tech.iloc[:,1:2]
tech.head()

           Tech_word
0        WorkflowMax
1           InGenius
2            DealHub
3              Ebsta
4  Repsly Mobile CRM

In [7]:
summary=data
tech['Tech_word'] = tech['Tech_word'].astype(str)
all_tech_words = list(tech['Tech_word'].str.lower())
summary["summaries"]=summary["summaries"].astype(str)
all_strings = list(summary["summaries"].str.lower())

In [8]:
len(all_tech_words),len(all_strings)

(24057, 391)

In [9]:
i=1
tech_keys=[]
for item in all_strings:
#     print("***","TEST No,",i,"***")
    i=i+1
    tech_row=[]
    for k in all_tech_words:
        if k in item and len(k)>2:
           tech_row.append(k)
    tech_keys.append(tech_row)
# end = time.time()-start_time # where search ends
# print(end)

In [10]:
summary['keywords']=tech_keys
summary.head()

,id,summaries,manually Tagged,BERT_Tags,keywords
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[],"[xperience, ets, alis, and co, que, hips, gmail]"
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...",[tidal],"[xperience, ora, indo, windows xp, sched, acl]"
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']",[html],"[php, and co, javascript, ava, esign, ning, ic..."
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...",[dell],"[xperience, harepoint, versionone, ora, xen, c..."
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[],"[xperience, nect, ets, jaco, staf, iri, ning, ..."

In [11]:
import re
def reg_match(txt, keyw):
    sep='|'
    temp = sep.join(['\\b' + i+'\\b' for i in keyw])
    matches = re.findall(temp,txt)
    return list(set(matches))

In [12]:
summary['string_matched'] = summary.apply(lambda x: reg_match(x["summaries"], x["keywords"]), axis = 1)

In [13]:
summary.head()

,id,summaries,manually Tagged,BERT_Tags,keywords,string_matched
0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[],"[xperience, ets, alis, and co, que, hips, gmail]",[]
1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...",[tidal],"[xperience, ora, indo, windows xp, sched, acl]",[windows xp]
2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']",[html],"[php, and co, javascript, ava, esign, ning, ic...","[javascript, php]"
3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...",[dell],"[xperience, harepoint, versionone, ora, xen, c...","[citrix xenmobile, sharepoint, versionone, ios]"
4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[],"[xperience, nect, ets, jaco, staf, iri, ning, ...",[]

In [14]:
# summary["string_matched"] = summary["string_matched"].apply(str)
# summary["string_matched"] = summary["string_matched"].apply(eval)
# summary["string_matched"] = summary["string_matched"].apply(remove_space)

In [15]:
def combine(lis1, lis2):
    return list(set(lis1 + lis2))

In [16]:
summary['BERT_ENG+string_matched'] = summary.apply(lambda x: combine(x["BERT_Tags"], x["string_matched"]), axis = 1)

In [18]:
summary.rename(columns={'manually Tagged':'exact_matched_patt_contextual'}, inplace=True)

# data.rename(columns={'gdp':'log(gdp)'}, inplace=True)

In [19]:
data=summary[['id','summaries','exact_matched_patt_contextual','string_matched']]
data.to_csv("Bert_Preds_EXP_Summary_TECH_only.csv")

In [21]:
data=summary[['id','summaries','exact_matched_patt_contextual','BERT_ENG+string_matched']]
data.to_csv("Bert_Preds_EXP_Summary_ENG+TECH.csv")