In [11]:
import numpy as np
import pandas as pd

In [12]:
data=pd.read_csv("tech_sort1k.csv")
data.head(2)

,id,exact_matched_patt_contextual,summaries,Note
0,zsDSYc5UzpyXekOABZBfnQ_0000,NaN,senior director of clinical services housing a...,NaN
1,zs1YNrrCeorFkGLEXSSp-A_0000,NaN,i believe that passions are meant to be shared...,NaN

In [13]:
data2=pd.read_csv("spacy_train_data_1000.csv")
data2.head(2)

,ID,summaries,exact_matched_patt_contextual,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
0,zu5V5tz7VR1S1B7AWZ9cbA_0000,"[""currently employed as a trading agreements s...",['clearstream'],"[""currently employed as a trading agreements s...","['ace', 'alis', 'atera', 'cat', 'clearstream',...","[[905, 916, 'ORG']]","['keeping', 'hired', 'clearstream', 'terms', '...",[],"(""currently employed as a trading agreements s..."
1,zrwYrLdOpaOaeInRdGNGuQ_0000,['experienced material scientist with expertis...,['western digital'],['experienced material scientist with expertis...,"['ami', 'and co', 'blis', 'bric', 'bric', 'cat...","[[1442, 1457, 'ORG']]","['polymer', 'fluent', 'devoted', 'western digi...",[],('experienced material scientist with expertis...

In [14]:
data = data.sort_values(by = 'id')
data.head(20)

,id,exact_matched_patt_contextual,summaries,Note
990,#NAME?,['groupe'],"managing director, ceo, strategic business uni...",NaN
983,#NAME?,NaN,seasoned executive with more than 23 years of ...,fiscal Management - is the process of techolog...
984,#NAME?,['zoom'],i am a self-motivated sales & marketing profes...,NaN
985,#NAME?,"['invision', 'pixate', 'xcode', 'html']",www.lisawilkins.com specialties: visual/ui/ux ...,NaN
986,#NAME?,"['bootstrap', 'sitecore', 'asp.net', 'jquery']",senior software engineer with 6+ years in anal...,NaN
987,#NAME?,NaN,i estimate and manage civil construction proje...,NaN
988,#NAME?,NaN,driven and compassionate healthcare profession...,NaN
989,#NAME?,NaN,due to a flexible and focused mindset and a re...,NaN
982,#NAME?,['adobe photoshop'],multi-talented creative marketing and design p...,NaN
981,#NAME?,NaN,i am passionate about the combined power of pe...,NaN
992,#NAME?,NaN,"co-founder, ceo, front-end developer of 1up mo...",NaN
993,#NAME?,NaN,"a strong, results-oriented, and self-motivated...",Sigma methodologist - is a process in a IT pro...
994,#NAME?,NaN,i am currently employed as an aml inspection s...,NaN
995,#NAME?,NaN,12 years of banking experience: 9 years within...,NaN
980,#NAME?,NaN,passionate visioner and doer. expert in sustai...,NaN
997,#NAME?,NaN,team manager with 8 years of experience enabli...,NaN
998,#NAME?,NaN,i am currently a junior at cal poly san luis o...,NaN
991,#NAME?,['microsoft word'],i'm assisting in the expansion of our company ...,NaN
1000,-18msGiQiE2XLdy6XWGAEQ_0000,NaN,10+ years of leveraged finance and investment ...,NaN
999,-4ldAQ53se0hp9GU5FgnIQ_0000,NaN,an extremely driven professional within the bi...,NaN

In [15]:
data2 = data2.sort_values(by = 'ID')
data2.head()

,ID,summaries,exact_matched_patt_contextual,summaries_matching,Tech_from_string_match,spacy_format_v1,exact_matched_patt,matched_NER_final,spacy_format_manual_tag
1000,8ndhZBQs0dZ0ye0knHLmaQ_0000,['i will accept all requests to connect. i hav...,"['vertica', 'vb.net', 'informatica', 'java', '...",['i will accept all requests to connect. i hav...,"['accept', 'ace', 'acl', 'air', 'alis', 'amp',...","[[915, 926, 'ORG'], [937, 941, 'ORG'], [928, 9...","['accept', 'connect', 'vertica', 'vb.net', 'in...",[],('i will accept all requests to connect. i hav...
999,8pEBZqWPam3qc3hZe8J9iQ_0000,['career in operations and operations manageme...,"['gmail', 'wordpress']",['career in operations and operations manageme...,"['actito', 'and co', 'cat', 'chai', 'conversio...","[[844, 849, 'ORG'], [892, 901, 'ORG']]","['myers', 'gmail', 'wordpress']",[],('career in operations and operations manageme...
998,8swBCNXrB46j727-0svUzA_0000,['i recently finished my 4th year as a mechani...,['python'],['i recently finished my 4th year as a mechani...,"['cien', 'cod', 'ddi', 'electron', 'ics', 'ion...","[[1193, 1199, 'ORG']]","['realm', 'python', 'spring']",[],('i recently finished my 4th year as a mechani...
997,8vBjpjcO8m4AhmnFigWC9g_0000,"[""i am a dual diploma grad with a diploma in g...","['microsoft word', 'adobe']","[""i am a dual diploma grad with a diploma in g...","['adobe', 'adobe photoshop', 'alis', 'ami', 'a...","[[1121, 1126, 'ORG'], [1076, 1090, 'ORG']]","['run', 'microsoft word', 'adobe', 'powerschool']",[],"(""i am a dual diploma grad with a diploma in g..."
996,90f6HfVc7Zs5kn8m65dung_0000,['key accomplishments: manage the interior tri...,['kin'],['key accomplishments: manage the interior tri...,"['amb', 'ambur', 'bench', 'cat', 'cien', 'comb...","[[319, 322, 'ORG']]",['kin'],[],('key accomplishments: manage the interior tri...

In [16]:
data2=data2[['ID','summaries','exact_matched_patt_contextual']]
data2.rename(columns={"ID":"id"}, inplace =True)

In [17]:
data2.head(2)

,id,summaries,exact_matched_patt_contextual
1000,8ndhZBQs0dZ0ye0knHLmaQ_0000,['i will accept all requests to connect. i hav...,"['vertica', 'vb.net', 'informatica', 'java', '..."
999,8pEBZqWPam3qc3hZe8J9iQ_0000,['career in operations and operations manageme...,"['gmail', 'wordpress']"

In [18]:
data['manually_tagged']=data['exact_matched_patt_contextual']
data=data.drop(columns=["exact_matched_patt_contextual","Note"])
data2.rename(columns={"exact_matched_patt_contextual":"manually_tagged"}, inplace =True)

In [19]:
data.head(2)

         id                                          summaries manually_tagged
990  #NAME?  managing director, ceo, strategic business uni...      ['groupe']
983  #NAME?  seasoned executive with more than 23 years of ...             NaN

In [20]:
data2.head(2)

,id,summaries,manually_tagged
1000,8ndhZBQs0dZ0ye0knHLmaQ_0000,['i will accept all requests to connect. i hav...,"['vertica', 'vb.net', 'informatica', 'java', '..."
999,8pEBZqWPam3qc3hZe8J9iQ_0000,['career in operations and operations manageme...,"['gmail', 'wordpress']"

In [21]:
data.shape,data2.shape

((1001, 3), (1001, 3))

In [23]:
newdf2 = pd.concat([data,data2])
newdf2=newdf2.drop_duplicates(subset='id', keep="first")
newdf2 = newdf2.reset_index(drop=True)

In [27]:
newdf2.shape

(1770, 3)

In [28]:
newdf2.id.nunique()

1770

In [26]:
newdf2=newdf2.drop_duplicates(subset='summaries', keep="first")

In [30]:
newdf2 = newdf2[newdf2['manually_tagged'].notna()]

In [31]:
newdf2.shape

(1072, 3)

In [32]:
newdf2

,id,summaries,manually_tagged
0,#NAME?,"managing director, ceo, strategic business uni...",['groupe']
4,019fVCSyDQx0QiT6AuTb5g_0000,suresh devanan is the president & ceo of nish ...,"['insitecommerce', 'sitecore']"
5,02fQ05mmuD6wY1DVbNh2pw_0000,carson (krislov) quinn is principal/founder of...,['gmail']
7,04dK5T2y78a27gewYZxfEA_0000,features: thor: ragnarok spiderman: homecoming...,"['katana', 'zbrush', 'adobe']"
9,0BGBM60uHX-cg1QaVR7xNw_0000,"current products: = amazon alexa, echo past pr...","['alexa', 'gemini']"
10,0DQcBJas8CDJlGK2mgBATg_0000,i am an analytical thinker and work behind log...,['kantar']
11,0I6LWhzf99unLLl1VsEkcA_0000,"i have 15 years of experience leading design, ...",['cygnet']
13,0MA7aw54K2mBYnPhOmAloA_0000,"i like digging deep into products, analyzing u...",['intel']
15,0Ox6RKLrVOP7JkUUaJL7vA_0000,i currently work as a multi-unit leader coveri...,['linux']
18,0YjTZXpDZyt6BryJBxYVnQ_0000,technology and business leader offering 20 yea...,"['nielsen', 'j2ee']"
21,0hWUVUCykgwkyGKMsvbQBw_0000,"a creative, highly motivated and seasoned prof...","['microstrategy', 'paypal','hive']"
27,11eNWgCgefsCiIGghk-OOg_0000,i joined turner & townsend in april 2012 as a ...,['mrp']
32,1VUCEgBHgHm4iH3nV8Lbiw_0000,- a result-oriented professional offering 4 ye...,"['google analytics', 'accenture', 'appnexus']"
33,1W1Fzz1umF7WeTEdUxKnxQ_0000,i am an experienced leader of people and teams...,['activia']
47,2Ye7l7BuBlF2I8VuLdt-GA_0000,seasoned video editor with varied experience i...,['adobe']
49,2dS4SH0Dwyb01je3I5EcBQ_0000,- proactive senior business system analyst (cb...,['pwc']
53,2jfFqHq5TgICPunNZjG8oQ_0000,developer with 4.10 years of experience in des...,"['informatica', 'oracle 10g', 'teradata']"
57,3-B-6-3BqHkAJpvTguoquw_0000,- pmp and itil foundations certified.\n- exten...,['cognizant']
58,30UghjjqQoV-rpg8NDjKnw_0000,involved in java/j2ee related application and ...,"['oracle insurance policy administration', 'co..."
59,34d6Cl-tjwPUGOrWvlKozA_0000,client services professional with over 20 year...,"['sigma', 'ey']"
61,3NOgdjNi-8Dua4SLKyPeDw_0000,i highly enjoy being in a room full of people ...,"['periscope' ,'mosaic']"
66,3n-bXRuT6kpJZcfTSysASg_0000,experience\n\nemployed at mulilo renewable ene...,['coursera']
74,49MgA9uqlmGM7AaNJo97aA_0000,"i love using my communication, development, an...","['wordpress', 'html']"
76,4B9AT50sUMdgSsTmqKjXqA_0000,i have been part of the project from initial p...,"['javascript', 'spring 3.0', 'mysql', 'java', ..."
79,4MqErtkcK7gZ8JF0iAgiZQ_0000,"a highly versatile, curious, and experienced a...","['microsoft sql server', 'sap business objects..."
90,5-XnvgpA1YCz8PEeWEUBRw_0000,a top-performing phr certified human resources...,"['adp payroll', 'kronos']"
93,5GcbBWCkjy15jwBtNKIwkQ_0000,accounting professional with 17 years experien...,"['microsoft excel', 'microsoft visio', 'quickb..."
96,5PB2fQHwaHi8yevvcovH7A_0000,i am an aerospace engineering graduand with al...,['matlab']
98,5SbWSPZgijUz70-N6NZ8KQ_0000,matias blazquez is a web developer with wide e...,"['codeigniter', 'google maps', 'javascript', '..."
106,5x2A8FZBObVx5UACIyLQEw_0000,i am a chemical engineering graduate currently...,['microsoft office']
...,...,...,...
1753,yK5vFh3gxPOn1qbNXn-Wwg_0000,['an accomplished it senior management profess...,['lob']
1754,yN9dXVHARQZcAAwBEjd3Cw_0000,['a highly motivated business intelligence pro...,"['sap business objects', 'teradata', 'qlikview..."
1755,yOa2i0d42O9sfGBJzPUXFg_0000,['technology leader with experience in buildin...,"['azure', 'spring', 'mulesoft', 'apache', 'any..."
1756,yPTGFhq7MTXI4RuVTZiggQ_0000,"['an experienced, driven, collaborative inform...",['dell']
1757,yZl1xvDLDSGKgORsFmP45w_0000,['apmp certified bid manager and a certified b...,['lexisnexis']
1758,yaOXrLm-XJ3Lfa6Uzbmhcw_0000,['top-producing technology sales leader who co...,"['peak 10', 'dell']"
1759,ygQyST2UvuP4veDUpJb3Sw_0000,['i am a bcom accounting graduate i have exper...,"['microsoft office', 'pastel', 'acumatica']"
1760,yr8zt5xLq-rdTrzY6QafRQ_0000,"[""currently finishing my master in internation...","['kontest', 'fastory']"
1761,yspXP4StzHCTTRBVpKP2PA_0000,"[""clover patch australia provide highly compet...",['clover']
1762,yyIQbsu6UFbKrmxO6IQ0lA_0000,"[""i am passionate about helping others reach t...",['accenture']
1763,yzGSGmd3qMal9yILyssSvA_0000,"['sap bw professional with infosys limited, pu...",['sap netweaver']
1764,z1fgcImMNLEOkTdSKxKFMA_0000,['i am a project management professional with ...,['microsoft office']
1765,z4HVnP7kEQXEb-Uh9KalWQ_0000,"['hi, i am currently working in ""eluminous tec...","['android', 'ios', 'ionic', 'php', 'wordpress'..."
1766,zE9ZqJJhGLa133G3BB2Rxg_0000,['objective: to continually expand my sales/te...,"['accenture', 'hazel']"
1767,zFG4JjhB6Rd6U7RzNXFBFA_0000,"['we are experts in lateral hiring for small, ...",['cascade']
1768,zH4Z3HXnZ1KVKQBPIRsEcA_0000,"['extensive knowledge on crm, erp, eai and clo...","['microsoft dynamics', 'github', 'jboss', 'lin..."
1769,zJWGFLKRIJ9Bc3wqurqFzg_0000,['has over eight years of professional experie...,"['java', 'hybris', 'spring', 'cockpit', 'epsil..."
1770,zKroKHroL0RORpWhtHbBmQ_0000,['in the area of active directory i am one of ...,['powershell']
1771,zLkOjHFJxHyyLnDgBCBYgg_0000,['years of helping clients both as a consultan...,['azure']
1772,zMoMFkhvR9QDGN5IltTjVQ_0000,['performing product owner and business analys...,['cognizant']
1773,zSy3NGI4X9G2ldGMrz43hw_0000,['-15 years combined bpo experience in collect...,['upstream']
1774,zXjhtGcZ3oXxPWDYCHJe7w_0000,"[""i'm a nature-loving world traveler with the ...","['accenture', 'jobcase']"
1775,zYOI4JmmTDiT023cU9g7XA_0000,['having spent 8 months in 2011 working with d...,['rsm']
1776,zab8O8Zg9mwcd5HvcdRVGw_0000,"['i am a senior consultant at aquis search, pr...","['microsoft office', 'intel']"
1777,zcYz8XMzVGIlrwJBKnNYTw_0000,"[""i'm a high school student who enjoys latest ...","['wordpress', 'android', 'python', 'django', '..."
1778,zcm4dUdKSBYNBshXRUPI9g_0000,"[""motivated, organised, efficient and hardwork...",['accenture']
1779,zhYBF2y27LTSykBxobls2Q_0000,"[""i am a client-facing interior designer & pro...",['crd']
1780,zkBVW33f66ZcDCZIV9UaNg_0000,['a varied experience set from working in a la...,"['microsoft office', 'adobe']"
1781,zrwYrLdOpaOaeInRdGNGuQ_0000,['experienced material scientist with expertis...,['western digital']
1782,zu5V5tz7VR1S1B7AWZ9cbA_0000,"[""currently employed as a trading agreements s...",['clearstream']

In [33]:
newdf2['manually_tagged'] = [ [] if x is np.NaN else x for x in newdf2['manually_tagged'] ]
newdf2['manually_tagged']=newdf2['manually_tagged'].astype(str)
newdf2['manually_tagged'] = newdf2['manually_tagged'].apply(eval)

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
tech_dict = {}
for i in newdf2['manually_tagged']:
    for j in i:
        if j not in tech_dict:
            tech_dict[j] = 1
        else:
            tech_dict[j] += 1

tech_list=[]
tech_multi_words=[]
for i in tech_dict:
    if ((' ' in i) == True):
        tech_multi_words.append(i)
    else:
        tech_list.append(i)

In [36]:
len(tech_list),len(tech_multi_words)

(648, 156)

In [37]:
import nltk
import re
from bs4 import BeautifulSoup

nltk.download("punkt")

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = BeautifulSoup(text, "lxml").text # HTML decoding
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    return text

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohitbagaria/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [38]:
newdf2["summaries"]=newdf2["summaries"].apply(clean_text)

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
newdf2

,id,summaries,manually_tagged
0,#NAME?,managing director ceo strategic business uni...,[groupe]
4,019fVCSyDQx0QiT6AuTb5g_0000,suresh devanan is the president ceo of nish t...,"[insitecommerce, sitecore]"
5,02fQ05mmuD6wY1DVbNh2pw_0000,carson krislov quinn is principal founder of...,[gmail]
7,04dK5T2y78a27gewYZxfEA_0000,features thor ragnarok spiderman homecoming lo...,"[katana, zbrush, adobe]"
9,0BGBM60uHX-cg1QaVR7xNw_0000,current products amazon alexa echo past prod...,"[alexa, gemini]"
10,0DQcBJas8CDJlGK2mgBATg_0000,i am an analytical thinker and work behind log...,[kantar]
11,0I6LWhzf99unLLl1VsEkcA_0000,i have 15 years of experience leading design ...,[cygnet]
13,0MA7aw54K2mBYnPhOmAloA_0000,i like digging deep into products analyzing u...,[intel]
15,0Ox6RKLrVOP7JkUUaJL7vA_0000,i currently work as a multiunit leader coverin...,[linux]
18,0YjTZXpDZyt6BryJBxYVnQ_0000,technology and business leader offering 20 yea...,"[nielsen, j2ee]"
21,0hWUVUCykgwkyGKMsvbQBw_0000,a creative highly motivated and seasoned prof...,"[microstrategy, paypal, hive]"
27,11eNWgCgefsCiIGghk-OOg_0000,i joined turner townsend in april 2012 as a s...,[mrp]
32,1VUCEgBHgHm4iH3nV8Lbiw_0000,a resultoriented professional offering 4 year...,"[google analytics, accenture, appnexus]"
33,1W1Fzz1umF7WeTEdUxKnxQ_0000,i am an experienced leader of people and teams...,[activia]
47,2Ye7l7BuBlF2I8VuLdt-GA_0000,seasoned video editor with varied experience i...,[adobe]
49,2dS4SH0Dwyb01je3I5EcBQ_0000,proactive senior business system analyst cba...,[pwc]
53,2jfFqHq5TgICPunNZjG8oQ_0000,developer with 410 years of experience in desi...,"[informatica, oracle 10g, teradata]"
57,3-B-6-3BqHkAJpvTguoquw_0000,pmp and itil foundations certified extensive ...,[cognizant]
58,30UghjjqQoV-rpg8NDjKnw_0000,involved in java j2ee related application and ...,"[oracle insurance policy administration, cogni..."
59,34d6Cl-tjwPUGOrWvlKozA_0000,client services professional with over 20 year...,"[sigma, ey]"
61,3NOgdjNi-8Dua4SLKyPeDw_0000,i highly enjoy being in a room full of people ...,"[periscope, mosaic]"
66,3n-bXRuT6kpJZcfTSysASg_0000,experienceemployed at mulilo renewable energy ...,[coursera]
74,49MgA9uqlmGM7AaNJo97aA_0000,i love using my communication development an...,"[wordpress, html]"
76,4B9AT50sUMdgSsTmqKjXqA_0000,i have been part of the project from initial p...,"[javascript, spring 3.0, mysql, java, j2ee]"
79,4MqErtkcK7gZ8JF0iAgiZQ_0000,a highly versatile curious and experienced a...,"[microsoft sql server, sap business objects, h..."
90,5-XnvgpA1YCz8PEeWEUBRw_0000,a topperforming phr certified human resources ...,"[adp payroll, kronos]"
93,5GcbBWCkjy15jwBtNKIwkQ_0000,accounting professional with 17 years experien...,"[microsoft excel, microsoft visio, quickbooks,..."
96,5PB2fQHwaHi8yevvcovH7A_0000,i am an aerospace engineering graduand with al...,[matlab]
98,5SbWSPZgijUz70-N6NZ8KQ_0000,matias blazquez is a web developer with wide e...,"[codeigniter, google maps, javascript, bootstr..."
106,5x2A8FZBObVx5UACIyLQEw_0000,i am a chemical engineering graduate currently...,[microsoft office]
...,...,...,...
1753,yK5vFh3gxPOn1qbNXn-Wwg_0000,an accomplished it senior management professi...,[lob]
1754,yN9dXVHARQZcAAwBEjd3Cw_0000,a highly motivated business intelligence prof...,"[sap business objects, teradata, qlikview, qli..."
1755,yOa2i0d42O9sfGBJzPUXFg_0000,technology leader with experience in building...,"[azure, spring, mulesoft, apache, anypoint pla..."
1756,yPTGFhq7MTXI4RuVTZiggQ_0000,an experienced driven collaborative informa...,[dell]
1757,yZl1xvDLDSGKgORsFmP45w_0000,apmp certified bid manager and a certified bd...,[lexisnexis]
1758,yaOXrLm-XJ3Lfa6Uzbmhcw_0000,topproducing technology sales leader who cons...,"[peak 10, dell]"
1759,ygQyST2UvuP4veDUpJb3Sw_0000,i am a bcom accounting graduate i have experi...,"[microsoft office, pastel, acumatica]"
1760,yr8zt5xLq-rdTrzY6QafRQ_0000,currently finishing my master in internationa...,"[kontest, fastory]"
1761,yspXP4StzHCTTRBVpKP2PA_0000,clover patch australia provide highly competi...,[clover]
1762,yyIQbsu6UFbKrmxO6IQ0lA_0000,i am passionate about helping others reach th...,[accenture]
1763,yzGSGmd3qMal9yILyssSvA_0000,sap bw professional with infosys limited pun...,[sap netweaver]
1764,z1fgcImMNLEOkTdSKxKFMA_0000,i am a project management professional with t...,[microsoft office]
1765,z4HVnP7kEQXEb-Uh9KalWQ_0000,hi i am currently working in eluminous techn...,"[android, ios, ionic, php, wordpress, joomla, ..."
1766,zE9ZqJJhGLa133G3BB2Rxg_0000,objective to continually expand my sales tech...,"[accenture, hazel]"
1767,zFG4JjhB6Rd6U7RzNXFBFA_0000,we are experts in lateral hiring for small m...,[cascade]
1768,zH4Z3HXnZ1KVKQBPIRsEcA_0000,extensive knowledge on crm erp eai and clou...,"[microsoft dynamics, github, jboss, linux, db2]"
1769,zJWGFLKRIJ9Bc3wqurqFzg_0000,has over eight years of professional experien...,"[java, hybris, spring, cockpit, epsilon, messa..."
1770,zKroKHroL0RORpWhtHbBmQ_0000,in the area of active directory i am one of t...,[powershell]
1771,zLkOjHFJxHyyLnDgBCBYgg_0000,years of helping clients both as a consultant...,[azure]
1772,zMoMFkhvR9QDGN5IltTjVQ_0000,performing product owner and business analyst...,[cognizant]
1773,zSy3NGI4X9G2ldGMrz43hw_0000,15 years combined bpo experience in collectio...,[upstream]
1774,zXjhtGcZ3oXxPWDYCHJe7w_0000,im a natureloving world traveler with the eye...,"[accenture, jobcase]"
1775,zYOI4JmmTDiT023cU9g7XA_0000,having spent 8 months in 2011 working with da...,[rsm]
1776,zab8O8Zg9mwcd5HvcdRVGw_0000,i am a senior consultant at aquis search pro...,"[microsoft office, intel]"
1777,zcYz8XMzVGIlrwJBKnNYTw_0000,im a high school student who enjoys latest te...,"[wordpress, android, python, django, ios]"
1778,zcm4dUdKSBYNBshXRUPI9g_0000,motivated organised efficient and hardworki...,[accenture]
1779,zhYBF2y27LTSykBxobls2Q_0000,i am a clientfacing interior designer projec...,[crd]
1780,zkBVW33f66ZcDCZIV9UaNg_0000,a varied experience set from working in a lar...,"[microsoft office, adobe]"
1781,zrwYrLdOpaOaeInRdGNGuQ_0000,experienced material scientist with expertise...,[western digital]
1782,zu5V5tz7VR1S1B7AWZ9cbA_0000,currently employed as a trading agreements sp...,[clearstream]

In [47]:
def convert(lst):
	return ' '.join(lst).split()

def in_techwords_B(sentence):
    final_list=[]
    tag_col=[]
    got_b=False
    broken_list = convert([sentence]) 
    for i in tech_multi_words: #iterating through mutliple word list
        if i in sentence: #if found in sentence
            got_b=True
            listofwords = convert([i])# ['microsoft','office']
            f=True
            for k in listofwords:
                curr_tag="I"
                if(f):
                    curr_tag="B"
                    f=False
                final_list.append(k)
                tag_col.append(curr_tag)
                try:
                    broken_list.remove(k)
                except:
                    print(k)
    tech_words=tech_list
    for word in broken_list:
        curr_tag="O" 
        if word in tech_words:
                curr_tag='B'
                got_b=True
        tag_col.append(curr_tag) #adding tag
        final_list.append(word)
#     tag_col.append(None)
#     final_list.append(None)
    return pd.DataFrame(list(zip(final_list, tag_col)),columns =['Word', 'Tag']),got_b

In [48]:
def in_techwords(sentence):
    final_list=[]
    tag_col=[]
    broken_list = convert([sentence]) 
    for i in tech_multi_words: #iterating through mutliple word list
        if i in sentence: #if found in sentence
            listofwords = convert([i])# ['microsoft','office']
            f=True
            for k in listofwords:
                curr_tag="I"
                if(f):
                    curr_tag="B"
                    f=False
                final_list.append(k)
                tag_col.append(curr_tag)
                try:
                    broken_list.remove(k)
                except:
                    print(k)
#                     print(sentence)
#                     print("An exception occurred")
#                     for i in broken_list:
#                         print(i)
    tech_words=tech_list
    for word in broken_list:
        curr_tag="O" 
        if word in tech_words:
                curr_tag='B'
        tag_col.append(curr_tag) #adding tag
        final_list.append(word)
    tag_col.append(None) #adding blank
    final_list.append(None)#adding blank
    return pd.DataFrame(list(zip(final_list, tag_col)),columns =['Word', 'Tag'])

In [51]:
newdf2=newdf2.reset_index(drop=True)

In [58]:
final_data=pd.DataFrame()
k=0
for i in range(0,len(newdf2)):
    temp,got_b = in_techwords_B(newdf2["summaries"][i])
    length = len(temp)
    wordd="Sentence :"+str(k+1) #sentence no.
    a=[wordd]*length
    temp.insert(0,"Sentence #",a)
    if got_b:
        k+=1
        final_data = final_data.append(temp, ignore_index=True) #appending sentences in the required format

dynamics
google
i
ibm
2008

In [59]:
final_data['Tag'].value_counts()

O    283787
B      6885
I       605
Name: Tag, dtype: int64

In [60]:
df=final_data
df.loc[(df['Tag'] == 'B'), 'Tag'] = 'B-ORG'
df.loc[(df['Tag'] == 'I'), 'Tag'] = 'I-ORG'

In [61]:
df.to_csv("BIO_format_spacy+tech_sort1k.csv",index=False)