In [5]:
import numpy as np
import pandas as pd

In [9]:
data=pd.read_excel("Manually_Tagged_Sheet.xlsx",sheetname="Valid Entries_updated_15_06_202")
# data.head()

data=data.drop(columns=["exact_matched_patt","spacy_format_v1","spacy_format_v1","summaries_matching"])

# data.head()

data.columns=["id","summaries","exact_matched_patt_contextual","Tech_from_string_match"]

,ID,Summary,manually tagged,exact_matched_patt,spacy_format_v1,Tech_from_string_match,summaries_matching
0,iffzNzWDFldBh9sbBpkb0g_0000,['seasoned backend developer. entrepreneur. op...,"['python', 'django', 'node', 'react', 'angular...","['python', 'django', 'node', 'react', 'angular...","[['afnetworking', 381, 392, 'ORG'], ['android'...","['able', 'afnetworking', 'android', 'android s...",['seasoned backend developer. entrepreneur. op...
1,ffx0YzX9weP1GOrRyLs4IQ_0000,cio / it manager senior network engineer profi...,['microsoft system center virtual machine mana...,NaN,NaN,NaN,NaN
2,FFszsKVHfrhafvNzWdgnNA_0000,['cio / it manager senior network engineer pro...,"['microsoft active directory', 'microsoft azur...","['microsoft active directory', 'microsoft azur...","[['acronis', 716, 722, 'ORG'], ['crashplan', 7...","['acronis', 'ark', 'azure', 'cat', 'cien', 'cr...",['cio / it manager senior network engineer pro...
3,PvqzOp5wIyBCUOwrDwQCdw_0000,"[""resourceful data scientist with 5+ years of ...","['python', 'scala', 'java', 'javascript', 'sci...","['real', 'love', 'python', 'scala', 'java', 'j...","[['asana', 972, 976, 'ORG'], ['docker', 814, 8...","['able', 'ace', 'ada', 'adapt', 'adapti', 'ami...","[""resourceful data scientist with 5+ years of ..."
4,3QMzFoTzgVcEbxJK2vrehg_0000,['12 years of experience in web development. g...,"['nodejs', 'mongodb', 'javascript', 'elasticse...","['good', 'nodejs', 'mongodb', 'javascript', 'e...","[['debian', 153, 158, 'ORG'], ['drupal', 1602,...","['ashop', 'ava', 'cat', 'dash', 'debian', 'dru...",['12 years of experience in web development. g...