In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/6lakh_pipeline_company_companies_data_2021-07-21.csv')

/mnt/bert_fine_tuning/cluster_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,revenue,rank,stock_exchange,open_requisitions_range,stock_price,stock_symbol,_id,company_city,company_country,company_state,...,flag,nubela_id,linkedin_internal_id,tagline,linkedin_search_id,linkedin_employee_count,linkedin_follower_count,addr_upd_from,owler_id,partition_0
0,NaN,525172.0,NaN,NaN,NaN,NaN,5b073192599b311ccc11b101,San Francisco,United States,California,...,NaN,proleads-io,2936369.0,NaN,2936369,2.0,97.0,NaN,NaN,2021-07-21
1,NaN,988083.0,NaN,NaN,NaN,NaN,5b0737d1599b311ccc11c3f4,Madrid,Spain,Madrid,...,NaN,cramway,3075546.0,NaN,3075546,1.0,84.0,NaN,NaN,2021-07-21
2,NaN,383864.0,NaN,NaN,NaN,NaN,5b073905599b311ccc11c792,Sion,Switzerland,Valais,...,NaN,imperix,3328031.0,Imperix develops high-end control prototyping ...,3328031,9.0,1174.0,NaN,NaN,2021-07-21
3,NaN,148922.0,NaN,NaN,NaN,NaN,5b073d93599b311ccc11d524,Seoul,Korea Republic of,Seoul-t'ukpyolsi,...,NaN,yonhap-infomax,519567.0,NaN,519567,72.0,NaN,NaN,NaN,2021-07-21
4,NaN,247881.0,NaN,NaN,NaN,NaN,5b07485b599b311ccc11f4af,New York,United States,New York,...,NaN,saffron-fix,52765808.0,NaN,52765808,NaN,NaN,NaN,NaN,2021-07-21

In [4]:
nic = pd.read_csv('../data/NIC.csv')
nic.head()

   2017 NAICS Code                             2017 NAICS Title
0               11  Agriculture, Forestry, Fishing and HuntingT
1              111                            Crop ProductionT
2             1111                   Oilseed and Grain FarmingT
3            11111                             Soybean FarmingT
4           111110                              Soybean Farming

In [5]:
df.columns

Index(['revenue', 'rank', 'stock_exchange', 'open_requisitions_range',
       'stock_price', 'stock_symbol', '_id', 'company_city', 'company_country',
       'company_state', 'company_crunchbase_page', 'company_description',
       'company_facebook_page', 'company_funding', 'company_industry',
       'company_latest_funding_date', 'company_linkedin_page', 'company_name',
       'company_phone_number', 'company_products_services',
       'company_profile_image_url', 'company_sector', 'company_size',
       'company_twitter_page', 'company_type', 'company_website', 'ebitda',
       'fiscal_year', 'homepage_url', 'job_count', 'tags', 'lead_count',
       'updated_at', 'permalink', 'company_founded_at', 'geo_point',
       'company_continent', 'postal_code', 'company_address', 'sic_code',
       'naics_code', 'created_at', 'cb_id', 'revenue_range', 'flag',
       'nubela_id', 'linkedin_internal_id', 'tagline', 'linkedin_search_id',
       'linkedin_employee_count', 'linkedin_follower_count', 'addr_upd_from',
       'owler_id', 'partition_0'],
      dtype='object')

In [11]:
mapp = {}
for index, row in nic.iterrows():
    mapp[row['2017 NAICS Code']] = row['2017 NAICS Title']

In [12]:
there = {}
not_there = []
for index, row in df.iterrows():
    if row['naics_code'] in mapp:
        there[row['_id']] = mapp[row['naics_code']]
    else:
        not_there.append(row['_id'])

In [13]:
print(len(not_there))

596769

In [14]:
print(len(nic))
print(len(df))
print()
print(len(df) - len(nic))

131
596769

596638