In [1]:
# Importing the libraries here

import pandas as pd
import numpy as np
import ast
import json
from operator import add 
from operator import truediv
import re
# import swifter
from tqdm import tqdm

In [2]:
#data with TECH removed or non master removed and tech removed
# summary = pd.read_csv("BERT_Pred_189_FULL_with_eng.csv")
# summary = pd.read_csv("BERT_Pred_189_FULL_without_MASTER.csv")
# summary = pd.read_csv("BERT_Pred_500_without_MASTER_ROW_WISE.csv")
# summary = pd.read_csv("BERT_Pred_500_without_MASTER_ENG+TECH_ROW_WISE.csv")

summary = pd.read_csv("Bert_Preds_EXP_Summary_ENG+TECH.csv")


# summary["BERT_tags"]=summary["BERT_tags_wo_MASTER"]
# summary["BERT_ENG_tag"]=summary["BERT_tags_wo_MASTER"]

In [3]:
summary.head()

,Unnamed: 0,id,summaries,exact_matched_patt_contextual,BERT_ENG+string_matched
0,0,-4W7H0UFJneCeHmDK-b9LA_0000,im a seasoned software consultant and manager...,['gmail'],[]
1,1,-5KQNWRmZUAxcmAKsBVFCw_0000,committed and clientfocused technical lead wi...,"['oracle pl/sql', 'vb.net', 'hp quality center...","['tidal', 'windows xp']"
2,2,-9vRkMCaww4q9MTuMhg16A_0000,professional web site design and development ...,"['html', 'php', 'javascript']","['html', 'javascript', 'php']"
3,3,-nZOV-0MncypcjMiVI38pQ_0000,experienced it software and infrastructure pr...,"['versionone', 'ios', 'sharepoint', 'windows 1...","['citrix xenmobile', 'dell', 'versionone', 'sh..."
4,4,0-6kc4T3YjlcPQYOK7Wt4g_0000,now hiring actively sourcing nfoh manager agm...,['gmail'],[]

In [4]:
# dataa = summary[['id','summaries','exact_matched_patt_contextual','BERT_Tags']]

# dataa = summary[['ID','summaries','exact_matched_patt_contextual','string_matched']]

In [5]:
# summary=dataa

In [4]:
summary = summary.sort_values(by=['id'], ascending=False)
summary.reset_index(inplace = True, drop = True)

In [5]:
# col_name_op = "BERT_Tags"
col_name_op ="BERT_ENG+string_matched"
# col_name_op = "string_matched"

In [6]:
# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

df_cm = summary

In [7]:
df_cm = convert_data_format(df_cm, col_name_op)

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_cm = convert_data_format(df_cm, "exact_matched_patt_contextual")

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df_cm[col_name_op][12]

[]

In [10]:
df_cm["exact_matched_patt_contextual"][12]

['gmail']

In [11]:
count_context_technologies = []

for i in range(0, len(df_cm)):
    count_context_technologies.extend(df_cm["exact_matched_patt_contextual"][i])
d = list(set(count_context_technologies))
len(d)

362

# Converting into dataformat to compare two strings

In [12]:
# TP: present in both sheet i==j
# TN: not in both (insignificant)
# FP: in extracted sheet but not in manual tagging     i!=j
# FN: in manual tagging and is not in extracted tagging j

In [13]:
tp = []
tn = []
fp = []
fn = []

In [14]:
TP = TN = FP = FN = 0

# TP + FP calculation
# op_string = exact_matched_patt
# , manual_tagged_string = Actual/Actual(NER)

df_cm.head()

,Unnamed: 0,id,summaries,exact_matched_patt_contextual,BERT_ENG+string_matched
0,384,zeExhAA-r0lbcTQH41BlFg_0000,senior account manager at verizon enterprise ...,[verizon enterprise],[verizon enterprise]
1,386,zSvilx9nLA2ADlgkbh0Avw_0000,12 years of software development experience o...,"[microsoft.net, asp.net, java, jquery, html, j...","[html, angular, jquery mobile, nunit, java, an..."
2,381,z5Kl-V2w51Z-6uhXbNCRrQ_0000,ours excavating is a commercial excavating de...,[gmail],[]
3,375,yCI14syBYDiD3pwIDKVEKQ_0000,getting things done voor iedere uitdaging de ...,[gmail],[]
4,370,xuMF3K3aFCBGMOElWU0WTA_0000,12 +years of experience in development qa dev...,"[java, selenium]","[java, sap erp, selenium, j2ee, eclipse]"

In [15]:
df_cm["exact_matched_patt_contextual"] = df_cm["exact_matched_patt_contextual"].fillna('[]')

# # reading 
# tech = pd.read_csv("/Users/mohitbagaria/Downloads/spacy_string_match/Eng_pydictionary_2.csv")
# # tech = pd.read_csv("Tech_pydictionary_2.csv")

# tech.columns = ["index", "title"]
# tech.drop(columns = ["index"], axis =1 , inplace = True)
# tech.reset_index(inplace = True, drop = True)

In [16]:
# tech.head()

In [17]:
# tech_list = tech["title"].tolist()
# tech_list = list(set(tech_list))
# len(tech_list)

In [18]:
# for i in range(0, len(tech_list)):
#     tech_list[i] = tech_list[i].lower()

In [19]:
# tech_list

In [20]:
# tech_tag_list = []

# def get_tech_tagged_data(manually_tagged, tech_list):
#     manually_tagged_copy = manually_tagged
#     for word in list(manually_tagged):
# #         print(word)
#         if word not in tech_list:
#             manually_tagged.remove(word)
#     return manually_tagged

In [21]:
# df_cm.head()

In [22]:
for i in range(0, len(df_cm)):
    l = df_cm[col_name_op][i]
    df_cm[col_name_op][i] = [0 if element == '0' else element for element in l]

/Users/mohitbagaria/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
for i in range(0, len(df_cm)):
  words = df_cm[col_name_op][i]
  stopwords = [0]
  for word in list(words):
    if word in stopwords:
      words.remove(word)

In [24]:
def Diff(li1, li2): #FP entries
    return list(set(li2)-set(li1))

In [25]:
def Same(lis1,lis2): #TP entries
    return list(set(lis1).intersection(lis2))

In [26]:
def Common(lis1,lis2):
    return list(set(lis1)-(set(lis2)))

In [27]:
# list of technologies which are not in extracted list but are in tagged list i.e. FN entries
df_cm['FP_entries'] = df_cm.apply(lambda x: Diff(x["exact_matched_patt_contextual"], x[col_name_op]), axis = 1)

In [28]:
# list of technologies which are in extracted list and are in tagged list i.e. TP entries
df_cm['TP_entries'] = df_cm.apply(lambda x: Same(x["exact_matched_patt_contextual"], x[col_name_op]), axis = 1)

In [29]:
# list of technologies which are NOT extracted list and are in tagged list i.e. FN entries
df_cm['FN_entries'] = df_cm.apply(lambda x: Common(x["exact_matched_patt_contextual"], x[col_name_op]), axis = 1)

In [30]:
df_cm.head(15)

,Unnamed: 0,id,summaries,exact_matched_patt_contextual,BERT_ENG+string_matched,FP_entries,TP_entries,FN_entries
0,384,zeExhAA-r0lbcTQH41BlFg_0000,senior account manager at verizon enterprise ...,[verizon enterprise],[verizon enterprise],[],[verizon enterprise],[]
1,386,zSvilx9nLA2ADlgkbh0Avw_0000,12 years of software development experience o...,"[microsoft.net, asp.net, java, jquery, html, j...","[html, angular, jquery mobile, nunit, java, an...",[jquery mobile],"[javascript, angularjs, nunit, angular, rabbit...","[microsoft.net, asp.net]"
2,381,z5Kl-V2w51Z-6uhXbNCRrQ_0000,ours excavating is a commercial excavating de...,[gmail],[],[],[],[gmail]
3,375,yCI14syBYDiD3pwIDKVEKQ_0000,getting things done voor iedere uitdaging de ...,[gmail],[],[],[],[gmail]
4,370,xuMF3K3aFCBGMOElWU0WTA_0000,12 +years of experience in development qa dev...,"[java, selenium]","[java, sap erp, selenium, j2ee, eclipse]","[j2ee, sap erp, eclipse]","[selenium, java]",[]
5,368,xlZw0zgxhTJ34Zkj8qz3ow_0000,i am an upcoming graduate from the university...,[gmail],[],[],[],[gmail]
6,366,xi1WETjz2xTW4jBSE8U8DQ_0000,specialties advertising technology agile soft...,"[java, javascript]","[javascript, java]",[],"[java, javascript]",[]
7,365,xfwmFMDDgwYyhZMc1MJcpg_0000,cpa eligible currently taking cpa exams and a...,[gmail],[],[],[],[gmail]
8,361,wy3R8tztPGIHWzOl1wTTOg_0000,an experienced test consultant in the field o...,"[ibm rational, soapui, selenium, javascript, j...","[soapui, java, python, selenium, perl, javascr...",[],"[ibm rational, perl, selenium, soapui, javascr...",[]
9,354,wmiO3uJcgJcjGMruOdWykg_0000,an accomplished resultsoriented customer supp...,[gmail],[],[],[],[gmail]
10,352,wfeb9x1PszS-BeaAlBlS4w_0000,i am a selfstarter with a passion for busines...,[google analytics],[],[],[],[google analytics]
11,359,wTue5Ls4a6DY7MB4rxCynw_0000,im an extrovert with good managerial skills h...,"[adobe, forte]","[adobe, swift, forte, adobe photoshop]","[swift, adobe photoshop]","[forte, adobe]",[]
12,356,wPQdim5iOSpeJnA5zh5lHA_0000,goals involve using systems engineering and l...,[gmail],[],[],[],[gmail]
13,355,wMr2Z7wACq1tSdfGQrWP2Q_0000,i have been working in the film and tv indust...,[gmail],[],[],[],[gmail]
14,351,wAXzF14t17vJAESEBSbWEA_0000,experienced developer java bpm and mainframe ...,"[java, informatica, spring, html, javascript, ...","[html, javascript, linux, spring, java, jboss,...",[],"[linux, jboss, cobol, jenkins, jcl, informatic...",[]

In [31]:
# df_cm.to_csv("bert_eng_accuracy_M1_with_entries.csv", index = False)

In [32]:
def get_TP(df,manual_tagged_string,op_string):
    
    for ind in df.index:
        TP = FP = 0
        
        for i in range(0, len(df[op_string][ind])):
            
            if df[op_string][ind][i] in df[manual_tagged_string][ind]:
                TP = TP + 1
                
            else:
                pass
                
        tp.append(TP)

    return tp

In [33]:
fp_entry =[]
# fn_entry = []

In [34]:
# import numpy as np
# list_1 = ["a", "b", "c", "d", "e"]
# list_2 = ["a", "f", "c", "m"] 
# # yields the elements in `list_2` that are NOT in `list_1`
# main_list = np.setdiff1d(list_2,list_1)
# yields the elements in `list_2` that are NOT in `list_1`



def get_FP(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        main_list = np.setdiff1d(df[op_string][ind],df[manual_tagged_string][ind])
        fp.append(len(main_list))
        fp_entry.append(main_list)
        
        
    return fp, fp_entry

In [35]:
# ORIGINAL
# def get_FN(df,manual_tagged_string, op_string):
    
#     for ind in df.index:
        
#         main_list = np.setdiff1d(df[manual_tagged_string][ind], df[op_string][ind])
#         fn.append(len(main_list))
        
#     return fn

In [36]:
def get_FN(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        
        main_list = np.setdiff1d(df[manual_tagged_string][ind], df[op_string][ind])
        if df[manual_tagged_string][ind]=='[]':
            fn.append(0)
        else:
            fn.append(len(main_list))
        
    return fn

In [37]:
# entry like Empty|list of technology output

In [38]:
# def get_FN(df,manual_tagged_string, op_string):
    
#     for ind in df.index:
        
#         main_list = np.setdiff1d(df[manual_tagged_string][ind], df[op_string][ind])
#         if (manual_tagged_string[ind] == "[]"or manual_tagged_string[ind] == ""):
#             fn.append(0)
#         else:
#             fn.append(len(main_list))
        
#     return fn

In [39]:
# function call
tp = get_TP(df_cm, "exact_matched_patt_contextual", col_name_op)
fp, fp_entry_names = get_FP(df_cm, "exact_matched_patt_contextual", col_name_op)
fn = get_FN(df_cm, "exact_matched_patt_contextual", col_name_op)

# tp = get_TP(df_cm, "Tech_Label", col_name_op)
# fp, fp_entry_names = get_FP(df_cm, "Tech_Label", col_name_op)
# fn = get_FN(df_cm, "Tech_Label", col_name_op)


# tp = get_TP(df_cm, "Technology", col_name_op)
# fp = get_FP(df_cm, "Technology", col_name_op)
# fn = get_FN(df_cm, "Technology", col_name_op)

In [40]:
# tp

In [41]:
print(len(tp), len(fp), len(fn))

391 391 391

In [42]:
len(fp_entry_names)

391

In [43]:
type(fp_entry_names)

list

In [44]:
dict_fp = {}

In [45]:
for i in range(0, len(fp_entry_names)):
    fp_entry_names[i] = fp_entry_names[i].tolist()
    dict_fp[i] = fp_entry_names[i]

In [46]:
# dict_fp

In [47]:
# for i in range(0, len(fn_entry_names)):
# #     fn_entry_names[i] = fn_entry_names[i].tolist()
#     dict_fn[i] = fn_entry_names[i]

In [48]:
# dict_fn

In [49]:
# len(dict_fp)

In [50]:
# df_fp = pd.DataFrame(dict_fp.items(), columns=['index', 'FP_entries_string'])
# df_fn = pd.DataFrame(dict_fp.items(), columns=['index', 'FN_entries_combined'])

In [51]:
# len(df_fp)

In [52]:
# df_fp_fn = pd.concat([df_fp, df_cm], axis = 1)

In [53]:
# df_fp_fn.head()

In [54]:
# df_fp_fn.to_csv("FP_combined.csv", index = False)

In [55]:
# creating a dataframe
df_matrix = pd.DataFrame(list(zip(tp, fp, fn)), 
               columns =['TP', 'FP', "FN"])
df_matrix.head(-1)

     TP  FP  FN
0     1   0   0
1     8   1   2
2     0   0   1
3     0   0   1
4     2   3   0
5     0   0   1
6     2   0   0
7     0   0   1
8     7   0   0
9     0   0   1
10    0   0   1
11    2   2   0
12    0   0   1
13    0   0   1
14   12   0   0
15    0   1   1
16    0   0   1
17    0   0   1
18    1   0   0
19    0   0   1
20    1   0   0
21    4   0   0
22    1   0   0
23   12   2   1
24    0   0   1
25    2   1   0
26    5   0   0
27    0   0   1
28    0   0   1
29    4   0   0
..   ..  ..  ..
360   0   1   1
361   0   0   1
362   2   0   0
363   0   0   1
364   1   1   0
365   2   0   0
366   3   0   3
367   4   0   0
368   1   0   0
369   0   0   1
370   0   0   1
371   4   0   0
372   9   3   1
373   7   0   1
374   0   0   1
375   1   1   0
376   4   1   2
377   1   0   0
378   1   0   0
379   0   0   1
380   1   0   1
381   1   2   0
382   0   0   1
383   4   1   1
384   3   0   0
385   2   0   4
386   0   0   1
387   2   0   0
388   1   2   1
389   2   1   0

[390 rows x 3 columns]

In [56]:
def get_precision(tp,fp):
    
    if tp+fp ==0:
        precision = 0
    else:
        precision = tp/(tp+fp)
    
    return precision

In [57]:
def get_recall(tp,fn):
    
    if tp+fn ==0:
        recall = 0
    else:
        recall = tp/(tp+fn)
    
    return recall

In [58]:
def get_f_score(precision, recall):
    if precision+recall == 0:
        f_score = 0
    else:
        f_score = 2*(precision*recall)/(precision+recall)
        
    return f_score

In [59]:
df_matrix['Precision'] = df_matrix.apply(lambda x: get_precision(x["TP"], x["FP"]), axis = 1)

In [60]:
df_matrix["Recall"] = df_matrix.apply(lambda x: get_recall(x["TP"], x["FN"]), axis = 1)

In [61]:
df_matrix["f_score"] = df_matrix.apply(lambda x: get_f_score(x["Precision"], x["Recall"]), axis = 1)

In [62]:
df_matrix.head()

   TP  FP  FN  Precision  Recall   f_score
0   1   0   0   1.000000     1.0  1.000000
1   8   1   2   0.888889     0.8  0.842105
2   0   0   1   0.000000     0.0  0.000000
3   0   0   1   0.000000     0.0  0.000000
4   2   3   0   0.400000     1.0  0.571429

In [65]:
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_ner_en_large_flair_100_tagged.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_spacy_adding_more_tags.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_String_Match_non_context.csv", index = False)
# df_matrix.to_csv("189_BERT_tags_SPACY_TEST_DATA_M1_12_Jun_21.csv", index = False)

# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_lg__moreTAGS_tagged_100_more_ENTS.csv", index = False)
# df_matrix.to_csv("Train_Data/Accuracy_Data/Dataset_to_run_on_all/Output/Accuracy_Sheet_lg_100_simple_spacy.csv", index = False)

In [63]:
final_data = df_cm.join(df_matrix)
final_data.to_csv("ACC-ENG+TECH_BERT_pred_ENG_SUM_EXP.csv")
# final_data.to_csv("1190_spacy_pred_tech_match.csv")