In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
jd = pd.read_excel('Jobs.xlsx')
ID='ID'
text='text'
tag='Manually Tagged'

jd_refined = jd[[ID,text,tag]]


jd_refined_train, jd_refined_val = train_test_split(jd_refined, test_size =0.2)
print(len(jd_refined),'==',len(jd_refined_train),'+',len(jd_refined_val))

1824 == 1459 + 365

In [3]:
summary = pd.read_excel('Summary.xlsx')

summary.columns
# summary=summary.loc[:2499]

ID='ID'
text='text'
tag='Manually Tagged'

summary_refined = summary[[ID,text,tag]]
summary_refined.columns=['ID','text','Manually Tagged']

summary_refined_train, summary_refined_val = train_test_split(summary_refined, test_size =0.2)
print(len(summary_refined),'==',len(summary_refined_train),'+',len(summary_refined_val))

2893 == 2314 + 579

In [4]:
exp = pd.read_excel('Experience.xlsx')

exp.columns
# exp=exp.loc[:2499]

ID='ID'
text='text'
tag='Manually Tagged'

exp_refined = exp[[ID,text,tag]]
exp_refined.columns=['ID','text','Manually Tagged']

exp_refined_train, exp_refined_val = train_test_split(exp_refined, test_size =0.2)
print(len(exp_refined),'==',len(exp_refined_train),'+',len(exp_refined_val))

1851 == 1480 + 371

In [5]:
train_data = pd.concat([exp_refined_train,summary_refined_train,jd_refined_train])
val_data = pd.concat([exp_refined_val,summary_refined_val,jd_refined_val])

In [6]:
print(len(train_data)/(len(train_data)+len(val_data)))

0.7997868453105969

In [7]:
len(train_data),len(val_data)

(5253, 1315)

In [8]:
len(train_data.dropna()),len(val_data.dropna())

(5248, 1313)

In [9]:
train_data=train_data.dropna()
val_data=val_data.dropna()
train_data.reset_index(inplace=True,drop=True)
val_data.reset_index(inplace=True,drop=True)

In [10]:
val_data

,ID,text,Manually Tagged
0,e6BCr4HKuaVKMHPG-quc4A_0000,"[""as part of ixia solutions group we have crea...",['ixia']
1,syJJQvc1-bMAaoBys9Do5A_0000,['worked as a asst. sales manager with indiama...,['julius']
2,hwJrXcf6j4jLug6447Vqgw_0000,"[""executed integrated healthcare communication...","['kythera', ' curated']"
3,DqHwovLSSVIEBqqCauyh3w_0000,"[""we understand that our customers want an eas...",['our people']
4,uG69cDFE6LidsloG3aKoCQ_0000,['digital client services liaison at accenture'],['accenture']
...,...,...,...
1308,87c2aff3-7dfd-465b-96c1-f5e682d6ca20,"['ep wealth advisors admin , llc (""epwa"") is a...",['microsoft office']
1309,42ed88b1-a646-4dc1-962f-c0b61fe10a31,"[""name provider purpose expiry type name provi...",['google doubleclick']
1310,9fe82f10-b9ed-4299-af4f-51b0df3da636,['**class 1 tipper drivers**\n\nnorthampton\n\...,['onsite']
1311,5734b520-8edc-420b-911d-eda20f67b08c,"[""**solutions engineer**\n\nmelbourne **this r...","[' salesforce sales cloud', ' salesforce marke..."
1312,83d29d88-9cb7-4d93-9cca-5f7e0a27905b,['**staff software engineer in test - konnect ...,"['kubernetes', ' lifecycle']"

In [11]:
def rem_Space_manual(data,tag):
    data[tag]=data[tag].astype(str)
    data[tag]=data[tag].apply(eval)
    lst=[]
    for i in data[tag]:
        one_sen=[]
        for j in i:
            one_sen.append(j.strip())
        lst.append(one_sen)
    data[tag]=lst
    return data

In [12]:
train_data=rem_Space_manual(train_data,tag)
val_data=rem_Space_manual(val_data,tag)

In [13]:
val_data

,ID,text,Manually Tagged
0,e6BCr4HKuaVKMHPG-quc4A_0000,"[""as part of ixia solutions group we have crea...",[ixia]
1,syJJQvc1-bMAaoBys9Do5A_0000,['worked as a asst. sales manager with indiama...,[julius]
2,hwJrXcf6j4jLug6447Vqgw_0000,"[""executed integrated healthcare communication...","[kythera, curated]"
3,DqHwovLSSVIEBqqCauyh3w_0000,"[""we understand that our customers want an eas...",[our people]
4,uG69cDFE6LidsloG3aKoCQ_0000,['digital client services liaison at accenture'],[accenture]
...,...,...,...
1308,87c2aff3-7dfd-465b-96c1-f5e682d6ca20,"['ep wealth advisors admin , llc (""epwa"") is a...",[microsoft office]
1309,42ed88b1-a646-4dc1-962f-c0b61fe10a31,"[""name provider purpose expiry type name provi...",[google doubleclick]
1310,9fe82f10-b9ed-4299-af4f-51b0df3da636,['**class 1 tipper drivers**\n\nnorthampton\n\...,[onsite]
1311,5734b520-8edc-420b-911d-eda20f67b08c,"[""**solutions engineer**\n\nmelbourne **this r...","[salesforce sales cloud, salesforce marketing ..."
1312,83d29d88-9cb7-4d93-9cca-5f7e0a27905b,['**staff software engineer in test - konnect ...,"[kubernetes, lifecycle]"

In [14]:
train_data.to_csv('All_mixed_train.csv',index=False)
val_data.to_csv('All_mixed_val.csv',index=False)

In [15]:
from CLASS_BIO_Format_Tagging import BIO_Tagger

print(BIO_Tagger.__doc__) #DOCSTRING

path="All_mixed_train.csv" #DATA PATH
manual_tag_col = 'Manually Tagged' #ENTER MANUAL TAGS COLUMN NAME
text_col = 'text'  #ENTER PREDICTION COLUMN NAME
obj = BIO_Tagger(path,manual_tag_col,text_col) #object is created
bio_tagged_data=obj.runner() 

print(bio_tagged_data['Tag'].value_counts())

__init__ : INPUT- Mandatory - Data loading, and column definitions

clean_text : changes can be made as per your requirement
             INPUT- text
             RETURNS- cleaned text

give_tags: INPUT- List of Tags
           RETURNS- Two lists (single word Tag, Multi-word Tag)

find_all : To Get all occurences(index) of a string

convert : Spliting mutli-words by space and returning them as a list

BIO_conversion : INPUT- sentence
                 RETURNS- dataframe(with words of a sentence in column) with its TAG
                 LOGIC - First get Single and Multi-words tags,
                         Search for all occurences of the Multi-words tags
                         and storing those indexes to Tag Multi-words when encountered handled those indexes
                         seperately, cause only they will be tagged as 'I'
runner: INPUT- None
        USE - 1. Cleans the sentence(Calls clean_text function)
              2. Converts manual tags into iterable list format
              3. Calls BIO_conversion for each sentence in the data
        RETURNS: DataFrame with BIO Tagging

O        1369691
B-ORG      20522
I-ORG       4906
Name: Tag, dtype: int64

In [16]:
bio_tagged_data.to_csv('Final_bio_tagged_data.csv')